<html>
    <head>
        <style>
            .email_table{
                border-collapse: collapse;
                width: 80%;
            }
    
           .email_table tr td {
                border: 1px solid lightgray;
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <p>Dear Recruitment SPOC,</p>
        <p>Please be informed that as per the recruitment and selection process, we have approved the below candidate request. The same has been sent to Vendor SPOC (Vendor SPOC Name & E Mail ID) for further approval.</p>
                  
        <table class="email_table">
            <tr>
                <td class="red_td">Candidate Name</td>
                <td>{{ candidate_name }} | {{ candidate_id }} </td>
            </tr>
            <tr>
                <td>Vendor</td>
                <td>{{ vendor_name }}</td>
            </tr> 
            <tr>
                <td>Functional Details</td>
                <td>{{ dept_name }} | {{ function_name }} | {{ team_name }} | {{ sub_team_name }}</td>
            </tr>
            <tr>
                <td>Designation</td>
                <td>{{ desg_name }}</td>
            </tr>
            <tr>
                <td>Location Details</td>
                <td>{{ region_name }} | {{ state_name }} | {{ city_name }} | {{ location_name }} & {{ location_code }}</td>
            </tr>
            <tr>
                <td>Monthly Gross</td>
                <td>{{ salary_num }} ( {{ salary_word }} )</td>
            </tr>
            <tr>
                <td>Reporting Manager</td>
                <td>{{ rm_name }} | {{ rm_mail }}</td>
            </tr>
            <tr>
                <td>Date of joining</td>
                <td>{{ doj }}</td>
            </tr>
            <tr>
                <td class="red_td">Web Application Link</td>
                <td><a href="https://ob.associatehrms.com">https://ob.associatehrms.com</a></td>
            </tr>           
           
        </table>
        <p>You are also requested to cross validate the candidate details and complete candidate over <a href="https://ob.associatehrms.com"> onboarding portal </a> .</p>
        <p>Once approved from the Vendor SPOC, the “Letter of Intent” will be sent to the Candidate, and after candidate documents upload the offer letter will also be visible to the candidate. The status from each of the SPOC and the activity will be made available over <a href="https://ob.associatehrms.com"> onboarding portal </a>.</p>
                
        <p>Help Manual is attached in the <a href="{{ manual_link }}">link</a> for your kind reference and easy navigation.</p>
        <p>For any further queries, please contact the Onboarding SPOC ({{ onboarding_spoc }}) or the Admin ( {{ admin }} , E Mail ID : {{ admin_mail }}).</p>
        <p>Regards,</p>
        <p>Team HR</p>
        <p>Note: This is a system generated mail, please do not reply.</p>        
        
            
    </body>
</html>