<html>
    <head>
        <style>
            .email_table{
                border-collapse: collapse;
                width: 80%;
            }
    
           .email_table tr td {
                border: 1px solid gray;
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <p>Dear {{ recruiter_first_name }} / {{ onboarding_first_name }},</p>
        <p>Please be informed that while giving the joining confirmation, reporting manager {{ rm_name }} has confirmed that the below mentioned candidate has <span class="color:red;" > “dropped-out”</span>.</p>
        <p>Request you to please connect with candidate and do the needful.</p>
        <table class="email_table">
            <tr>
                <td class="red_td">Candidate Name</td>
                <td>{{ candidate_full_name }} | {{ candidate_id }} </td>
            </tr>
            <tr>
                <td>Vendor</td>
                <td>{{ vendor_name }}</td>
            </tr> 
            <tr>
                <td>Functional Details</td>
                <td>{{ dept_name }} | {{ function_name }} | {{ team_name }} | {{ sub_team_name }} | {{ desg_name}} </td>
            </tr>
            <tr>
                <td>Designation</td>
                <td>{{ desg_name }}</td>
            </tr>
            <tr>
                <td>Location Details</td>
                <td>{{ region_name }} | {{ state_name }} | {{ city_name }} | {{ location_name }} ( {{ location_code }} )</td>
            </tr>
           
            <tr>
                <td class="red_td">Web Application Link</td>
                <td><a href="https://ob.associatehrms.com">https://ob.associatehrms.com</a></td>
            </tr>           
           
        </table>
        <p>Regards,</p>
        <p>Team HR</p>
        <p>Note: This is a system generated mail, please do not reply.</p>        
        
            
    </body>
</html>
