<html>
    <body>
        <p>Dear {{ candidate_name }},</p>
        <p> With reference to your interviews and subsequent discussions you had with us, we are pleased to offer you a position of {{ designation }} with {{ vendor_name }} and deputed to {{ company_name }} . </p>
    
        <p>Detailed job objectives will be provided upon joining. The appointment offer is subject to the information provided by you in your Resume / Bio Data / Curriculum Vitae (CV) and interviews are correct and valid.</p>
            
        <p>Your work location will be {{ state }} , {{ city }} The job is transferable anywhere within India.</p>
            
        <p>Your Annual Cost To Company (CTC) will be INR {{ ctc_number }} ( {{ ctc_words|title }} ). The Management reserves the right to bifurcate or merge the Allowances in Basic salary. A detailed salary structure along with appointment letter will be provided after the date of joining.</p>
            
        <p>The appointment is valid from the date of your joining which should not be later than {{ doj }}.</p>
            
        <p>Please send in your acceptance by returning signed acknowledgement. Upon joining, we will provide you a detailed fixed term appointment letter.</p>
                
    
        <br>
        <p>
            Kindly bring copy of the below mentioned documents at the time of joining:
        </p>
        <ol>
            <li>Five (5) Passport size photographs with white background – name written at the back.</li>
            <li>Self-attested photocopies of Educational Certificates.</li>
            <li>Self-attested photocopy of your PAN Card.</li>
            <li>Self-attested Photocopy of AADHAR Card</li>    
            <li>Self-attested Photocopy of your Photo ID e.g. Voter ID / Aadhar Card / Driving License.</li>
            <li>1 original and 1 photocopy of Cancelled cheque from your Bank account or 2 photocopies of front page of your passbook.</li>
            <li>Resignation mail or Resignation Letter / Non Obligation Certificate from your previous organization (If any).</li>
        </ol>
        <p>You can share the documents to mail id - {{ vendor_spoc_email }} marked in CC.</p>
        <p>
            Please note that any claims based on the alleged verbal promises by any authority, not a part of this letter, will not be entertained in future.
    
            This “Letter of Intent” shall be valid for two weeks or till the date of joining, whichever is earlier. 
        </p>
        <br>
        For {{ vendor_name }}
        Authorised Signatory
    </body>
</html>