{% load static %}
<html lang="en">
    

    <head>
        <!-- <link href="http://127.0.0.1:8000/static/csp_app/css/email.css" rel="stylesheet"> -->
        <style>
            .email_table{
                border-collapse: collapse;
                width: 80%;
            }

           .email_table tr td {
                border: 1px solid gray;
                padding: 5px;
            }

            /* .red_td{
                background: #bf0711;
                color: #f5f5fa;
            } */
        </style>
    </head>
    <body>
        <p>Dear {{ user }},</p>
        <p>Welcome aboard, below are the credentials to login over Associate Onboarding Tool.</p>
        <table class="email_table">
            <tr>
                <td class="red_td">Name</td>
                <td>{{ firstname }} {{ lastname }}</td>
            </tr>
            <tr>
                <td class="red_td">Web Application Link</td>
                <td><a href="https://ob.associatehrms.com">https://ob.associatehrms.com</a></td>
            </tr>
            <tr>
                <td class="red_td">Username</td>
                <td>{{ username }}</td>
            </tr>
            <tr>
                <td class="red_td">Password</td>
                <td>{{ password }}</td>
            </tr>
            <tr>
                <td class="red_td">Manual Help</td>
                <td>{{ manual_link }}</td>
            </tr>
        </table>
        <p>Please use above credentials to login over Associate Onboarding Tool. Do change your password on your first login.</p>
        <p>For any further queries / clarification, please contact with Admin : {{admin}} ( {{ admin_mail }} ).</p>
        <p>Regards,</p>
        <p>Team HR</p>
        <p>Note: This is a system generated mail, please do not reply.</p>        
    </body>
</html>