<html>
    <head>
        <style>
            .email_table{
                border-collapse: collapse;
                width: 80%;
            }
    
           .email_table tr td {
                border: 1px solid gray;
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <p>Dear {{ onboarding_spoc }},</p>
        <p>Please be informed that as per the recruitment and selection process, we have selected the below mentioned candidature who is fit as per business / functional requirements. Following details are for your kind perusal, kindly accept / reject / modify the same, basis your guidelines / processes.</p>
                  
        <table class="email_table">
            <tr>
                <td class="red_td">Candidate Name</td>
                <td>{{ candidate_name }} | {{ candidate_id }} </td>
            </tr>
            <tr>
                <td>Vendor</td>
                <td>{{ vendor_name }}</td>
            </tr> 
            <tr>
                <td>Functional Details</td>
                <td>{{ dept_name }} | {{ function_name }} | {{ team_name }} | {{ sub_team_name }}</td>
            </tr>
            <tr>
                <td>Designation</td>
                <td>{{ desg_name }}</td>
            </tr>
            <tr>
                <td>Location Details</td>
                <td>{{ region_name }} | {{ state_name }} | {{ city_name }} | {{ location_name }} & {{ location_code }}</td>
            </tr>
            <tr>
                <td>Monthly Gross</td>
                <td>{{ salary_num }} ( {{ salary_word }} )</td>
            </tr>
            <tr>
                <td>Reporting Manager</td>
                <td>{{ rm_name }} | {{ rm_mail }}</td>
            </tr>
            <tr>
                <td>Date of joining</td>
                <td>{{ doj }}</td>
            </tr>
            <tr>
                <td class="red_td">Web Application Link</td>
                <td><a href="https://ob.associatehrms.com">https://ob.associatehrms.com</a></td>
            </tr>           
           
        </table>

        <p>Complete details are attached for your review, you are requested to review the details and perform duplicity checks. If required, do correct the details by modifying the request.</p>
        <p>Do share your confirmation by submitting the details over the portal. Once submitted, the request will further go to vendor. Once the Vendor Submits the request the “Letter of Intent” LOI will be sent to the Candidate.</p>
        <p>Help Manual is attached in the <a href="{{ manual_link }}">link</a> for your kind reference and easy navigation.</p>
        <p>For any further queries, please contact the Recruitment SPOC ( {{ recruitment_spoc }} ).</p>
        <p>Regards,</p>
        <p>Team HR</p>
        <p>Note: This is a system generated mail, please do not reply.</p>        
        
            
    </body>
</html>