<html>
    <body>
        <p>Dear {{ candidate_name }},</p>
        <p>This email is about the offer letter for the position of {{ desg_name }}, with {{ dept_name }}. Your candidature has been shortlisted and Offer letter has been uploaded over the portal. You are requested to review the same.</p>
        <p>The credentials to access the portal <a href="https://ob.associatehrms.com">https://ob.associatehrms.com</a>, has already been shared with you. In case you are facing any challenges while accessing the portal, then please connect with Vendor SPOC : {{ vendor_spoc }} ( {{ vendor_spoc_mail }} ).</p>
        <p>Help Manual – <File Link> </p>
        <p>Regards,</p>
        <p>Team HR</p>
        <p>Note: This is a system generated mail, please do not reply.</p>
    </body>
</html>