<html>
    <head>
        <style>
            .email_table{
                border-collapse: collapse;
                width: 80%;
            }
    
           .email_table tr td {
                border: 1px solid gray;
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <p>Dear {{ rm_name }},</p>
        <p>Please be informed that candidate request has been approved with below mentioned details:</p>
                  
        <table class="email_table">
            <tr>
                <td class="red_td">Candidate Name</td>
                <td>{{ candidate_full_name }} | {{ candidate_id }} </td>
            </tr>
            <tr>
                <td>Vendor</td>
                <td>{{ vendor_name }}</td>
            </tr> 
            <tr>
                <td>Functional Details</td>
                <td>{{ dept_name }} | {{ function_name }} | {{ team_name }} | {{ sub_team_name }} | {{ desg_name}} </td>
            </tr>
            <tr>
                <td>Expected Date Of Joining</td>
                <td>{{ doj }}</td>
            </tr>        
            <tr>
                <td class="red_td">Web Application Link</td>
                <td><a href="https://ob.associatehrms.com">https://ob.associatehrms.com</a></td>
            </tr>           
           
        </table>
        <p>The “Letter of Intent” has been sent to candidate from Vendor to Candidate’s Personal E Mail ID {{ candidate_email }}. Once Candidate / Vendor uploads the mandatory documents of candidate the offer letter will also be emailed to the candidate.</p>
        <p>For any further queries, please contact the Onboarding SPOC : {{ onboarding_spoc }} ({{ onboarding_spoc_mail }}) or the Recruitment SPOC : {{ recruiter_name }} ({{ recruitment_spoc }}).</p>
        <p>Regards,</p>
        <p>Team HR</p>
        <p>Note: This is a system generated mail, please do not reply.</p>               
        
            
    </body>
</html>