<html>
    <body>
        <p style="text-align: center;text-decoration: underline;font-weight: bold;">Confidential</p>
        <p style="text-align: right;">{{ today_date }}</p>
        <p>{{ candidate_full_name }}</p>
        <p>S/o - {{ candidate_father_name }}</p>
        <p style="text-align: center;text-decoration: underline;font-weight: bold;">Sub: Letter for Change of Date of Appointment</p>
        <p>Dear {{ candidate_full_name }}</p>
        <p>This letter is with reference to the offer letter dated <Offer Letter Date>, with reference to the changes requested towards Joining date, the revised date of joining is now being considered as {{ doj }}.</p>
        <p>We look forward to having you onboarded as per the new joining date, considering all the other terms and conditions as per the offer letter issued dated <Offer Letter date> remains unchanged.</p>
        <p>Regards,</p>
        <p>Team HR</p>
        <p>{{ vendor_name }}</p>

    </body>
</html>