{% extends 'csp_app/login.html' %}
{% load static %}
{% block bodyblock %} 
    <h2 style="color: #bf0711;">Reset your password</h2>
    {% if validlink %}
        <!-- <p>Please enter your new password:</p> -->
        <form action="." method="post">
            <!-- {{ form.as_p }} -->
            <div class="login-input-holder">
                <label for="">New Password</label>
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="forgot-input">
                <span class="helptext"></span>
            </div>
            <div class="login-input-holder">
                <label for="">Confirm Password</label>
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="forgot-input">
                
            </div>
            {% csrf_token %}
            <p><input type="submit" value="Change my password" class="login-btn" style="width: 97;" /></p>
        </form>
    {% else %}
        <p>The password reset link is invalid. Please request a new password reset link.</p>
    {% endif %}
{% endblock %}