<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="10;url=http://127.0.0.1:8000/" /> -->
    <meta http-equiv="refresh" content="10;url=https://ob.associatehrms.com/" />

    <title>Password Reset Link Sent!</title>
</head>
<body>
    <h1>Reset your password</h1>
    <p>You will recieve an email with a link for setting your password, If you have not recieved the mail then please make sure you've entered the registered email ID.</p>
    Redirecting to <a href="{% url 'csp_app:login' %}">Login</a> in <span id="countdowntimer">10 </span> Seconds

<script type="text/javascript">
    var timeleft = 10;
    var downloadTimer = setInterval(function(){
    timeleft--;
    document.getElementById("countdowntimer").textContent = timeleft;
    if(timeleft <= 0)
        clearInterval(downloadTimer);
    },1000);
</script>
</body>
</html>