/* label.move-out {
  position: absolute;
  top: 35px;
  left: 15px;
  color: lightgrey;
  transition: top 0.4s, left 0.4s
}

input:focus+label.move-out,
input:not( :placeholder-shown)+label.move-out,
input:-webkit-autofill+label.move-out {
  top: 0px;
  left: 0px;
  transition: top 0.4s, left 0.4s;
  color: black;
}
.container {
  position: relative;
  padding-top: 25px;
  margin-top: 10px;
} */


.modal-msg{
  font-size: 10px;
  color: gray;
}

.view-other-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}
.view-basic-details,
.view-other-details div{
  padding: 5px;
}

.view-basic-details div{
  display: inline;
}

.view-basic-details label,
.view_form_content label{
  font-weight: bold;
}

.forms-heading{
    padding: 10px;
    padding-bottom: 20px;
}

.forms-input-holder,
.candidate-forms-input-holder{
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
}

.forms-doc-label-holder{
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
}

.forms-input-holder > input,
.forms-input-holder > select,
.search-input > input,
.forms-input-holder > label,
.candidate-forms-input-holder select,
.candidate-forms-input-holder input{
    /* padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #f5f5fa;
    width: 90%;
    transition: .4s ease;
    font-size: 14px; */
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #f5f5fa;
    /* width: 90%; */
    transition: .4s ease;
    font-size: 14px;
}



.forms-input-holder > input{
  width: 75%;
}

.forms-input-holder > select{
  width: 75%;
}

.forms-input-holder > label{
  width: 25%;
  border: none;
  text-align: left;
}

.margin-left{
  margin-left: 10px;
}

.candidate-forms-input-holder > label:last-child{
  margin-left: 10px;
}

.candidate-forms-input-holder select,
.candidate-forms-input-holder input{
  /* width: 75%; */
  border: none;
  border-bottom: 1px solid #ddd;
}

.candidate-forms-input-holder div{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 20px;
  margin-left: 10px;
}

.candidate-forms-input-holder select:focus,
.candidate-forms-input-holder input:focus{
  border-bottom: 1px solid #bf0711;
}

.candidate-forms-input-holder label{
  border: none;
  text-align: left;
  margin-left: 10px;
}

#c_pan{
  text-transform: uppercase;
}

.forms-input-holder > input:focus,
.forms-input-holder > select:focus,
.search-input > input:focus,
.action-col select:focus{
    /* border: 1px solid #bf0711; */
    box-shadow: 0px 0px 1px 0px #bf0711;
}

.forms-save-btn,
.forms-delete-btn{
    font-size: 16px;
    border:none; 
    background:#bf0711; 
    color:#f5f5fa;
    padding:10px;
    width: 10rem;
    outline:none;
}

.edit-forms-close-btn,
.delete-forms-close-btn{
  font-size: 16px;
  border:1px solid #ddd; 
  background:#f5f5fa; 
  color:#bf0711;
  padding:8px;
  width: 8rem;
  outline:none;
}

.delete-forms-close-btn,
.forms-delete-btn{
  padding: 6px;
  width: 6rem;
}

.edit-forms-close-btn:hover,
.delete-forms-close-btn:hover{
  background: #E7E7F2;
}

.edit-forms-save-btn{
  font-size: 16px;
  border:none; 
  background:#bf0711; 
  color:#f5f5fa;
  padding:8px;
  width: 8rem;
  outline:none;
}

.forms-save-btn:hover,
.edit-forms-save-btn:hover,
.forms-delete-btn:hover{
    background: #B1060F;
}
.forms-save-btn:focus,
.edit-forms-save-btn:focus,
.forms-delete-btn:focus{            
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.form_modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 5%; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  .form_content::-webkit-scrollbar,
  .delete_form_content::-webkit-scrollbar {
    display: none;
  }

  .form_content,
  .delete_form_content {
    background-color: #f5f5fa;
    margin: auto;
    padding: 20px;
    width: 50%;
    overflow: auto;
    /* text-align: center; */
    padding-bottom: 0px;
  }

  /* .form_content label{
      display: none;
  } */
.view_form_header{
  margin: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 30%;
  background-color: #f5f5fa;
  text-align: center;
  padding: 5px;
}

  .view_form_content{
    background-color: #f5f5fa;
    margin: auto;
    padding: 20px;
    width: 30%;
    overflow: auto;
    /* text-align: center; */
    /* padding-bottom: 0px; */
  }

  .view_form_footer{
    background-color: #f5f5fa;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 30%;
    text-align: center;
    padding-top: 0px;
  }


/* 
  .forms-label-holder{
    margin-bottom: 5px;
    text-align: left;
    padding-left: 20px;
  } */

  .candidate_form{
    padding-top: 40px;
  }

  .candidate_form_header{
    margin: auto;
    /* width: 80%; */
    /* background-color: #f5f5fa; */
    text-align: center;
    padding: 5px;
    border-left: 1px solid #f5f5fa;
    border-right: 1px solid #f5f5fa;
    border-top: 1px solid #f5f5fa;

  }
  .candidate_form_content{
    /* background-color: #f5f5fa; */
    margin: auto;
    padding: 20px;
    /* width: 80%; */
    overflow: auto;
    text-align: center;
    padding-bottom: 0px;
    border-left: 1px solid #f5f5fa;
    border-right: 1px solid #f5f5fa;

    /* height: 50vh; */
  }

  .candidate_form_footer{
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* width: 80%; */
    text-align: center;
    border-left: 1px solid #f5f5fa;
    border-right: 1px solid #f5f5fa;
    border-bottom: 1px solid #f5f5fa;
    margin-bottom: 80px;
  }

  .form_header,
  .delete_form_header{
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 50%;
    background-color: #f5f5fa;
    text-align: center;
    padding: 5px;
  }

  .delete_form_header{
    padding: 20px;
  }
  

  .form_footer,
  .delete_form_footer{
    background-color: #f5f5fa;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 50%;
    text-align: center;
    padding-top: 0px;
  }

  .delete_form_content,
  .delete_form_header,
  .delete_form_footer {
    width: 320px;
  }

  

  .hr_line{
    width: 5rem; 
    height: 5px;
    margin: auto; 
    background: #bf0711;
  }

  .fds{
    padding: 10px;
    border-color: #f5f5fa;
  }

  .fds table{
    width: 100%;
  }

  .fds table tr td{
    padding-left: 5px;
    width: 100%;
  }


  .action-col select{
    border: 1px solid #ddd;
    padding: 5px;
  }