.tab-container{
    text-align: center;
}

.add-new-btn{
    font-size: 16px;
    border:none; 
    background:#bf0711; 
    color:#f5f5fa;
    padding:10px;
    width: 10rem;
    outline:none;
}
.add-new-btn:hover{
    background: #B1060F;
}
.add-new-btn:focus{            
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}