.header-info{
    text-align: justify;
    display: flex;
    justify-content: space-between;
}
.ss-table{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.ss-table thead tr th{
    padding: 5px !important;
}

.ss-table tr{
    color: black;
}

.ss-table th{
    text-align: right;
}

.ss-table th:first-child{
    text-align: center;
}

.ss-table tbody tr td input{
    border: none;
    outline: none;
    text-align: right;
    background: none;
}
.ss-table tr td{
    color: black;
    text-align: right;
    padding: 5px !important;
}

.ss-table tr td:first-child{
    text-align: left;
    padding: 5px !important;
}

.salary-heading-one,
.salary-heading-two,
.salary-heading-three{
    padding: 5px !important;
    text-align: center;
    font-size: initial;
}

#s-wrapper{
    display: flex;
    background: #fff;
    font-size: smaller;
    padding: 30px;
}

.ss {
    flex: 0 0 60%;
    margin-right: 20px;
  }
  
.ssc {
    flex: 1;
  }


.salary-heading-one{
    background: #D3E4E1;
    padding: 5px;
}

.ss-table-heading-one{
    background: #DCF2E7;
    padding: 5px;
}

.ss-table-total-one{
    background: #D3E4E1;
    font-weight: bold;
}


.salary-heading-two{
    background: #F0E9D3;
    padding: 5px;
}

.ss-table-heading-two{
    background: #F0F2D8;
    padding: 5px;
}

.ss-table-total-two{
    background: #F0E9D3;
    font-weight: bold;
}


.salary-heading-three{
    background: #D3E4E1;
    padding: 5px;
}

.ss-table-heading-three{
    background: #DCF2E7;
    padding: 5px;
}
.ss-table-heading-three th,
.ss-table-heading-two th{
    padding: 5px !important;
}
.ss-table-total-three1{
    background: #F0F2D8;
    font-weight: bold;
}

.ss-table-total-three{
    background: #D3E4E1;
    font-weight: bold;
}

.ctc-row{
    background: #CAD5DB;
    font-weight: bold;
}

.ssc-heading-one{
    background: #C4C4BF;
    /* background:#CAD5DB ; */
    /* background:#E3DED1; */
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.ssc-heading-two{
    background: #CECECA;
    /* background: #D3E4E1 ; */
    font-weight: bold;
    padding: 5px;
}

.ssc-heading-three{
    background: #DADAD7;
    /* background: #DCF2E7; */
    font-weight: bold;
    padding: 5px;
}

.ssc-heading-four{
    background: #E2E2DF;
    /* background: #E6F2E0; */
    font-weight: bold;
    padding: 5px;
}

.ss-table-fixed-salary{
    background-color:  #E7F3E2 ;
    font-weight: bold;

}

.ss-table-variable{
    background-color: #DCF2E7;
    font-weight: bold;
}
