.ss-table{
    width: 100%;
    border-collapse: collapse;
}

.ss-table tr{
    color: black;
}

.ss-table tbody tr td input{
    border: none;
    outline: none;
    text-align: right;
    background: none;
}





.ss-table tr td{
    color: black;
    text-align: right;
    
}

.ss-table tr td:first-child{
    text-align: left;
}

.salary-heading-one,
.salary-heading-two,
.salary-heading-three{
    padding: 5px;
    text-align: center;
}

#s-wrapper{
    display: flex;
    background: #fff;
    font-size: smaller;
}

.ss {
    flex: 0 0 60%;
    margin-right: 20px;
  }
  
.ssc {
    flex: 1;
  }


.salary-heading-one{
    background: #D3E4E1;
}

.ss-table-heading-one{
    background: #DCF2E7;
}

.ss-table-total-one{
    background: #D3E4E1;
    font-weight: bold;
}


.salary-heading-two{
    background: #F0E9D3;
}

.ss-table-heading-two{
    background: #F0F2D8;
}

.ss-table-total-two{
    background: #F0E9D3;
    font-weight: bold;
}


.salary-heading-three{
    background: #D3E4E1;
}

.ss-table-heading-three{
    background: #DCF2E7;
}

.ss-table-total-three{
    background: #D3E4E1;
    font-weight: bold;
}

.ctc-row{
    background: #CAD5DB;
    font-weight: bold;
}

.ssc-heading-one{
    background: #C4C4BF;
    text-align: center;
    padding: 5px;
}

.ssc-heading-two{
    background: #CECECA;
}

.ssc-heading-three{
    background: #DADAD7;
}

.ssc-heading-four{
    background: #E2E2DF;
}