<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'csp_app/images/udaanredlogo.png' %}" />

    <title>
        {% if request.user.is_staff %}
            Admin Dashboard
        {% else %}
            Dashboard
        {% endif %}
        
        | {% block titleblock %} {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/admin_dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/salarystructure.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/organization.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/alertmsgcss.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/media.css' %}">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <!-- for pdf download -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <!-- end -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
    
    <script src="{% static 'csp_app/js/sidebar.js' %}"></script>
    <script src="{% static 'csp_app/js/forms.js' %}"></script>
    <script src="{% static 'csp_app/js/inputs.js' %}"></script>
    <script src="{% static 'csp_app/js/age.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- datatable -->

    <link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/tables.css' %}">  
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
  
    <!-- datatable end -->
    <script src="{% static 'csp_app/js/tables.js' %}"></script>
    <script>
      $(document).ready(function(){
        $(".sidebar").click(function () {
            $(".wrapper").toggleClass("collapse");
        });
        $(".sidebar").hover(function () {
            $(".wrapper").toggleClass("collapse");
        });
        $("#c_salary").hover(function () {
            
            $("#wage_info").toggleClass("inline");
           
        });
        // setTimeout(hidediv(0), 2000000000000);
        // var h = 0;
        // $('#alerts').onm(function(){
        //     h = 1
        //     console.log("hover" + h);
        // })
        // $('#alerts').blur(function(){
        //     h = 0
        //     console.log("hover gone" + h);
        // });

        $('#c_firstname').bind('keypress', onlyAlphabets);
        $('#c_middlename').bind('keypress', onlyAlphabets);
        $('#c_lastname').bind('keypress', onlyAlphabets);
        $('#c_fathername').bind('keypress', onlyAlphabets);
        $('#c_mothername').bind('keypress', onlyAlphabets);

        $('#spoc').bind('keypress', onlyAlphabets);
        $('#loc_name').bind('keypress', alphaNumeric);
        

        $('#name').bind('keypress', alphaNumeric);

        $('#search-bar').bind('keypress', noSpecial);
        
        $('#phone_no').bind('keypress', onlyNumbers);
        $('#c_aadhaar').bind('keypress', onlyNumbers);
        $('#c_contact').bind('keypress', onlyNumbers);
        $('#c_emergency').bind('keypress', onlyNumbers);
        $('#email').bind('keypress', emailChars);
        $('#spocemail').bind('keypress', emailChars);
        $('#reporting_manager_email').bind('keypress', emailChars);
        $('#c_salary').bind('keypress', money);
        $('#wage').bind('keypress', money);
        $('#c_pan').bind('keypress', pan);

        $('#reporting_manager').bind('keypress', onlyAlphabets);
        $('#c_pan').keyup(function() { 
          this.value = this.value.toLocaleUpperCase(); 
          
        });
        $('#c_replacement').keyup(function() { 
          this.value = this.value.toLocaleUpperCase(); 
          
        });
        $('#c_referral').keyup(function() { 
          this.value = this.value.toLocaleUpperCase(); 
          
        });

      });
    </script>
</head>
<body>
    <div class="wrapper collapse">
        <div class="top_navbar">
          <div class="top_menu">
            <div class="logo">
                {% if request.user.is_staff %}
                   <a href="{% url 'csp_app:entity' %}"><img src="{% static 'csp_app/images/udaanredlogo.png' %}" alt="Company Logo" style="width: 55px;" title="Dashboard"></a>
                {% else %}
                    <a href="{% url 'csp_app:candidate' %}"><img src="{% static 'csp_app/images/udaanredlogo.png' %}" alt="Company Logo" style="width: 55px;" title="Dashboard"></a>
                {% endif %}
            </div>
            {% if request.user.groups.all %}
          {% for eachgroup in request.user.groups.all %}
            {% if eachgroup.name != 'Candidate' %}
            <div class="search-input">
              <input type="search" name="search_c" id="search-bar" maxlength="300" placeholder="search name, phone, email" list="all_candidates">
              <datalist id="hide" class="c_datalist">
                  {% if allcandidates %}          
                      {% for eachc in allcandidates %}                 
                          <option value="{{ eachc.pk }} "  style="outline: none !important;"> {{ eachc.pk }} | {{ eachc.First_Name }} {{ eachc.Last_Name }} | {{ eachc.Contact_Number }} | {{ eachc.Personal_Email_Id }} </option>
                      {% endfor %}       
                  {% endif %}
              </datalist>
            </div>
            {% endif %}
            {% endfor %}       
                  {% endif %}
            <div class="user-div">
                <ul>
                {% if request.user.is_staff %}
                    <li><a href="{% url 'csp_app:password_change' %}" title="Change Password for {{ request.user }}"><i class="fas fa-user-lock"></i></a></li>
                    <!-- <li><a href="#">|</a></li> -->
                    <!-- <li><a href="#">Requests</a></li>
                    <li><a href="#">|</a></li> -->
                {% else %}
                    <li><a href="{% url 'csp_app:password_change' %}" title="Change Password for {{ request.user }}"><i class="fas fa-user-lock"></i></a></li>
                {% endif %}
                    <li title="Logout"><a href="{% url 'csp_app:csp_logout' %}"><i class="fas fa-sign-out-alt"></i></a></li>
                </ul>
            </div>
          </div>
        </div>

        {% if allcandidates %}          
            {% for eachcandidate in allcandidates %} 
            <div  class="form_modal" id="{{ eachcandidate.pk }}">

                <div class="search_view_form_header">
                    <div class="forms-heading">
                        <h2>Candidate Details</h2>
                    </div>
                    <div class="hr_line">&nbsp;</div>            
                </div>
                <div class="search_view_form_content">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ eachcandidate.pk }}" name="view_id">
                        <input type="submit" value="View Profile" id="view" style="border: none; outline: none; color: blue;background: none;cursor: pointer;" formaction="{% url 'csp_app:view_candidate' %}">
                   
                    </form>
                    <fieldset class="fds">
                        <legend>Basic Details</legend>
                        <table>
                            <tr>
                                <td><label for="">Full Name : </label> {{ eachcandidate.First_Name }} {{ eachcandidate.Middle_Name }} {{ eachcandidate.Last_Name }}</td>
                                <td><label for="">Contact Number : </label> {{ eachcandidate.Contact_Number }} </td>
                            
                            </tr>
                            <tr>
                                <td><label for="">Email : </label>  {{ eachcandidate.Personal_Email_Id }}</td>
                            
                                <td><label for="">Expected Date of joining : </label> {{ eachcandidate.Date_of_Birth }}</td>
                                
                            </tr>
                            <tr>
                                <td><label for="">Company : </label> {{ eachcandidate.fk_entity_code }}</td>
                                <td><label for="">Department : </label> {{ eachcandidate.fk_department_code }}</td>
                            </tr>
                            <tr>
                                <td><label for="">Function : </label> {{ eachcandidate.fk_function_code }}</td>
                                <td><label for="">Team : </label> {{ eachcandidate.fk_team_code }}</td>
                            </tr>               
                            <tr>
                                <td><label for="">Sub Team : </label> {{ eachcandidate.fk_sub_team_code }}</td>
                                <td><label for="">Designation : </label> {{ eachcandidate.fk_designation_code }}</td>
                            </tr>         
                            <tr>
                                <td><label for="">Region : </label> {{ eachcandidate.fk_region_code }}</td>
                                <td><label for="">State : </label> {{ eachcandidate.fk_state_code }}</td>
                            </tr>
                            <tr>
                                <td><label for="">City : </label> {{ eachcandidate.fk_city_code }}</td>
                                <td><label for="">Location : </label> {{ eachcandidate.fk_location_code }}</td>
                            </tr>
                            <tr>
                                <td><label for="">Location Code : </label> {{ eachcandidate.fk_location_code.location_code }}</td>
                                <td><label for="">Vendor : </label> {{ eachcandidate.fk_vendor_code }}</td>
                            </tr>
                            <tr>
                                <td><label for="">Onboarding Status : </label> {{ eachcandidate.onboarding_status }}</td>
                            
                                <td><label for="">Vendor Status : </label> {{ eachcandidate.vendor_status }}</td>
                            </tr>
                            
                        </table>                    
                    </fieldset>
                    <fieldset class="fds">
                        <legend>Other Details</legend>
                        <table>
                            <tr>
                                <td><label for="">Created By : </label> {{ eachcandidate.created_by }}</td>
                                <td><label for="">Created Date Time : </label> {{ eachcandidate.created_date_time }}</td>
                           
                            </tr>
                          
                            <tr>
                                <td><label for="">Modified By : </label> {{ eachcandidate.modified_by }}</td>
                                <td><label for="">Modified Date Time : </label> {{ eachcandidate.modified_date_time }}</td>
                           
                            </tr>
                           
                            
                        </table>                    
                    </fieldset>
                                
                </div>
                    
                <div class="search_view_form_footer">
                    <button onclick="window.location.reload();" class="forms-save-btn">Close</button>
                </div>
                        
            
            </div>
            {% endfor %}
        {% endif %}

        

        {% if request.user.is_staff %}
        <div class="sidebar">
            <ul>
                   
                <li title="Candidates" onclick="showMe('Candidate', 'can-expand')" id="Candidate"><a href="{% url 'csp_app:candidate' %}">
                    <span class="icon"><i class="fas fa-users"></i></span>
                    <span class="title">Candidate</span>
                    <span class="expand"><i class="fas fa-caret-right" id="can-expand"></i></span></a></li> 
                
                <li title="Users" onclick="showMe('User', 'user-expand')" id="User"><a href="{% url 'csp_app:user' %}">
                    <span class="icon"><i class="fas fa-users-cog"></i></span>
                    <span class="title">User</span>
                    <span class="expand"><i class="fas fa-caret-right" id="user-expand"></i></span></a></li>
                    
                <li title="Organization" onclick="showMe('Organization', 'org-expand')" id="Organization"><a href="{% url 'csp_app:entity' %}">
                    <span class="icon"><i class="fas fa-sitemap"></i></span>
                    <span class="title">Organization</span><span class="expand"><i class="fas fa-caret-right" id="org-expand"></i></span></a></li>
                
          </ul>
        </div>
        {% endif %}
        {% if request.user.groups.all %}
          {% for eachgroup in request.user.groups.all %}
            {% if eachgroup.name != 'Admin' %}
              <div class="main_container" style="margin-left: 0px;width:calc(100% - 20px);">
              {% else %}
              <div class="main_container">      
            {% endif %}
          {% endfor %}          
        {% endif %}
            <div class="item item_header">
                {% block bodyblock %} 
             
                {% endblock %}
            </div>
            <div class="item item_contents">

                {% block tabcontentblock %}
    
    
    
                {% endblock %}  
                <div style="padding: 100px; width: inherit;">
                    
                </div>
                {% if messages %}
                {% for msg in messages %}
                    {% if msg.tags == 'success' %}
                        <div id="alerts" class="alert alert-success alert-dismissible sucess-msg-alert animate__animated animate__slideInRight animate__fast" >
                            <table id="success-tbl">
                            <tr>
                                <td rowspan="2"><i class="fas fa-check-circle" style="padding: 15px; padding-left: 0px !important;"></i></td>
                                <td style="font-size: 16px; font-weight: bold;">Success</td>
                            </tr>
                            <tr>
                                <td>{{ msg }}</td>

                            </tr>
                            </table>
                            <button type="button" class="close" data-dismiss="alert" style="outline: none !important;"> &times;</button>

                        </div>
                    {% endif %}
                    {% if msg.tags == 'error' %}
                        <div id="alerts" class="alert alert-danger alert-dismissible error-msg-alert animate__animated animate__slideInRight animate__fast" >
                            <table id="failure-tbl">
                            <tr>
                                <td rowspan="2" style="border-bottom: none;"><i class="fas fa-times" style="padding: 15px; padding-left: 0px !important; font-family: 'Font Awesome 5 Free' !important;"></i></td>
                                <td style="font-size: 16px; font-weight: bold;border-bottom: none;">Error</td>

                            </tr>
                            <tr>
                                <td style="border-bottom: none;">{{ msg }}</td>
                            </tr>
                            </table>
                            <button type="button" class="close" data-dismiss="alert" style="outline: none !important;">&times;</button>

                        </div>
                    {% endif %}
                    {% if msg.tags == 'warning' %}
                        <div id="alerts" class="alert alert-warning alert-dismissible warning-msg-alert animate__animated animate__slideInRight animate__fast" >
                            <table id="warning-tbl">
                            <tr>
                                <td rowspan="2" style="border-bottom: none;"><i class="fas fa-times" style="padding: 15px; padding-left: 0px !important; font-family: 'Font Awesome 5 Free' !important;"></i></td>
                                <td style="font-size: 16px; font-weight: bold;border-bottom: none;">Warning</td>

                            </tr>
                            <tr>
                                <td style="border-bottom: none;">{{ msg }}</td>
                            </tr>
                            </table>
                            <button type="button" class="close" data-dismiss="alert" style="outline: none !important;">&times;</button>

                        </div>
                    {% endif %}

                {% endfor %}
            {% endif %}

                <!-- {% if messages %}
                  <ul class="messages">
                      {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style: none;">{{ message }}</li>
                      {% endfor %}
                  </ul>
                {% endif %} -->
            
            
            </div>
            
        </div>
    </div>
    <script type="text/javascript">
    function hidediv(stay){
            console.log(stay);
            if(stay != 0){
                console.log('in');
                $( '#alerts' ).removeClass( 'animate__animated animate__slideOutRight animate__fast' ).show().addClass( 'animate__animated animate__slideInRight animate__fast' );
    
                $( '#alerts' ).removeClass( 'animate__animated animate__slideInRight animate__fast' ).addClass( 'animate__animated animate__slideOutRight animate__fast' );

            } else {
                console.log('Dont Go');
            }
            
    }
    

        $("#alerts").hover(function () {
            setTimeout("hidediv(0)", 2000);
        },
        function () {
            setTimeout("hidediv(1)", 2000);
        }
        );
        setTimeout("hidediv(1)", 2000);

        function donthide(){
            console.log('okay');
        }           
   

                
        
    </script>
    <script type="text/javascript">
      
    document.addEventListener('DOMContentLoaded', function() { 
     
            var input = document.getElementById('name');
            input.addEventListener('keydown', function(e){      
                var input = e.target;
                var val = input.value;
                var end = input.selectionEnd;
                if(e.keyCode == 32 && (val[end - 1] == " " || val[end] == " ")) {
                    e.preventDefault();
                    return false;
                }   
                if(e.keyCode == 190 && (val[end - 1] == "." || val[end] == ".")) {
                    e.preventDefault();
                    return false;
                }      
            });
      
       
        var input = document.getElementById('email');
        input.addEventListener('keydown', function(e){      
            var input = e.target;
            var val = input.value;
            var end = input.selectionEnd;
            if(e.keyCode == 32) {
                e.preventDefault();
                return false;
            }   
            if(e.keyCode == 190 && (val[end - 1] == "." || val[end] == ".")) {
    
                e.preventDefault();
                return false;
            } 
            if(e.keyCode == 219 || e.keyCode == 221) {
                
                e.preventDefault();
                return false;
            }  
            
 
        });
        var input = document.getElementById('phone_no');
        input.addEventListener('keydown', function(e){      
            var input = e.target;
            var val = input.value;
            var end = input.selectionEnd;
            if(e.keyCode == 32) {
                e.preventDefault();
                return false;
            }     
        });
        var input = document.getElementById('spocemail');
        input.addEventListener('keydown', function(e){      
            var input = e.target;
            var val = input.value;
            var end = input.selectionEnd;
            if(e.keyCode == 32) {
                e.preventDefault();
                return false;
            }     
            if(e.keyCode == 190 && (val[end - 1] == "." || val[end] == ".")) {
    
                e.preventDefault();
                return false;
            } 
            if(e.keyCode == 219 || e.keyCode == 221) {
                
                e.preventDefault();
                return false;
            } 
        });
        
       
       
    });
    
      
    </script>
    <script>
        $(document).ready(function(){
            $('#search-bar').on('input', function() {
               
                if (this.value == ''){ 
                    $('.c_datalist').prop("id","hide");
                }
                if (this.value.length < 2){
                    $('.c_datalist').prop("id","hide");
                } else {
                    $('.c_datalist').prop("id","all_candidates");
                }
               
            });
            $('#search-bar').on('change', function() {
                
                var c_code = $('#search-bar').value;
               
               $('#' + this.value).css("display", "block");              
           });
   
        });
    </script>
</body>
</html>