{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Admin {% endblock %}

{% block bodyblock %} 
sadaf
{% endblock %}



{% block tabcontentblock %}

Admin Home
    <!-- <div class="login-wrapper">
        <div class="login-btn-holder">
            <a href="{% url 'csp_app:create_user' %}"><button class="login-btn">Create User</button></a>
            <br>
            <a href="{% url 'csp_app:csp_logout' %}">logout</a>
        </div>
    </div> -->

{% endblock %}
