{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Entity {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns"> Entity</a>
        <a href="{% url 'csp_app:vendor' %}" class="tab-btns">Vendor</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns active-tab">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns">Location</a>    
    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_city" class="add-new-btn">New City</button> 
</div>

<div class="table-container">
  
    <table id="city-table" class="dataTable">
        <thead>
            <tr>
                <th>Entity</th>

                <th>Region</th>

                <th>State</th>

                <th>City Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if city_list %}
                {% for eachcity in city_list %}

                    <tr>
                        <td>{{ eachcity.fk_state_code.fk_region_code.fk_entity_code }}</td>
                        <td>{{ eachcity.fk_state_code.fk_region_code }}</td>
                        <td>{{ eachcity.fk_state_code }}</td>
                        <td>{{ eachcity.city_name }}</td>
                        <td class="action-col">
                            <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachcity.pk }}" name="view_id" id="selected_id"><input type="submit" value="view" id="view" formaction="{% url 'csp_app:view_city' %}"> | <input type="submit" value="edit" formaction="{% url 'csp_app:edit_city' %}"> | <input value="delete" readonly  onclick="showDelete('{{ eachcity.pk }}', 'delete_city_form')"> </form>
                        </td>
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachcity in city_list %}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>
<div id="city_form" class="form_modal" style="padding-top: 8%;" >
    <div class="form_header">
      <div class="forms-heading" style="text-align: center;">
          <h2>Create New City</h2>
      </div>
      <div class="hr_line">&nbsp;</div>
     
    </div>
    <div class="form_content">
        <form method="POST">
            {% csrf_token %}
            <div class="forms-input-holder">
            <label for="">Entity</label>

                <select name="city_entity" id="city_entity" required="true">
                    <option value="" disabled selected>Select Entity</option>
                    {% if entity_list %}
                        {% for eachentity in entity_list %}
                            <option value="{{ eachentity.pk }}" label="{{ eachentity.entity_name }}">{{ eachentity.entity_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
        
            <div class="forms-input-holder">
            <label for="">Region</label>

                <select name="city_region" id="city_region" required="true" disabled="true">
                    <option value="" disabled class="empty" label=" " selected>Select Region</option>

                    {% if region_list %}
                        {% for eachregion in region_list %}
                            <option value="{{ eachregion.pk }}" label="{{ eachregion.region_name }}">{{ eachregion.fk_entity_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="forms-input-holder">
            <label for="">State</label>

                <select name="city_state" id="city_state" required="true" disabled="true">
                    <option value="" disabled class="empty" label=" " selected>Select State</option>

                    {% if state_list %}
                        {% for eachstate in state_list %}
                            <option value="{{ eachstate.pk }}" label="{{ eachstate.state_name }}">{{ eachstate.fk_region_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="forms-input-holder">
            <label for="">City</label>

                <input type="text" placeholder="City Name" name="city_name" required="true" id="name">
            </div>
               
    </div>
    <div class="form_footer">
        <button type="submit" formaction="{% url 'csp_app:create_city' %}" class="forms-save-btn">Save City</button>
    </form> 
    </div>
  
  </div>
  <div id="delete_city_form" class="form_modal" style="padding-top: 15%;">
    <div class="delete_form_header">
        <div class="forms-heading">
            <h2>Delete This City?</h2>
        </div>     
    </div>
    <div class="delete_form_footer">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" formaction="{% url 'csp_app:delete_city' %}" value="" id="delete_me" name="delete_id" class="forms-delete-btn">Delete</button>
            <button id="close_delete" class="delete-forms-close-btn">Cancel</button>        
        </form>
    </div>
</div>

  <script>
    $(document).ready(function(){
        showMe('Organization', 'org-expand');
        $(document).keyup(function(){
            if (event.keyCode === 27){
            $("#city_form").css("display", "none");
            }
        });
        $(window).click(function(e) {
        if (e.target.id === 'city_form'){
            $("#city_form").css("display", "none");
        }   
        });  
        $('#new_city').click(function(){
            $("#city_form").css("display", "block");
        });

        $('#close_delete').click(function(){
            $("#delete_city_form").css("display", "none");
        }); 

        $('#city_entity').change(function() {
            var filter = $(this).val();
            var total = $('#city_region option').length;
            var count = 0;
            $('#city_region option').each(function() {
            if ($(this).text() == filter) {
            $('#city_region').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#city_region').val(filter);
            });
            if (count === total){
                $('#city_region').attr("disabled", true)
            }else {
                $('#city_region .empty').css("display", "");
                $('#city_region .empty').prop("selected", true);
            }
        });

        $('#city_region').change(function() {
            var filter = $(this).val();
            var total = $('#city_state option').length;
            var count = 0;
            $('#city_state option').each(function() {
            if ($(this).text() == filter) {
            $('#city_state').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#city_state').val(filter);
            });
            if (count === total){
                $('#city_state').attr("disabled", true)
            }else {
                $('#city_state .empty').css("display", "");
                $('#city_state .empty').prop("selected", true);
            }
        });
    
    })
</script>
<script>
    function showDelete(itemid, formid){
        document.getElementById(formid).style.display = "block";
        document.getElementById("delete_me").setAttribute("value", itemid);
    }
</script>
{% endblock %}