{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Create User {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:user' %}" class="tab-btns active-tab">Create User</a>
        <!-- <a href="{% url 'csp_app:disable_user' %}" class="tab-btns">Disable User</a>    -->
    </div>

{% endblock %}



{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_user" class="add-new-btn">New User</button>   
</div>

<div class="table-container">
  
    <table id="user-table" class="dataTable">
        <thead>
            <tr>
                <th>Username</th>
                <th>User Type</th>
                <th>Last Login</th>
                <th>Status</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            {% if user_list %}
                {% for eachuser in user_list %}
                    {% if eachuser.username != request.user %}
                    {% for x in eachuser.groups.all %}
                        {% if x.name != "Candidate" %}
                        <tr>
                            <td>{{ eachuser.username }}
                                
                            </td>
                            <td>
                                {% for e in eachuser.groups.all %}
                                    
                                        {{ e.name }} 
                                {% endfor %}
                            </td>
                            <td>{{ eachuser.last_login }}</td>
                            <td class="action-col" >
                                <!-- <form action="" method="POST"> -->
                                    <!-- {% csrf_token %} -->
                                    <input type="hidden" value="{{ eachuser.pk }}" name="view_id" id="selected_id">
                                    {% if eachuser.is_active == True %} 
                                        <i class="fas fa-check-circle" style="color: green;"></i><input type="submit" title="Disable User" style="color: green;" value="Enabled" onclick="showDelete('{{ eachuser.pk }}', 'disable_user_form', 'disable_me')"> 
                                    {% else %}
                                        <i class="fas fa-ban" style="color:#e40b0b"></i><input type="submit" value="Disabled" formaction="{% url 'csp_app:enable_user' %}" title="Enable User" style="color:#e40b0b" onclick="showDelete('{{ eachuser.pk }}', 'enable_user_form', 'enable_me')">
                                    {% endif %}                            
                                <!-- </form>                             -->
                            </td>                        
                                
                        </tr>
                        {% endif %}
                        {% endfor %}

                    {% endif %}

                {% endfor %}                

            {% else %}
                {% for eachuser in user_list %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>

<div id="newuser_form" class="form_modal" style="padding-top: 10%;">
    <div class="form_header">
        <div class="forms-heading">
            <h2>Create New User</h2>
        </div>
        <div class="hr_line">&nbsp;</div>
     
    </div>
    <div class="form_content">
        <form method="POST">
            {% csrf_token %}             
            <div class="forms-input-holder">
                <label for="">First Name</label>
                <input type="text" placeholder="First Name" name="firstname" required="true" id="firstname">
            </div>
            <div class="forms-input-holder">
                <label for="">Last Name</label>
                <input type="text" placeholder="Last Name" name="lastname" id="lastname" required="true">
            </div>
            <div class="forms-input-holder">
                <label for="">Email ID</label>
                <input type="email" placeholder="Email Address / username" name="email" required="true">
            </div>
            <div class="forms-input-holder">
                <label for="">Phone Number</label>
                <input type="text" placeholder="10 digit phone no." name="phone" id="phone_no" pattern="[6-9]{1}[0-9]{9}" maxlength="10" required="true">
            </div>
            <div class="forms-input-holder">
                <label for="">User Group</label>
                <select name="usergroup" id="" required="true" >
                    <option value="" disabled selected>User Type</option>
                    {% if group_list %}
                        {% for eachgroup in group_list %}
                            {% if eachgroup.name != 'Vendor' %}                            
                                <option value="{{ eachgroup.name }}">{{ eachgroup.name }}</option>
                            {% endif %}
                            
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
              
    </div>
    <div class="form_footer">
        <button class="forms-save-btn" formaction="{% url 'csp_app:create_user' %}" type="submit">Create User</button>
 </form>
    </div>
  
  </div>

<div id="disable_user_form" class="form_modal" style="padding-top: 15%;">
    <div class="delete_form_header">
        <div class="forms-heading">
            <h2>Disable This User?</h2>
        </div>     
    </div>
    <div class="delete_form_footer">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" formaction="{% url 'csp_app:disable_user' %}" value="" id="disable_me" name="disable_id" class="forms-delete-btn">Confirm</button>
            <button id="close_delete" class="delete-forms-close-btn">Cancel</button>        
        </form> 
        <br>
        <p class="modal-msg">
            If confirmed, this user will not be able to login to this site. 
        </p>   
    </div>    
</div>


<div id="enable_user_form" class="form_modal" style="padding-top: 15%;">
    <div class="delete_form_header">
        <div class="forms-heading">
            <h2>Enable This User?</h2>
        </div>     
    </div>
    <div class="delete_form_footer">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" formaction="{% url 'csp_app:enable_user' %}" value="" id="enable_me" name="enable_id" class="forms-delete-btn">Confirm</button>
            <button id="close_delete" class="delete-forms-close-btn">Cancel</button>        
        </form> 
        <br>
        <p class="modal-msg">
            If confirmed, this user will be able to login to this site. 
        </p>   
    </div>    
</div>



<script>
    $(document).ready(function(){
        showMe('User', 'user-expand');
        $(document).keyup(function(){
            if (event.keyCode === 27){
            $("#newuser_form").css("display", "none");
            $("#enable_user_form").css("display", "none");
            $("#disable_user_form").css("display", "none");

            }
        });
        $(window).click(function(e) {
        if (e.target.id === 'newuser_form' || e.target.id === 'enable_user_form' || e.target.id === 'disable_user_form'){
            $("#newuser_form").css("display", "none");
            $("#enable_user_form").css("display", "none");
            $("#disable_user_form").css("display", "none");
        }   
        });  
        $('#new_user').click(function(){
            $("#newuser_form").css("display", "block");
        });
    })
</script>

<script>
    function showDelete(itemid, formid, inputid){
        document.getElementById(formid).style.display = "block";
        document.getElementById(inputid).setAttribute("value", itemid);
    }
</script>

<script type="text/javascript">
      
    document.addEventListener('DOMContentLoaded', function() { 
        var input = document.getElementById('phone_no');
            input.addEventListener('keydown', function(e){      
                var input = e.target;
                var val = input.value;
                var end = input.selectionEnd;
                if(e.keyCode == 32) {
                    e.preventDefault();
                    return false;
                }     
            });
        })
</script>
{% endblock %}