{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Function {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns "> Entity</a>
        <a href="{% url 'csp_app:vendor' %}" class="tab-btns">Vendor</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns active-tab">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns">Location</a>    
    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_function" class="add-new-btn">New Function</button> 
</div>

<div class="table-container">
  
    <table id="function-table" class="dataTable">
        <thead>
            <tr>
                <th>Entity</th>
                
                <th>Department</th>

                <th>Function Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if function_list %}
                {% for eachfunction in function_list %}

                    <tr>
                        <td>{{ eachfunction.fk_department_code.fk_entity_code }}</td>

                        <td>{{ eachfunction.fk_department_code }}</td>

                        <td>{{ eachfunction.function_name }}</td>
                        <td class="action-col">
                            <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachfunction.pk }}" name="view_id" id="selected_id"><input type="submit" value="view" id="view" formaction="{% url 'csp_app:view_function' %}"> | <input type="submit" value="edit" formaction="{% url 'csp_app:edit_function' %}"> | <input value="delete" onclick="showDelete('{{ eachfunction.pk }}', 'delete_function_form')"> </form>
                        </td>
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachfunction in function_list %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>

<div id="view_entity_form" class="form_modal" style="display: block;padding-top: 10%;">

    <div class="form_header">
        <div class="forms-heading">
            <h2>Edit Function Details</h2>
        </div>
        <div class="hr_line">&nbsp;</div>            
    </div>
    {% if view_function_list %}
        {% for eachfunction in view_function_list %}
            <div class="form_content">
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="e_id" value="{{ eachfunction.pk}}">
                    <div class="forms-input-holder">
                        <label for="">Entity</label>
                
                        <select name="e_function_entity" required="true" id="function_entity">
                            <!-- {% if selected_entity %}
                
                                {% for eachentity in selected_entity %}
                                    <option value="{{ eachentity.pk }}" label="{{ eachentity.entity_name }}" selected>{{ eachentity.entity_name }}</option>
                                {% endfor %}
                                
                            {% endif %} -->
                            <option value="{{ eachfunction.fk_department_code.fk_entity_code_id }}" label="{{ eachfunction.fk_department_code.fk_entity_code }}" selected>{{ eachfunction.fk_department_code.fk_entity_code }}</option>
                            {% if entity_list %}
                                {% for eachentity in entity_list %}
                                    {% if eachentity.pk != eachfunction.fk_department_code.fk_entity_code_id %}
                                    <option value="{{ eachentity.pk }}" label="{{ eachentity.entity_name }}">{{ eachentity.pk }}</option>
                            {% endif %}

                                {% endfor %}                
                            {% endif %}
                        </select>
                    </div>
                    <div class="forms-input-holder">
                        <label for="">Department</label>
                
                        <select name="e_function_dept" id="function_dept">
                            <option value="" disabled class="empty" label=" ">Select Department</option>
                            <option value="{{ eachfunction.fk_department_code_id }}" label="{{ eachfunction.fk_department_code }}">{{ eachfunction.fk_department_code.fk_entity_code_id }}</option>
                            {% if department_list %}
                                {% for eachdept in department_list %}
                                    {% if eachdept.pk != eachfunction.fk_department_code_id %}
                                        <option value="{{ eachdept.pk }}" label="{{ eachdept.department_name }}">{{ eachdept.fk_entity_code_id }}</option>
                                    {% endif %}                                
                                {% endfor %}                
                            {% endif %}
                        </select>
                    </div>
                    <div class="forms-input-holder">
                        <label for="function_phone">Function Name</label>
                        <input type="text" value="{{ eachfunction.function_name }}" placeholder="Function Name" name="e_function_name" title="Enity Name" required="true" maxlength="50" id="name">
                    </div>           
                   
            </div>
        {% endfor %}
    {% endif %} 
    <div class="form_footer">
            <button type="submit" class="edit-forms-save-btn" formaction="{% url 'csp_app:save_edit_function' %}">Save Changes</button>
        </form>
        <button onclick="location.href = '/csp_function/'" class="edit-forms-close-btn">Close</button>
    </div>
             
  
  </div>



  <script>
    $(document).ready(function(){
        showMe('Organization', 'org-expand');
        $('#function_entity').change(function() {
            var filter = $(this).val();
            var total = $('#function_dept option').length;
            var count = 0;
            $('#function_dept option').each(function() {
            if ($(this).text() == filter) {
                $('#function_dept').attr("disabled", false);
                    $(this).show();
                } else {
                    $(this).hide();
                    count += 1;
                }
                $('#function_dept').val(filter);
            });
            if (count === total){
                $('#function_dept').attr("disabled", true);
            } else {
                $('#function_dept .empty').css("display", "");
                $('#function_dept .empty').prop("selected", true);

            }
        });
             
    })
</script>
{% endblock %}