{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Sub Team {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns"> Company</a>
        <a href="{% url 'csp_app:vendor' %}" class="tab-btns">Vendor</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns active-tab">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns">Location</a> 
        <a href="{% url 'csp_app:minimumwages' %}" class="tab-btns">Minimum Wages</a>

    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_sub_team" class="add-new-btn">New Sub Team</button>
</div>
<div class="table-container">
    <a href="{% url 'csp_app:export_subteam' %}"class="export-btn">Export <i class="fas fa-file-export"></i></a>
    <table id="subteam-table" class="dataTable">
        <thead>
            <tr>
                <th>Company</th>
                <th class="sort-latest">time</th>
                <th>Department</th>
                
                <th>Function</th>

                <th>Team</th>

                <th>Sub Team Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if t_list %}
                {% for eachsubteam in t_list %}

                    <tr>
                        <td>{{ eachsubteam.fk_team_code.fk_function_code.fk_department_code.fk_entity_code }}</td>
                        <td class="sort-latest" >{{ eachsubteam.created_date_time }}</td>
                        <td>{{ eachsubteam.fk_team_code.fk_function_code.fk_department_code }}</td>

                        <td>{{ eachsubteam.fk_team_code.fk_function_code }}</td>

                        <td>{{ eachsubteam.fk_team_code }}</td>

                        <td>{{ eachsubteam.sub_team_name }}</td>
                        <td class="action-col">
                            <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachsubteam.pk }}" name="view_id" id="selected_id"><input type="submit" value="view" id="view" formaction="{% url 'csp_app:view_subteam' %}"> | <input type="submit" value="edit" formaction="{% url 'csp_app:edit_subteam' %}"> | <input value="delete" readonly onclick="showDelete('{{ eachsubteam.pk }}', 'delete_subteam_form')"> </form>
                        </td>
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachsubteam in t_list %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>

<div id="view_entity_form" class="form_modal" style="display: block;padding-top: 7%;">

    <div class="form_header">
        <div class="forms-heading">
            <h2>Edit Sub Team Details</h2>
        </div>
        <div class="hr_line">&nbsp;</div>            
    </div>
    {% if view_subteam_list %}
        {% for eachsubteam in view_subteam_list %}
            <div class="form_content">
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="e_id" value="{{ eachsubteam.pk }}">
                    <div class="forms-input-holder">
                        <label for="">Company</label>
                
                        <select name="e_subteam_entity" required="true" id="subteam_entity">
                            <option value="{{eachsubteam.fk_team_code.fk_function_code.fk_department_code.fk_entity_code_id }}" label="{{ eachsubteam.fk_team_code.fk_function_code.fk_department_code.fk_entity_code }}" selected>{{ eachsubteam.fk_team_code.fk_function_code.fk_department_code.fk_entity_code }}</option>
                            {% if entity_list %}
                                {% for eachentity in entity_list %}
                                {% if eachentity.pk != eachsubteam.fk_team_code.fk_function_code.fk_department_code.fk_entity_code_id %}

                                    <option value="{{ eachentity.pk }}" label="{{ eachentity.entity_name }}">{{ eachentity.pk }}</option>
                            {% endif %}
                               
                                    {% endfor %}                
                            {% endif %}
                        </select>
                    </div>
                    <div class="forms-input-holder">
                        <label for="">Department</label>
                
                        <select name="e_subteam_dept" id="subteam_dept">
                            <option value="" disabled class="empty" label=" ">Select Department</option>

                            <option value="{{ eachsubteam.fk_team_code.fk_function_code.fk_department_code_id }}" label="{{ eachsubteam.fk_team_code.fk_function_code.fk_department_code }}">{{ eachsubteam.fk_function_code.fk_department_code.fk_entity_code_id }}</option>
                            {% if department_list %}
                                {% for eachdept in department_list %}
                                {% if eachdept.pk != eachsubteam.fk_team_code.fk_function_code.fk_department_code_id %}
                                    <option value="{{ eachdept.pk }}" label="{{ eachdept.department_name }}">{{ eachdept.fk_entity_code_id }}</option>
                            {% endif %}
                                
                                    {% endfor %}                
                            {% endif %}
                        </select>
                    </div>
                    <div class="forms-input-holder">
                        <label for="">Function</label>
                
                        <select name="e_subteam_function" id="subteam_function" required="true">
                            <option value="" disabled class="empty" label=" ">Select Function</option>

                            <option value="{{ eachsubteam.fk_team_code.fk_function_code_id }}" label="{{ eachsubteam.fk_team_code.fk_function_code }}">{{ eachsubteam.fk_team_code.fk_function_code.fk_department_code_id }}</option>
                            {% if function_list %}
                                {% for eachfunction in function_list %}
                                {% if eachfunction.pk != eachsubteam.fk_team_code.fk_function_code_id %}
                                    <option value="{{ eachfunction.pk }}" label="{{ eachfunction.function_name }}">{{ eachfunction.fk_department_code_id  }}</option>
                                {% endif %}
                                    {% endfor %}                
                            {% endif %}
                        </select>
                    </div>
                    <div class="forms-input-holder">
                        <label for="">Team</label>
                
                        <select name="e_subteam_team" id="subteam_team" required="true">
                            <option value="" disabled class="empty" label=" ">Select Team</option>

                            <option value="{{ eachsubteam.fk_team_code_id }}" label="{{ eachsubteam.fk_team_code }}">{{ eachsubteam.fk_team_code.fk_function_code_id }}</option>
                            {% if team_list %}
                                {% for eachteam in team_list %}
                                {% if eachteam.pk != eachsubteam.fk_function_code_id %}

                                    <option value="{{ eachteam.pk }}" label="{{ eachteam.team_name }}">{{ eachteam.fk_function_code_id  }}</option>
                                    {% endif %}
                                
                                    {% endfor %}                
                            {% endif %}
                        </select>
                    </div>
                    <div class="forms-input-holder">
                        <label for="subteam_phone">Sub Team Name</label>
                        <input type="text" value="{{ eachsubteam.sub_team_name }}" placeholder="Sub Team Name" name="e_subteam_name" title="Sub Team Name" required="true" maxlength="50" id="name">
                    </div>           
                   
            </div>
        {% endfor %}
    {% endif %} 
    <div class="form_footer">
            <button type="submit" class="edit-forms-save-btn" formaction="{% url 'csp_app:save_edit_subteam' %}">Save Changes</button>
        </form>
        <button onclick="location.href = '/csp_sub_team/'" class="edit-forms-close-btn">Close</button>
    </div>
             
  
  </div>


<script>
    $(document).ready(function(){
        showMe('Organization', 'org-expand');
        $(document).keyup(function(){
            if (event.keyCode === 27){
            $("#sub_team_form").css("display", "none");
            $("#delete_subteam_form").css("display", "none");

            }
        });
        $(window).click(function(e) {
        if (e.target.id === 'sub_team_form'){
            $("#sub_team_form").css("display", "none");
            $("#delete_subteam_form").css("display", "none");

        }   
        });  
        $('#new_sub_team').click(function(){
            $("#sub_team_form").css("display", "block");
        });

        $('#subteam_entity').change(function() {
            var filter = $(this).val();
            var total = $('#subteam_dept option').length;
            var count = 0;
            $('#subteam_dept option').each(function() {
            if ($(this).text() == filter) {
            $('#subteam_dept').attr("disabled", false);        
               
                $(this).show();

            } else {
                $(this).hide();
                count += 1;
            }
            $('#subteam_dept').val(filter);
            });
            if (count === total){
                $('#subteam_dept').attr("disabled", true)
             
            } else {
                $('#subteam_dept .empty').css("display", "");
                $('#subteam_dept .empty').prop("selected", true);
            }
        });

        $('#subteam_dept').change(function() {
            var filter = $(this).val();
            var total = $('#subteam_function option').length;
            var count = 0;
            $('#subteam_function option').each(function() {
            if ($(this).text() == filter) {
            $('#subteam_function').attr("disabled", false);
                $(this).show();
                $(this).attr("selected", true);
            } else {
                $(this).hide();
                count += 1;
            }
            $('#subteam_function').val(filter);
            });
            if (count === total){
                $('#subteam_function').attr("disabled", true)
               
            } else {
                $('#subteam_function .empty').css("display", "");
                $('#subteam_function .empty').prop("selected", true);
            }
        });
      
        $('#subteam_function').change(function() {
            // alert("ok")
            var filter = $(this).val();
            var total = $('#subteam_team option').length;
            var count = 0;
            $('#subteam_team option').each(function() {
            if ($(this).text() == filter) {
            $('#subteam_team').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#subteam_team').val(filter);
            });
            if (count === total){
                $('#subteam_team').attr("disabled", true)
           
            } else {
                $('#subteam_team .empty').css("display", "");
                $('#subteam_team .empty').prop("selected", true);
            }
        });
    
    })
</script>
{% endblock %}
