{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Entity {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns active-tab"> Entity</a>
        <a href="{% url 'csp_app:vendor' %}" class="tab-btns">Vendor</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns">Location</a>    
    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_entity" class="add-new-btn">New Entity</button>

</div>

<div class="table-container">
  
    <table id="entity-table" class="dataTable">
        <thead>
            <tr>
                <th>Entity Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if entity_list %}
                {% for eachentity in entity_list %}

                    <tr>
                        <td>{{ eachentity.entity_name }}</td>
                        <td class="action-col">
                            <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachentity.pk }}" name="view_id" id="selected_id"><input type="submit" value="view" id="view" formaction="{% url 'csp_app:view_entity' %}"> | <input type="submit" value="edit" formaction="{% url 'csp_app:edit_entity' %}"> | <input value="delete" onclick="showDelete('{{ eachentity.pk }}', 'delete_entity_form')"> </form>
                        </td>
                    
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachentity in entity_list %}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>

<div id="entity_form" class="form_modal" style="padding-top: 15%;">
    <div class="form_header">
        <div class="forms-heading">
            <h2>Create New Entity</h2>
        </div>
        <div class="hr_line">&nbsp;</div>
     
    </div>
    <div class="form_content">
        <form method="POST" action="{% url 'csp_app:create_entity' %}">
            {% csrf_token %}
            <div class="forms-input-holder">   
                <label for="entity_name">Entity Name</label>
                <input type="text" placeholder="Entity Name" name="entity_name" title="Enity Name" required="true" maxlength="50">
            </div>           
              
    </div>
    <div class="form_footer">
            <button type="submit" formaction="{% url 'csp_app:create_entity' %}" class="forms-save-btn">Save Entity</button>
        </form>
    </div>
  
  </div>

<div id="delete_entity_form" class="form_modal" style="padding-top: 15%;">
    <div class="delete_form_header">
        <div class="forms-heading">
            <h2>Delete This Entity?</h2>
        </div>     
    </div>
    <div class="delete_form_footer">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" formaction="{% url 'csp_app:delete_entity' %}" value="" id="delete_me" name="delete_id" class="forms-delete-btn">Delete</button>
            <button id="close_delete" class="delete-forms-close-btn">Cancel</button>        
        </form>
    </div>
</div>


<script>
    $(document).ready(function(){
        showMe('Organization', 'org-expand');
        $(document).keyup(function(){
            if (event.keyCode === 27){
            $("#entity_form").css("display", "none");
            $("#delete_entity_form").css("display", "none");
            }
        });
        $(window).click(function(e) {
        if (e.target.id === 'entity_form' || e.target.id === 'delete_entity_form') {
            $("#entity_form").css("display", "none");
            $("#delete_entity_form").css("display", "none");
        }   
        });  
        $('#new_entity').click(function(){
            $("#entity_form").css("display", "block");
        });
        $('#close_delete').click(function(){
            $("#delete_entity_form").css("display", "none");
        });      
    })
</script>
<script>
    function showDelete(itemid, formid){
        document.getElementById(formid).style.display = "block";
        document.getElementById("delete_me").setAttribute("value", itemid);
    }
</script>

{% endblock %}