{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Function {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns "> Entity</a>
        <a href="{% url 'csp_app:vendor' %}" class="tab-btns">Vendor</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns active-tab">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns">Location</a>    
    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_function" class="add-new-btn">New Function</button> 
</div>

<div class="table-container">
  
    <table id="function-table" class="dataTable">
        <thead>
            <tr>
                
                <th>Department</th>

                <th>Function Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if function_list %}
                {% for eachfunction in function_list %}

                    <tr>
                        <td>{{ eachfunction.fk_department_code }}</td>

                        <td>{{ eachfunction.function_name }}</td>
                        <td class="action-col">
                            <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachfunction.pk }}" name="view_id" id="selected_id"><input type="submit" value="view" id="view" formaction="{% url 'csp_app:view_function' %}"> | <input type="submit" value="edit" formaction="{% url 'csp_app:edit_function' %}"> | <input readonly value="delete" onclick="showDelete('{{ eachfunction.pk }}', 'delete_function_form')"> </form>
                        </td>
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachfunction in function_list %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>

<div id="function_form" class="form_modal" style="padding-top: 10%;">
    <div class="form_header">
      <div class="forms-heading" style="text-align: center;">
          <h2>Create New Function</h2>
      </div>
      <div class="hr_line">&nbsp;</div>     
    </div>
    <div class="form_content">
        <form method="POST">
            {% csrf_token %}
            <div class="forms-input-holder">
                <label for="">Entity</label>
                <select name="function_entity" id="function_entity">
                    <option value="" disabled selected>Select Entity</option>
                    {% if entity_list %}
                        {% for eachentity in entity_list %}
                            <option value="{{ eachentity.pk }}" label="{{ eachentity.entity_name }}">{{ eachentity.entity_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>     
            <div class="forms-input-holder">
            <label for="">Department</label>

                <select name="function_dept" id="function_dept" required="true" disabled="true">
                    <option value="" disabled selected class="empty" label=" ">Select Department</option>
                    {% if department_list %}
                        {% for eachdepartment in department_list %}
                            <option value="{{ eachdepartment.pk }}" label="{{ eachdepartment.department_name }}">{{ eachdepartment.fk_entity_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="forms-input-holder">
            <label for="">Function</label>

                <input type="text" placeholder="Function" name="function_name" required="true" maxlength="50" id="name">
            </div>
            
    </div>
    <div class="form_footer">
            <button type="submit" formaction="{% url 'csp_app:create_function' %}" class="forms-save-btn">Save Function</button>
        </form>
    </div>
  
  </div>

<div id="delete_function_form" class="form_modal" style="padding-top: 15%;">
    <div class="delete_form_header">
        <div class="forms-heading">
            <h2>Delete This Function?</h2>
        </div>     
    </div>
    <div class="delete_form_footer">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" formaction="{% url 'csp_app:delete_function' %}" value="" id="delete_me" name="delete_id" class="forms-delete-btn">Delete</button>
            <button id="close_delete" class="delete-forms-close-btn">Cancel</button>        
        </form>
    </div>
</div>
<script>
    $(document).ready(function(){
        showMe('Organization', 'org-expand');
        $(document).keyup(function(){
            if (event.keyCode === 27){
            $("#function_form").css("display", "none");
            $("#delete_function_form").css("display", "none");

            }
        });
        $(window).click(function(e) {
        if (e.target.id === 'function_form'){
            $("#function_form").css("display", "none");
            $("#delete_function_form").css("display", "none");

        }   
        });  
        $('#new_function').click(function(){
            $("#function_form").css("display", "block");
        });

        $('#function_entity').change(function() {
            var filter = $(this).val();
            var total = $('#function_dept option').length;
            // alert(total);
            var count = 0;
            $('#function_dept option').each(function() {
            if ($(this).text() == filter) {
                $('#function_dept').attr("disabled", false);
                    $(this).show();
                } else {
                    $(this).hide();
                    count += 1;
                }
                $('#function_dept').val(filter);
            });
            // alert(count)
            if (count === total){
                $('#function_dept').attr("disabled", true);
            } else {
                $('#function_dept .empty').css("display", "");
                $('#function_dept .empty').prop("selected", true);

            }
        });
        $('#close_delete').click(function(){
            $("#delete_function_form").css("display", "none");
        });  
    })
</script>
<script>
    function showDelete(itemid, formid){
        document.getElementById(formid).style.display = "block";
        document.getElementById("delete_me").setAttribute("value", itemid);
    }
</script>
{% endblock %}