{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Location {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns"> Entity</a>
        <a href="{% url 'csp_app:agency' %}" class="tab-btns">Agency</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns active-tab">Location</a>    
    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_location" class="add-new-btn">New Location</button> 
</div>

<div class="table-container">
  
    <table id="location-table" class="dataTable">
        <thead>
            <tr>
                <th>Location Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if location_list %}
                {% for eachlocation in location_list %}

                    <tr>
                        <td>{{ eachlocation.location_name }}</td>
                        <td>{{ eachlocation.fk_city_code }}</td>
                        <td style="text-align: center;"><a href="http://">view</a> | <a href="http://">edit</a> | <a href="http://">delete</a></td>
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachlocation in location_list %}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>

<div id="location_form" class="form_modal" style="padding-top: 2%;">
    <div class="form_header">
      <div class="forms-heading" style="text-align: center;">
          <h2>Create New Location</h2>
      </div>
      <div class="hr_line">&nbsp;</div>
     
    </div>
    <div class="form_content">
        <form method="POST">
            {% csrf_token %}
            <label for="">Entity</label>
            <div class="forms-input-holder">
                <select name="location_entity" id="location_entity" required="true">
                    <option value="" disabled selected>Select Entity</option>
                    {% if entity_list %}
                        {% for eachentity in entity_list %}
                            <option value="{{ eachentity.pk }}" label="{{ eachentity.entity_name }}">{{ eachentity.entity_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
        
            <label for="">Department</label>
            <div class="forms-input-holder">
                <select name="location_dept" id="location_dept" required="true" disabled="true">
                    <option value="" disabled selected>Select department</option>
                    {% if department_list %}
                        {% for eachdepartment in department_list %}
                            <option value="{{ eachdepartment.pk }}" label="{{ eachdepartment.department_name }}">{{ eachdepartment.fk_entity_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">Function</label>
            <div class="forms-input-holder">
                <select name="location_function" id="location_function" required="true" disabled="true">
                    <option value="" disabled selected>Select Function</option>
                    {% if function_list %}
                        {% for eachfunction in function_list %}
                            <option value="{{ eachfunction.pk }}" label="{{ eachfunction.function_name }}">{{ eachfunction.fk_department_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">Team</label>
            <div class="forms-input-holder">
                <select name="location_team" id="location_team" required="true"  disabled="true">
                    <option value="" disabled selected>Select Team</option>
                    {% if team_list %}
                        {% for eachteam in team_list %}
                            <option value="{{ eachteam.pk }}" label="{{ eachteam.team_name }}">{{ eachteam.fk_function_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">Sub Team</label>
            <div class="forms-input-holder">
                <select name="location_subteam" id="location_subteam" required="true" disabled="true">
                    <option value="" disabled selected>Select Sub Team</option>
                    {% if sub_team_list %}
                        {% for eachsubteam in sub_team_list %}
                            <option value="{{ eachsubteam.pk }}" label="{{ eachsubteam.sub_team_name }}">{{ eachsubteam.fk_team_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">Designation</label>
            <div class="forms-input-holder">
                <select name="location_desg" id="location_desg" required="true" disabled="true">
                    <option value="" disabled selected>Select Designation</option>
                    {% if designation_list %}
                        {% for eachdesignation in designation_list %}
                            <option value="{{ eachdesignation.pk }}" label="{{ eachdesignation.designation_name }}">{{ eachdesignation.fk_sub_team_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">Region</label>
            <div class="forms-input-holder">
                <select name="location_region" id="location_region" required="true" disabled="true">
                    <option value="" disabled selected>Select Region</option>
                    {% if location_list %}
                        {% for eachregion in location_list %}
                            <option value="{{ eachregion.pk }}" label="{{ eachregion.location_name }}">{{ eachregion.fk_designation_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">State</label>
            <div class="forms-input-holder">
                <select name="location_state" id="location_state" required="true" disabled="true">
                    <option value="" disabled selected>Select State</option>
                    {% if location_list %}
                        {% for eachstate in location_list %}
                            <option value="{{ eachstate.pk }}" label="{{ eachstate.location_name }}">{{ eachstate.fk_location_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">City</label>
            <div class="forms-input-holder">
                <select name="location_city" id="location_city" required="true" disabled="true">
                    <option value="" disabled selected>Select City</option>
                    {% if city_list %}
                        {% for eachcity in city_list %}
                            <option value="{{ eachcity.pk }}" label="{{ eachcity.city_name }}">{{ eachcity.fk_city_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="forms-input-holder">
                <input type="text" placeholder="Location Name" name="location_name" required="true">
            </div>
               
    </div>
    <div class="form_footer">
        <button type="submit" formaction="{% url 'csp_app:create_city' %}" class="forms-save-btn">Save City</button>
    </form> 
    </div>
  
  </div>


  <script>
    $(document).ready(function(){
        showMe('Organization', 'org-expand');
        $(document).keyup(function(){
            if (event.keyCode === 27){
            $("#location_form").css("display", "none");
            }
        });
        $(window).click(function(e) {
        if (e.target.id === 'location_form'){
            $("#location_form").css("display", "none");
        }   
        });  
        $('#new_location').click(function(){
            $("#location_form").css("display", "block");
        });

        $('#location_entity').change(function() {
            var filter = $(this).val();
            var total = $('#location_dept option').length;
            var count = 0;
            $('#location_dept option').each(function() {
            if ($(this).text() == filter) {
            $('#location_dept').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#location_dept').val(filter);
            });
            if (count === total){
                $('#location_dept').attr("disabled", true)
            }
        });

        $('#location_dept').change(function() {
            var filter = $(this).val();
            var total = $('#location_function option').length;
            var count = 0;
            $('#location_function option').each(function() {
            if ($(this).text() == filter) {
            $('#location_function').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#location_function').val(filter);
            });
            if (count === total){
                $('#location_function').attr("disabled", true)
            }
        });
        $('#location_function').change(function() {
            var filter = $(this).val();
            var total = $('#location_team option').length;
            var count = 0;
            $('#location_team option').each(function() {
            if ($(this).text() == filter) {
            $('#location_team').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#location_team').val(filter);
            });
            if (count === total){
                $('#location_team').attr("disabled", true)
            }
        });

        $('#location_team').change(function() {
            var filter = $(this).val();
            var total = $('#location_subteam option').length;
            var count = 0;
            $('#location_subteam option').each(function() {
            if ($(this).text() == filter) {
            $('#location_subteam').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#location_subteam').val(filter);
            });
            if (count === total){
                $('#location_subteam').attr("disabled", true)
            }
        });

        
        $('#location_subteam').change(function() {
            var filter = $(this).val();
            var total = $('#location_desg option').length;
            var count = 0;
            $('#location_desg option').each(function() {
            if ($(this).text() == filter) {
            $('#location_desg').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#location_desg').val(filter);
            });
            if (count === total){
                $('#location_desg').attr("disabled", true)
            }
        });

        $('#location_desg').change(function() {
            var filter = $(this).val();
            var total = $('#location_region option').length;
            var count = 0;
            $('#location_region option').each(function() {
            if ($(this).text() == filter) {
            $('#location_region').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#location_region').val(filter);
            });
            if (count === total){
                $('#location_region').attr("disabled", true)
            }
        });
    })
</script>

{% endblock %}