{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Location {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns"> Entity</a>
        <a href="{% url 'csp_app:vendor' %}" class="tab-btns">Vendor</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns active-tab">Location</a>    
    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_location" class="add-new-btn">New Location</button> 
</div>

<div class="table-container">
  
    <table id="location-table" class="dataTable">
        <thead>
            <tr>
                <th>Location Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if location_list %}
                {% for eachlocation in location_list %}

                    <tr>
                        <td>{{ eachlocation.location_name }}</td>
                        <td>{{ eachlocation.fk_city_code }}</td>
                        <td style="text-align: center;"><a href="http://">view</a> | <a href="http://">edit</a> | <a href="http://">delete</a></td>
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachlocation in location_list %}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>

<div id="location_form" class="form_modal" style="padding-top: 2%;">
    <div class="form_header">
      <div class="forms-heading" style="text-align: center;">
          <h2>Create New Location</h2>
      </div>
      <div class="hr_line">&nbsp;</div>
     
    </div>
    <div class="form_content" style="height: 72vh;">
        <form method="POST">
            {% csrf_token %}
            <label for="">Entity</label>
            <div class="forms-input-holder">
                <select name="location_entity" id="location_entity" required="true">
                    <option value="" disabled selected>Select Entity</option>
                    {% if entity_list %}
                        {% for eachentity in entity_list %}
                            <option value="{{ eachentity.pk }}" label="{{ eachentity.entity_name }}">{{ eachentity.entity_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
        
            <label for="">Region</label>
            <div class="forms-input-holder">
                <select name="location_region" id="location_region" required="true" disabled="true">
                    <option value="" disabled selected>Select Region</option>
                    {% if region_list %}
                        {% for eachregion in region_list %}
                            <option value="{{ eachregion.pk }}" label="{{ eachregion.region_name }}">{{ eachregion.fk_entity_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">State</label>
            <div class="forms-input-holder">
                <select name="location_state" id="location_state" required="true" disabled="true">
                    <option value="" disabled selected>Select State</option>
                    {% if state_list %}
                        {% for eachstate in state_list %}
                            <option value="{{ eachstate.pk }}" label="{{ eachstate.state_name }}">{{ eachstate.fk_region_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">City</label>
            <div class="forms-input-holder">
                <select name="location_city" id="location_city" required="true" disabled="true">
                    <option value="" disabled selected>Select City</option>
                    {% if city_list %}
                        {% for eachcity in city_list %}
                            <option value="{{ eachcity.pk }}" label="{{ eachcity.city_name }}">{{ eachcity.fk_state_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="forms-input-holder">
                <input type="text" placeholder="Location Name" name="location_name" required="true">
            </div>
             
            <div class="forms-input-holder">
                <input type="text" placeholder="Location Code" name="location_code" required="true">
            </div>  
    </div>
    <div class="form_footer">
        <button type="submit" formaction="{% url 'csp_app:create_location' %}" class="forms-save-btn">Save Location</button>
    </form> 
    </div>
  
  </div>


  <script>
    $(document).ready(function(){
        showMe('Organization', 'org-expand');
        $(document).keyup(function(){
            if (event.keyCode === 27){
            $("#location_form").css("display", "none");
            }
        });
        $(window).click(function(e) {
        if (e.target.id === 'location_form'){
            $("#location_form").css("display", "none");
        }   
        });  
        $('#new_location').click(function(){
            $("#location_form").css("display", "block");
        });


        $('#location_entity').change(function() {
            var filter = $(this).val();
            var total = $('#location_region option').length;
            var count = 0;
            $('#location_region option').each(function() {
            if ($(this).text() == filter) {
            $('#location_region').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#location_region').val(filter);
            });
            if (count === total){
                $('#location_region').attr("disabled", true)
            }
        });

        $('#location_region').change(function() {
            var filter = $(this).val();
            var total = $('#location_state option').length;
            var count = 0;
            $('#location_state option').each(function() {
            if ($(this).text() == filter) {
            $('#location_state').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#location_state').val(filter);
            });
            if (count === total){
                $('#location_state').attr("disabled", true)
            }
        });

        $('#location_state').change(function() {
            var filter = $(this).val();
            var total = $('#location_city option').length;
            var count = 0;
            $('#location_city option').each(function() {
            if ($(this).text() == filter) {
            $('#location_city').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#location_city').val(filter);
            });
            if (count === total){
                $('#location_city').attr("disabled", true)
            }
        });
    })
</script>

{% endblock %}