{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Minimum Wages {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns"> Entity</a>
        <a href="{% url 'csp_app:vendor' %}" class="tab-btns">Vendor</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns">Location</a>   
        <a href="{% url 'csp_app:minimumwages' %}" class="tab-btns active-tab">Minimum Wages</a>
    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_wage" class="add-new-btn">New Minum Wages</button>

</div>

<div class="table-container">
  
    <table id="wages-table" class="dataTable">
        <thead>
            <tr>
                <th>State</th>
                <th>Zone</th>
                <th>Skill Type</th>
                <th>Minimum Wage</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if wage_list %}
                {% for eachwage in wage_list %}

                    <tr>
                        <td>{{ eachwage.fk_state_code }}</td>
                        <td>{{ eachwage.fk_zone_code }}</td>
                        <td>{{ eachwage.fk_skill_code }}</td>
                        <td>{{ eachwage.wages }}</td>

                        <td class="action-col">
                            <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachwage.pk }}" name="view_id" id="selected_id"><input type="submit" value="view" id="view" formaction="{% url 'csp_app:view_minimumwages' %}"> | <input type="submit" value="edit" formaction="{% url 'csp_app:edit_minimumwages' %}"> | <input value="delete" readonly onclick="showDelete('{{ eachwage.pk }}', 'delete_wage_form')"> </form>
                        </td>
                    
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachwage in wage_list %}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>

<div id="wage_form" class="form_modal" >
    <div class="form_header">
        <div class="forms-heading">
            <h2>Create New Minimum Wage</h2>
        </div>
        <div class="hr_line">&nbsp;</div>
     
    </div>
    <div class="form_content">
        <form method="POST" action="{% url 'csp_app:create_minimumwages' %}">
            {% csrf_token %}
            <div class="forms-input-holder">   
                <label for="state">State</label>
                <select name="state" id="">
                    <option value="" selected disabled></option>
                    {% if state_list %}
                        {% for eachstate in state_list %}
                            <option value="{{ eachstate.pk }}" label="{{ eachstate.state_name }}">{{ eachstate.state_name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div> 
            <div class="forms-input-holder">   
                <label for="zone">Zone</label>
                <select name="zone" id="">
                    <option value="" selected disabled></option>
                    {% if zone_list %}
                        {% for eachzone in zone_list %}
                            <option value="{{ eachzone.pk }}" label="{{ eachzone.zone_name }}">{{ eachzone.zone_name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div> 
            <div class="forms-input-holder">   
                <label for="skill">Skill Type</label>
                <select name="skill" id="">
                    <option value="" selected disabled></option>
                    {% if skill_list %}
                        {% for eachskill in skill_list %}
                            <option value="{{ eachskill.pk }}" label="{{ eachskill.skill_name }}">{{ eachskill.skill_name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div> 
            <div class="forms-input-holder">   
                <label for="wage">Minimum Wage</label>
                <input type="text" placeholder="Minimum Wage Value" name="wage" id="wage" title="Minimum Wage Value" required="true" maxlength="20">
            </div>           
              
    </div>
    <div class="form_footer">
            <button type="submit" formaction="{% url 'csp_app:create_minimumwages' %}" class="forms-save-btn" style="width: auto;">Save Minimum Wage</button>
        </form>
    </div>
  
</div>

<div id="delete_wage_form" class="form_modal" style="padding-top: 15%;">
    <div class="delete_form_header">
        <div class="forms-heading">
            <h2>Delete This Data?</h2>
        </div>     
    </div>
    <div class="delete_form_footer">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" formaction="{% url 'csp_app:delete_minimumwages' %}" value="" id="delete_me" name="delete_id" class="forms-delete-btn">Delete</button>
            <button id="close_delete" class="delete-forms-close-btn">Cancel</button>        
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        showMe('Organization', 'org-expand');
        $(document).keyup(function(){
            if (event.keyCode === 27){
            $("#wage_form").css("display", "none");
            $("#delete_wage_form").css("display", "none");
            }
        });
        $(window).click(function(e) {
        if (e.target.id === 'wage_form' || e.target.id === 'delete_wage_form') {
            $("#wage_form").css("display", "none");
            $("#delete_wage_form").css("display", "none");
        }   
        });  
        $('#new_wage').click(function(){
            $("#wage_form").css("display", "block");
        });
        $('#close_delete').click(function(){
            $("#delete_wage_form").css("display", "none");
        });      
    })
</script>
<script>
    function showDelete(itemid, formid){
        document.getElementById(formid).style.display = "block";
        document.getElementById("delete_me").setAttribute("value", itemid);
    }
</script>
<script type="text/javascript">
      
    document.addEventListener('DOMContentLoaded', function() { 
     
            var input = document.getElementById('wage');
            input.addEventListener('keydown', function(e){      
                var input = e.target;
                var val = input.value;
                var end = input.selectionEnd;
                
                if(e.keyCode == 190 && (val[end - 1] == "." || val[end] == ".")) {
                    e.preventDefault();
                    return false;
                }      
            });
    });
</script>

{% endblock %}