{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Region {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns"> Entity</a>
        <a href="{% url 'csp_app:vendor' %}" class="tab-btns">Vendor</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns active-tab">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns">Location</a>    
    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_region" class="add-new-btn">New Region</button> 
</div>

<div class="table-container">
  
    <table id="region-table" class="dataTable">
        <thead>
            <tr>
                <th>Region Name</th>
                <th>Entity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if region_list %}
                {% for eachregion in region_list %}

                    <tr>
                        <td>{{ eachregion.region_name }}</td>
                        <td>{{ eachregion.fk_entity_code }}</td>
                        <td style="text-align: center;"><a href="http://">view</a> | <a href="http://">edit</a> | <a href="http://">delete</a></td>
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachregion in region_list %}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>

<div id="region_form" class="form_modal" style="padding-top: 13%;">
    <div class="form_header">
      <div class="forms-heading" style="text-align: center;">
          <h2>Create New Region</h2>
      </div>
      <div class="hr_line">&nbsp;</div>
     
    </div>
    <div class="form_content">
        <form method="POST">
            {% csrf_token %}
            <label for="">Entity</label>
            <div class="forms-input-holder">
                <select name="region_entity" id="region_entity" required="true">
                    <option value="" disabled selected>Select Entity</option>
                    {% if entity_list %}
                        {% for eachentity in entity_list %}
                            <option value="{{ eachentity.pk }}" label="{{ eachentity.entity_name }}">{{ eachentity.entity_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>   
            
            <div class="forms-input-holder">
                <input type="text" placeholder="Region" name="region_name" required="true">
            </div>
               
    </div>
    <div class="form_footer">
        <button type="submit" formaction="{% url 'csp_app:create_region' %}" class="forms-save-btn">Save Region</button>
    </form>
    </div>
  
  </div>

<script>
    $(document).ready(function(){
        showMe('Organization', 'org-expand');
        $(document).keyup(function(){
            if (event.keyCode === 27){
            $("#region_form").css("display", "none");
            }
        });
        $(window).click(function(e) {
        if (e.target.id === 'region_form'){
            $("#region_form").css("display", "none");
        }   
        });  
        $('#new_region').click(function(){
            $("#region_form").css("display", "block");
        });

        
     
    })
</script>
{% endblock %}