{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} State {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns"> Entity</a>
        <a href="{% url 'csp_app:vendor' %}" class="tab-btns">Vendor</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns active-tab">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns">Location</a>    
        <a href="{% url 'csp_app:minimumwages' %}" class="tab-btns">Minimum Wages</a>

    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_state" class="add-new-btn">New State</button> 
</div>

<div class="table-container">
    <a href="{% url 'csp_app:export_state' %}"class="export-btn">Export <i class="fas fa-file-export"></i></a>
    <table id="state-table" class="dataTable">
        <thead>
            <tr>
                <th>Entity</th>
                <th>Region</th>

                <th>State Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if state_list %}
                {% for eachstate in state_list %}

                    <tr>
                        <td>{{ eachstate.fk_region_code.fk_entity_code }}</td>
                        <td>{{ eachstate.fk_region_code }}</td>

                        <td>{{ eachstate.state_name }}</td>
                        <td class="action-col">
                            <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachstate.pk }}" name="view_id" id="selected_id"><input type="submit" value="view" id="view" formaction="{% url 'csp_app:view_state' %}"> | <input type="submit" value="edit" formaction="{% url 'csp_app:edit_state' %}"> | <input value="delete" readonly onclick="showDelete('{{ eachstate.pk }}', 'delete_state_form')"> </form>
                        </td>
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachstate in state_list %}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>
<div id="state_form" class="form_modal" style="padding-top: 10%;">
    <div class="form_header">
      <div class="forms-heading" style="text-align: center;">
          <h2>Create New State</h2>
      </div>
      <div class="hr_line">&nbsp;</div>
     
    </div>
    <div class="form_content">
        <form method="POST">
            {% csrf_token %}
            <div class="forms-input-holder">
            <label for="">Entity</label>

                <select name="state_entity" id="state_entity" required="true">
                    <option value="" disabled selected>Select Entity</option>
                    {% if entity_list %}
                        {% for eachentity in entity_list %}
                            <option value="{{ eachentity.pk }}" label="{{ eachentity.entity_name }}">{{ eachentity.entity_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
        
            <div class="forms-input-holder">
            <label for="">Region</label>

                <select name="state_region" id="state_region" required="true" disabled="true">
                    <option value="" disabled class="empty" label=" " selected>Select Region</option>

                    {% if region_list %}
                        {% for eachregion in region_list %}
                            <option value="{{ eachregion.pk }}" label="{{ eachregion.region_name }}">{{ eachregion.fk_entity_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <input type="hidden" name="" id="rname">
            <div class="forms-input-holder">
            <label for="">State</label>
                <select name="state_name" required="true" id="state_state">
                    <option value="" disabled label=" " selected class="empty"></option>

                    {% if states %}
                        {% for eachstate in states %}
                            <option value="{{ eachstate.pk }}" label="{{ eachstate.state_name }}">{{ eachstate.zone }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
               
    </div>
    <div class="form_footer">
        <button type="submit" formaction="{% url 'csp_app:create_state' %}" class="forms-save-btn">Save State</button>
    </form> 
    </div>
  
  </div>
  <input type="hidden" name="" id="name">
  <div id="delete_state_form" class="form_modal" style="padding-top: 15%;">
    <div class="delete_form_header">
        <div class="forms-heading">
            <h2>Delete This State?</h2>
        </div>     
    </div>
    <div class="delete_form_footer">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" formaction="{% url 'csp_app:delete_state' %}" value="" id="delete_me" name="delete_id" class="forms-delete-btn">Delete</button>
            <button id="close_delete" class="delete-forms-close-btn">Cancel</button>        
        </form>
    </div>
</div>
<script>
    $(document).ready(function(){
        showMe('Organization', 'org-expand');
        $(document).keyup(function(){
            if (event.keyCode === 27){
            $("#state_form").css("display", "none");
            }
        });
        $(window).click(function(e) {
        if (e.target.id === 'state_form'){
            $("#state_form").css("display", "none");
        }   
        });  
        $('#new_state').click(function(){
            $("#state_form").css("display", "block");
        });
        $('#close_delete').click(function(){
            $("#delete_state_form").css("display", "none");
        }); 
        $('#state_entity').change(function() {
            var filter = $(this).val();
            var total = $('#state_region option').length;
            var count = 0;
            $('#state_region option').each(function() {
            if ($(this).text() == filter) {
            $('#state_region').attr("disabled", false);
                $(this).show();
              
            } else {
                $(this).hide();
                count += 1;
            }
            $('#state_region').val(filter);
            });
            if (count === total){
                $('#state_region').attr("disabled", true)
            }else {
                $('#state_region .empty').css("display", "");
                $('#state_region .empty').prop("selected", true);
            }
        });
        // $('#state_region').change(function() {
        //     alert(1);
        //     // var filter = $(this).label();
        //     // alert(filter);
        //     var filterr = $(this).;
        //     alert(filterr);
        //     $('#rname').attr("val", filter);
        //     var total = $('#state_state option').length;
        //     var count = 0;
        //     $('#state_state option').each(function() {
        //     if ($(this).text() == filter) {
        //     $('#state_state').attr("disabled", false);
        //         $(this).show();
              
        //     } else {
        //         $(this).hide();
        //         count += 1;
        //     }
        //     $('#state_state').val(filter);
        //     });
        //     if (count === total){
        //         $('#state_state').attr("disabled", true)
        //     }else {
        //         $('#state_state .empty').css("display", "");
        //         $('#state_state .empty').prop("selected", true);
        //     }
        // });


    })
</script>
<script>
    function showDelete(itemid, formid){
        document.getElementById(formid).style.display = "block";
        document.getElementById("delete_me").setAttribute("value", itemid);
    }
</script>
{% endblock %}