{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Sub Team {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns"> Entity</a>
        <a href="{% url 'csp_app:vendor' %}" class="tab-btns">Vendor</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns active-tab">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns">Location</a> 
        <a href="{% url 'csp_app:minimumwages' %}" class="tab-btns">Minimum Wages</a>

    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_sub_team" class="add-new-btn">New Sub Team</button> 


</div>
<div class="table-container">
    <a href="{% url 'csp_app:export_subteam' %}"class="export-btn">Export <i class="fas fa-file-export"></i></a>
    <table id="subteam-table" class="dataTable">
        <thead>
            <tr>
                <th>Entity</th>

                <th>Department</th>
                
                <th>Function</th>

                <th>Team</th>

                <th>Sub Team Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if subteam_list %}
                {% for eachsubteam in subteam_list %}

                    <tr>
                        <td>{{ eachsubteam.fk_team_code.fk_function_code.fk_department_code.fk_entity_code }}</td>

                        <td>{{ eachsubteam.fk_team_code.fk_function_code.fk_department_code }}</td>

                        <td>{{ eachsubteam.fk_team_code.fk_function_code }}</td>

                        <td>{{ eachsubteam.fk_team_code }}</td>

                        <td>{{ eachsubteam.sub_team_name }}</td>
                        <td class="action-col">
                            <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachsubteam.pk }}" name="view_id" id="selected_id"><input type="submit" value="view" id="view" formaction="{% url 'csp_app:view_subteam' %}"> | <input type="submit" value="edit" formaction="{% url 'csp_app:edit_subteam' %}"> | <input value="delete" readonly onclick="showDelete('{{ eachsubteam.pk }}', 'delete_subteam_form')"> </form>
                        </td>
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachsubteam in subteam_list %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>
<div id="sub_team_form" class="form_modal">
    <div class="form_header">
      <div class="forms-heading" style="text-align: center;">
          <h2>Create New Sub Team</h2>
      </div>
      <div class="hr_line">&nbsp;</div>
     
    </div>
    <div class="form_content">
        <form method="POST">
            {% csrf_token %}
            <div class="forms-input-holder">
            <label for="">Entity</label>

                <select name="subteam_entity" id="subteam_entity" required="true">
                    <option value="" disabled selected>Select Entity</option>
                    {% if entity_list %}
                        {% for eachentity in entity_list %}
                            <option value="{{ eachentity.pk }}" label="{{ eachentity.entity_name }}">{{ eachentity.entity_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="forms-input-holder">
            <label for="">Department</label>

                <select name="subteam_dept" id="subteam_dept" required="true" disabled="true">
                    <option value="" disabled selected class="empty" label=" ">Select Department</option>
                    {% if department_list %}
                        {% for eachdepartment in department_list %}
                            <option value="{{ eachdepartment.pk }}" class="options" label="{{ eachdepartment.department_name }}" style="display: none;">{{ eachdepartment.fk_entity_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="forms-input-holder">
            <label for="">Function</label>

                <select name="subteam_function" id="subteam_function" required="true" disabled="true">
                    <option value="" disabled selected class="empty" label=" ">Select Function</option>

                    {% if function_list %}
                        {% for eachfunction in function_list %}
                            <option value="{{ eachfunction.pk }}" label="{{ eachfunction.function_name }}">{{ eachfunction.fk_department_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="forms-input-holder">
            <label for="">Team</label>

                <select name="subteam_team" required="true" id = "subteam_team" disabled="true">
                    <option value="" disabled selected class="empty" label=" ">Select Team</option>

                    {% if team_list %}
                        {% for eachteam in team_list %}
                            <option value="{{ eachteam.pk }}" label="{{ eachteam.team_name }}">{{ eachteam.fk_function_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="forms-input-holder">
            <label for="">Sub Team</label>

                <input type="text" placeholder="Sub Team Name" name="subteam_name" id="name" required="true" >
            </div>
              
    </div>
    <div class="form_footer">
        <button type="submit" formaction="{% url 'csp_app:create_subteam' %}" class="forms-save-btn">Save Sub Team</button>
    </form> 
    </div>
  
  </div>

<div id="delete_subteam_form" class="form_modal" style="padding-top: 15%;">
    <div class="delete_form_header">
        <div class="forms-heading">
            <h2>Delete This Sub Team ?</h2>
        </div>     
    </div>
    <div class="delete_form_footer">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" formaction="{% url 'csp_app:delete_subteam' %}" value="" id="delete_me" name="delete_id" class="forms-delete-btn">Delete</button>
            <button id="close_delete" class="delete-forms-close-btn">Cancel</button>        
        </form>
    </div>
</div>
<script>
    $(document).ready(function(){
        showMe('Organization', 'org-expand');
        $(document).keyup(function(){
            if (event.keyCode === 27){
            $("#sub_team_form").css("display", "none");
            $("#delete_subteam_form").css("display", "none");

            }
        });
        $('#close_delete').click(function(){
            $("#delete_subteam_form").css("display", "none");
        });
        $(window).click(function(e) {
        if (e.target.id === 'sub_team_form'){
            $("#sub_team_form").css("display", "none");
            $("#delete_subteam_form").css("display", "none");

        }   
        });  
        $('#new_sub_team').click(function(){
            $("#sub_team_form").css("display", "block");
        });

        $('#subteam_entity').change(function() {
            var filter = $(this).val();
            var total = $('#subteam_dept option').length;
            var count = 0;
            $('#subteam_dept option').each(function() {
            if ($(this).text() == filter) {
            $('#subteam_dept').attr("disabled", false);        
               
                $(this).show();

            } else {
                $(this).hide();
                count += 1;
            }
            $('#subteam_dept').val(filter);
            });
            if (count === total){
                $('#subteam_dept').attr("disabled", true)
             
            } else {
                $('#subteam_dept .empty').css("display", "");
                $('#subteam_dept .empty').prop("selected", true);
            }
        });

        $('#subteam_dept').change(function() {
            var filter = $(this).val();
            var total = $('#subteam_function option').length;
            var count = 0;
            $('#subteam_function option').each(function() {
            if ($(this).text() == filter) {
            $('#subteam_function').attr("disabled", false);
                $(this).show();
                $(this).attr("selected", true);
            } else {
                $(this).hide();
                count += 1;
            }
            $('#subteam_function').val(filter);
            });
            if (count === total){
                $('#subteam_function').attr("disabled", true)
               
            } else {
                $('#subteam_function .empty').css("display", "");
                $('#subteam_function .empty').prop("selected", true);
            }
        });
      
        $('#subteam_function').change(function() {
            // alert("ok")
            var filter = $(this).val();
            var total = $('#subteam_team option').length;
            var count = 0;
            $('#subteam_team option').each(function() {
            if ($(this).text() == filter) {
            $('#subteam_team').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#subteam_team').val(filter);
            });
            if (count === total){
                $('#subteam_team').attr("disabled", true)
           
            } else {
                $('#subteam_team .empty').css("display", "");
                $('#subteam_team .empty').prop("selected", true);
            }
        });
    
    })
</script>
<script>
    function showDelete(itemid, formid){
        document.getElementById(formid).style.display = "block";
        document.getElementById("delete_me").setAttribute("value", itemid);
    }
</script>
{% endblock %}