{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Team {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns"> Entity</a>
        <a href="{% url 'csp_app:vendor' %}" class="tab-btns">Vendor</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns active-tab">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns">Location</a>    
    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_team" class="add-new-btn">New Team</button> 


</div>
<div class="table-container">
  
    <table id="team-table" class="dataTable">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Function</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if team_list %}
                {% for eachteam in team_list %}

                    <tr>
                        <td>{{ eachteam.team_name }}</td>
                        <td>{{ eachteam.fk_function_code }}</td>
                        <td class="action-col">
                            <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachteam.pk }}" name="view_id" id="selected_id"><input type="submit" value="view" id="view" formaction="{% url 'csp_app:view_team' %}"> | <input type="submit" value="edit" formaction="{% url 'csp_app:edit_team' %}"> | <input value="delete" onclick="showDelete('{{ eachteam.pk }}', 'delete_team_form')"> </form>
                        </td>
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachteam in team_list %}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>

<div id="team_form" class="form_modal">
    <div class="form_header">
      <div class="forms-heading" style="text-align: center;">
          <h2>Create New Team</h2>
      </div>
      <div class="hr_line">&nbsp;</div>
     
    </div>
    <div class="form_content">
        <form method="POST">
            {% csrf_token %}
            <div class="forms-input-holder">
            <label for="">Entity</label>

                <select name="team_entity" id="team_entity" required="true">
                    <option value="" disabled selected>Select Entity</option> 
                    {% if entity_list %}
                        {% for eachentity in entity_list %}
                            <option value="{{ eachentity.pk }}" label="{{ eachentity.entity_name }}">{{ eachentity.entity_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
        
            <div class="forms-input-holder">
            <label for="">Department</label>

                <select name="team_dept" required="true" id="team_dept" disabled="true" required="true">
                    <option value="" disabled selected>Select Department</option>
                    {% if department_list %}
                        {% for eachdept in department_list %}
                            <option value="{{ eachdept.pk }}" label="{{ eachdept.department_name }}">{{ eachdept.fk_entity_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="forms-input-holder">
            <label for="">Function</label>

                <select  required="true" id = "team_function" name="team_function" disabled="true">
                    <option value="" disabled selected>Select Function</option>
                    {% if function_list %}
                        {% for eachfunction in function_list %}
                            <option value="{{ eachfunction.pk }}" label="{{ eachfunction.function_name }}">{{ eachfunction.fk_department_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="forms-input-holder">
            <label for="">Team</label>

                <input type="text" placeholder="Team" name="team_name" required="true" id="name">
            </div>
                   
    </div>
    <div class="form_footer">
        <button type="submit" formaction="{% url 'csp_app:create_team' %}" class="forms-save-btn">Save Team</button>
    </form>
    </div>
  
  </div>

  <div id="delete_team_form" class="form_modal" style="padding-top: 15%;">
    <div class="delete_form_header">
        <div class="forms-heading">
            <h2>Delete This Team?</h2>
        </div>     
    </div>
    <div class="delete_form_footer">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" formaction="{% url 'csp_app:delete_team' %}" value="" id="delete_me" name="delete_id" class="forms-delete-btn">Delete</button>
            <button id="close_delete" class="delete-forms-close-btn">Cancel</button>        
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        showMe('Organization', 'org-expand');
        $(document).keyup(function(){
            if (event.keyCode === 27){
            $("#team_form").css("display", "none");
            $("#delete_team_form").css("display", "none");

            }
        });
        $(window).click(function(e) {
        if (e.target.id === 'team_form'){
            $("#team_form").css("display", "none");
            $("#delete_team_form").css("display", "none");

        }   
        });  
        $('#new_team').click(function(){
            $("#team_form").css("display", "block");
        });

  

        $('#team_entity').change(function() {
            var filter = $(this).val();
            var total = $('#team_dept option').length;
            var count = 0;
            $('#team_dept option').each(function() {
            if ($(this).text() == filter) {
            $('#team_dept').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#team_dept').val(filter);
            });
            if (count === total){
                $('#team_dept').attr("disabled", true)
            }
            var l = $('#team_dept option').length ;
            if (l === 1){
                $('#team_dept').append($('<option>', {
                    value: '',
                    text: 'Select Department',
                    selected: true
                }));
            }
        });

        $('#team_dept').change(function() {
            var filter = $(this).val();
            var total = $('#team_function option').length;
            var count = 0;
            $('#team_function option').each(function() {
            if ($(this).text() == filter) {
            $('#team_function').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#team_function').val(filter);
            });
            if (count === total){
                $('#team_function').attr("disabled", true)
            }
            var l = $('#team_function option').length ;
            if (l === 1){
                $('#team_function').append($('<option>', {
                    value: '',
                    text: 'Select Function',
                    selected: true
                }));
            }
        });

        $('#close_delete').click(function(){
            $("#delete_team_form").css("display", "none");
        });
    })
</script>
<script>
    function showDelete(itemid, formid){
        document.getElementById(formid).style.display = "block";
        document.getElementById("delete_me").setAttribute("value", itemid);
    }
</script>
{% endblock %}