{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Designation {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns"> Entity</a>
        <a href="{% url 'csp_app:vendor' %}" class="tab-btns">Vendor</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns  active-tab">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns">Location</a>   
        <a href="{% url 'csp_app:minimumwages' %}" class="tab-btns">Minimum Wages</a>

    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_designation" class="add-new-btn">New Designation</button> 
 

</div>

<div class="table-container">
  
    <table id="designation-table" class="dataTable">
        <thead>
            <tr>
                <th>Entity</th>

                <th>Department</th>

                <th>Function</th>

                <th>Team</th>

                <th>Sub Team</th>
                <th>Skill Type</th>

                <th>Designation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if designation_list %}
                {% for eachdesignation in designation_list %}

                    <tr>
                        <td>{{ eachdesignation.fk_sub_team_code.fk_team_code.fk_function_code.fk_department_code.fk_entity_code }}</td>

                        <td>{{ eachdesignation.fk_sub_team_code.fk_team_code.fk_function_code.fk_department_code }}</td>

                        <td>{{ eachdesignation.fk_sub_team_code.fk_team_code.fk_function_code }}</td>
                        
                        <td>{{ eachdesignation.fk_sub_team_code.fk_team_code }}</td>

                        <td>{{ eachdesignation.fk_sub_team_code }}</td>
                        <td>{{ eachdesignation.fk_skill_code }}</td>

                        <td>{{ eachdesignation.designation_name }}</td>
                        <td class="action-col">
                            <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachdesignation.pk }}" name="view_id" id="selected_id"><input type="submit" value="view" id="view" formaction="{% url 'csp_app:view_designation' %}"> | <input type="submit" value="edit" formaction="{% url 'csp_app:edit_designation' %}"> | <input value="delete" onclick="showDelete('{{ eachdesignation.pk }}', 'delete_designation_form')"> </form>
                        </td>
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachdesignation in designation_list %}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>
<div  class="form_modal" style="display: block;">

    <div class="view_form_header">
        <div class="forms-heading">
            <h2>Designation Details</h2>
        </div>
        <div class="hr_line">&nbsp;</div>            
    </div>
    {% if view_designation_list %}
        {% for eachdesignation in view_designation_list %}
            <div class="view_form_content">
                <fieldset class="fds">
                    <legend>Basic Details</legend>
                    <table>
                        <tr>
                            <td><label for="">Entity : </label> {{ eachdesignation.fk_sub_team_code.fk_team_code.fk_function_code.fk_department_code.fk_entity_code }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Department : </label> {{ eachdesignation.fk_sub_team_code.fk_team_code.fk_function_code.fk_department_code }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Function : </label> {{ eachdesignation.fk_sub_team_code.fk_team_code.fk_function_code }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Team : </label> {{ eachdesignation.fk_sub_team_code.fk_team_code }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Sub Team : </label> {{ eachdesignation.fk_sub_team_code }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Skill Type : </label> {{ eachdesignation.fk_skill_code }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Designation Name : </label> {{ eachdesignation.designation_name }}</td>
                        </tr>
                       
                    </table>                    
                </fieldset>
                <fieldset class="fds">
                    <legend>Other Details</legend>
                    <table>
                        <tr>
                            <td><label for="">Created By : </label> {{ eachdesignation.created_by }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Created Date Time : </label> {{ eachdesignation.created_date_time }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Modified By : </label> {{ eachdesignation.modified_by }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Modified Date Time : </label> {{ eachdesignation.modified_date_time }}</td>
                        </tr>
                       
                    </table>                    
                </fieldset>
                         
            </div>
        {% endfor %}
    {% endif %} 
    <div class="view_form_footer">
        <button onclick="location.href = '/csp_designation/'" class="forms-save-btn">Close</button>
    </div>
             
  
  </div>

{% endblock %}
