{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} State {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns"> Company</a>
        <a href="{% url 'csp_app:vendor' %}" class="tab-btns">Vendor</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns active-tab">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns">Location</a>    
        <a href="{% url 'csp_app:minimumwages' %}" class="tab-btns">Minimum Wages</a>

    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_state" class="add-new-btn">New State</button> 
</div>

<!--Table -->
{% include 'organization_tables/state_table.html' %}



<div  class="form_modal" style="padding-top: 10%;display: block;">

    <div class="view_form_header">
        <div class="forms-heading">
            <h2>State Details</h2>
        </div>
        <div class="hr_line">&nbsp;</div>            
    </div>
    {% if view_state_list %}
        {% for eachstate in view_state_list %}
            <div class="view_form_content">
                <fieldset class="fds">
                    <legend>Basic Details</legend>
                    <table>
                        <tr>
                            <td><label for="">Company : </label> {{ eachstate.fk_region_code.fk_entity_code }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Region : </label> {{ eachstate.fk_region_code }}</td>
                        </tr>
                        <tr>
                            <td><label for="">State : </label> {{ eachstate.state_name }}</td>
                        </tr>
                        
                    </table>                    
                </fieldset>
                <fieldset class="fds">
                    <legend>Other Details</legend>
                    <table>
                        <tr>
                            <td><label for="">Created By : </label> {{ eachstate.created_by }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Created Date Time : </label> {{ eachstate.created_date_time }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Modified By : </label> {{ eachstate.modified_by }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Modified Date Time : </label> {{ eachstate.modified_date_time }}</td>
                        </tr>
                       
                    </table>                    
                </fieldset>
                         
            </div>
        {% endfor %}
    {% endif %} 
    <div class="view_form_footer">
        <button onclick="location.href = '/csp_state/'" class="forms-save-btn">Close</button>
    </div>
             
  
  </div>

<script>
    $(document).ready(function(){
        showMe('Organization', 'org-expand');
             
    })
</script>


{% endblock %}
