{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Company {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns"> Company</a>
        <a href="{% url 'csp_app:vendor' %}" class="tab-btns">Vendor</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns active-tab">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns">Location</a>    
        <a href="{% url 'csp_app:minimumwages' %}" class="tab-btns">Minimum Wages</a>

    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_city" class="add-new-btn">New City</button> 
</div>


<div class="table-container">
    <a href="{% url 'csp_app:export_city' %}"class="export-btn">Export <i class="fas fa-file-export"></i></a>
    <table id="city-table" class="dataTable">
        <thead>
            <tr>
                <th>Company</th>

                <th>Region</th>
                <th class="sort-latest" >time</th>
                <th>State</th>

                <th>City Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if c_list %}
                {% for eachcity in c_list %}

                    <tr>
                        <td>{{ eachcity.fk_state_code.fk_region_code.fk_entity_code }}</td>
                        <td class="sort-latest" >{{ eachcity.created_date_time }}</td>
                        <td>{{ eachcity.fk_state_code.fk_region_code }}</td>
                        <td>{{ eachcity.fk_state_code }}</td>
                        <td>{{ eachcity.city_name }}</td>
                        <td class="action-col">
                            <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachcity.pk }}" name="view_id" id="selected_id"><input type="submit" value="view" id="view" formaction="{% url 'csp_app:view_city' %}"> | <input type="submit" value="edit" formaction="{% url 'csp_app:edit_city' %}"> | <input value="delete" readonly  onclick="showDelete('{{ eachcity.pk }}', 'delete_city_form')"> </form>
                        </td>
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachcity in c_list %}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>
<div  class="form_modal" style="padding-top: 10%;display: block;">

    <div class="view_form_header">
        <div class="forms-heading">
            <h2>City Details</h2>
        </div>
        <div class="hr_line">&nbsp;</div>            
    </div>
    {% if view_city_list %}
        {% for eachcity in view_city_list %}
            <div class="view_form_content">
                <fieldset class="fds">
                    <legend>Basic Details</legend>
                    <table>
                        <tr>
                            <td><label for="">Company : </label> {{ eachcity.fk_state_code.fk_region_code.fk_entity_code }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Region : </label> {{ eachcity.fk_state_code.fk_region_code }}</td>
                        </tr>
                        <tr>
                            <td><label for="">State : </label> {{ eachcity.fk_state_code }}</td>
                        </tr>
                        <tr>
                            <td><label for="">City Name : </label> {{ eachcity.city_name }}</td>
                        </tr>
                      
                    </table>                    
                </fieldset>
                <fieldset class="fds">
                    <legend>Other Details</legend>
                    <table>
                        <tr>
                            <td><label for="">Created By : </label> {{ eachcity.created_by }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Created Date Time : </label> {{ eachcity.created_date_time }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Modified By : </label> {{ eachcity.modified_by }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Modified Date Time : </label> {{ eachcity.modified_date_time }}</td>
                        </tr>
                       
                    </table>                    
                </fieldset>
                         
            </div>
        {% endfor %}
    {% endif %} 
    <div class="view_form_footer">
        <button onclick="location.href = '/csp_city/'" class="forms-save-btn">Close</button>
    </div>
             
  
  </div>

<script>
    $(document).ready(function(){
        showMe('Organization', 'org-expand');
             
    })
</script>
{% endblock %}
