{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Region {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:entity' %}" class="tab-btns"> Entity</a>
        <a href="{% url 'csp_app:vendor' %}" class="tab-btns">Vendor</a>    
        <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
        <a href="{% url 'csp_app:function' %}" class="tab-btns">Function</a>    
        <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
        <a href="{% url 'csp_app:subteam' %}" class="tab-btns">Sub Team</a>    
        <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
        <a href="{% url 'csp_app:region' %}" class="tab-btns active-tab">Region</a>    
        <a href="{% url 'csp_app:state' %}" class="tab-btns">State</a>    
        <a href="{% url 'csp_app:city' %}" class="tab-btns">City</a>    
        <a href="{% url 'csp_app:location' %}" class="tab-btns">Location</a>    
    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="tab-container">
    <button id="new_region" class="add-new-btn">New Region</button> 
</div>

<div class="table-container">
  
    <table id="region-table" class="dataTable">
        <thead>
            <tr>
                <th>Region Name</th>
                <th>Entity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if region_list %}
                {% for eachregion in region_list %}

                    <tr>
                        <td>{{ eachregion.region_name }}</td>
                        <td>{{ eachregion.fk_entity_code }}</td>
                        <td class="action-col">
                            <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachregion.pk }}" name="view_id" id="selected_id"><input type="submit" value="view" id="view" formaction="{% url 'csp_app:view_department' %}"> | <input type="submit" value="edit" formaction="{% url 'csp_app:edit_department' %}"> | <input value="delete" onclick="showDelete('{{ eachregion.pk }}', 'delete_region_form')"> </form>
                        </td>
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachregion in region_list %}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>

<div  class="form_modal" style="padding-top: 10%;display: block;">

    <div class="form_header">
        <div class="forms-heading">
            <h2>Region Details</h2>
        </div>
        <div class="hr_line">&nbsp;</div>            
    </div>
    {% if view_region_list %}
        {% for eachregion in view_region_list %}
            <div class="view_form_content">
                <fieldset class="fds">
                    <legend>Basic Details</legend>
                    <table>
                        <tr>
                            <td><label for="">Region Name : </label> {{ eachregion.region_name }}</td>
                            <td><label for="">Entity : </label> {{ eachregion.fk_entity_code }}</td>
                        </tr>
                    </table>                    
                </fieldset>
                <fieldset class="fds">
                    <legend>Other Details</legend>
                    <table>
                        <tr>
                            <td><label for="">Created By : </label> {{ eachregion.created_by }}</td>
                            <td><label for="">Created Date Time : </label> {{ eachregion.created_date_time }}</td>
                        </tr>
                        <tr>
                            <td><label for="">Modified By : </label> {{ eachregion.modified_by }}</td>
                            <td><label for="">Modified Date Time : </label> {{ eachregion.modified_date_time }}</td>
                        </tr>
                       
                    </table>                    
                </fieldset>
                         
            </div>
        {% endfor %}
    {% endif %} 
    <div class="form_footer">
        <button onclick="location.href = '/csp_region/'" class="forms-save-btn">Close</button>
    </div>
             
  
  </div>

  <script>
    $(document).ready(function(){
        showMe('Organization', 'org-expand');
             
    })
</script>
{% endblock %}
