{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Entity {% endblock %}

{% block bodyblock %} 

<div class="tabs">
    <a href="{% url 'csp_app:entity' %}" class="tab-btns active-tab"> Entity</a>
    <a href="{% url 'csp_app:vendor' %}" class="tab-btns">vendor</a>    
    <a href="{% url 'csp_app:department' %}" class="tab-btns">Department</a>    
    <a href="{% url 'csp_app:function' %}" class="tab-btns">Function</a>    
    <a href="{% url 'csp_app:team' %}" class="tab-btns">Team</a>    
    <a href="{% url 'csp_app:subteam' %}" class="tab-btns">Sub Team</a>    
    <a href="{% url 'csp_app:designation' %}" class="tab-btns">Designation</a>    
    <a href="{% url 'csp_app:region' %}" class="tab-btns">Region</a>    
    <a href="{% url 'csp_app:state' %}" class="tab-btns">State</a>    
    <a href="{% url 'csp_app:city' %}" class="tab-btns">City</a>    
    <a href="{% url 'csp_app:location' %}" class="tab-btns">Location</a>    
    <a href="{% url 'csp_app:minimumwages' %}" class="tab-btns">Minimum Wages</a>

</div>

{% endblock %}


{% block tabcontentblock %}

<div class="tab-container">
    <button id="new_entity" class="add-new-btn">New Entity</button>

</div>

<div class="table-container">
    <a href="{% url 'csp_app:export_entity' %}" class="export-btn">Export <i class="fas fa-file-export"></i></a>
     <table id="entity-table" class="dataTable">
         <thead>
             <tr>
                 <th>Entity Name</th>
                 <th class="sort-latest" >time</th>
                 <th>Action</th>
             </tr>
         </thead>
         <tbody>
             {% if e_list %}
                 {% for eachentity in e_list %}                    
                     <tr>
                         <td>{{ eachentity.entity_name }}</td>
                         <td class="sort-latest" >{{ eachentity.created_date_time }}</td>
                         <td class="action-col">
                             <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachentity.pk }}" name="view_id" id="selected_id"><input type="submit" value="view" id="view" formaction="{% url 'csp_app:view_entity' %}"> | <input type="submit" value="edit" formaction="{% url 'csp_app:edit_entity' %}"> | <input value="delete" readonly onclick="showDelete('{{ eachentity.pk }}', 'delete_entity_form')"> </form>
                         </td>
                     
                     </tr>
 
                 {% endfor %}                
 
             {% else %}
                 {% for eachentity in e_list %}
                 <tr>
                     <td></td>
                     <td></td>
                 </tr>
                 {% endfor %}
             {% endif %}
         </tbody>   
     </table>
   
 </div>

<div id="view_entity_form" class="form_modal" style="padding-top: 10%;display: block;">

    <div class="view_form_header">
        <div class="forms-heading">
            <h2>Entity Details</h2>
        </div>
        <div class="hr_line">&nbsp;</div>            
    </div>
    {% if view_entity_list %}
        {% for eachentity in view_entity_list %}
        <div class="view_form_content">
            <fieldset class="fds">
                <legend>Basic Details</legend>
                <table>
                    <tr>
                        <td><label for="">Entity Name : </label> {{ eachentity.entity_name }}</td>
                    </tr>
                </table>                    
            </fieldset>
            <fieldset class="fds">
                <legend>Other Details</legend>
                <table>
                    <tr>
                        <td><label for="">Created By : </label> {{ eachentity.created_by }}</td>
                    </tr>
                    <tr>
                        <td><label for="">Created Date Time : </label> {{ eachentity.created_date_time }}</td>

                    </tr>
                    <tr>
                        <td><label for="">Modified By : </label> {{ eachentity.modified_by }}</td>
                    </tr>
                    <tr>
                        <td><label for="">Modified Date Time : </label> {{ eachentity.modified_date_time }}</td>

                    </tr>
                   
                </table>                    
            </fieldset>
                     
        </div>
        {% endfor %}
    {% endif %} 
    <div class="view_form_footer">
        <button onclick="location.href = '/csp_entity/'" class="forms-save-btn">Close</button>
    </div>
             
  
  </div>


{% endblock %}
