<div class="table-container">
    <a href="{% url 'csp_app:export_entity' %}" class="export-btn">Export <i class="fas fa-file-export"></i></a>
     <table id="entity-table" class="dataTable">
         <thead>
             <tr>
                 <th>Company Name</th>
                 <th class="sort-latest" >time</th>
                 <th class="sort-latest" >modifiedtime</th>
              
                 <th>Action</th>
             </tr>
         </thead>
         <tbody>
             {% if e_list %}
                 {% for eachentity in e_list %}                    
                     <tr>
                        <td>{{ eachentity.entity_name }}</td>
                        <td class="sort-latest" >{{ eachentity.created_date_time }}</td>
                        <td class="sort-latest" > {% if eachentity.modified_date_time == None %}
                                {{ eachentity.created_date_time }}
                            {% else %}
                                {{ eachentity.modified_date_time }}
                            {% endif %}
                        </td>

                         <td class="action-col">
                             <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachentity.pk }}" name="view_id" id="selected_id"><input type="submit" value="view" id="view" formaction="{% url 'csp_app:view_entity' %}"> | <input type="submit" value="edit" formaction="{% url 'csp_app:edit_entity' %}"> | <input value="delete" readonly onclick="showDelete('{{ eachentity.pk }}', 'delete_entity_form')"> </form>
                         </td>
                     
                     </tr>
 
                 {% endfor %}                
 
             {% else %}
                 {% for eachentity in e_list %}
                 <tr>
                     <td></td>
                     <td></td>
                 </tr>
                 {% endfor %}
             {% endif %}
         </tbody>   
     </table>
   
 </div>