<div class="table-container">
    <a href="{% url 'csp_app:export_location' %}" class="export-btn">Export <i class="fas fa-file-export"></i> </a>
    <table id="location-table" class="dataTable">
        <thead>
            <tr>
                <th class="sort-latest" >time</th>
                <th class="sort-latest" >modifiedtime</th>
                <th>Company</th>
                <th>Region</th>
                <th>State</th>
                <th>City</th>
                <th>Location Name</th>
                <th>Location Code</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if l_list %}
                {% for eachlocation in l_list %}

                    <tr>
                        <td class="sort-latest" >{{ eachlocation.created_date_time }}</td>
                        <td class="sort-latest" > {% if eachlocation.modified_date_time == None %}
                                {{ eachlocation.created_date_time }}
                            {% else %}
                                {{ eachlocation.modified_date_time }}
                            {% endif %}
                        </td>
                        <td>{{ eachlocation.fk_city_code.fk_state_code.fk_region_code.fk_entity_code }}</td>
                        <td>{{ eachlocation.fk_city_code.fk_state_code.fk_region_code }}</td>
                        <td>{{ eachlocation.fk_city_code.fk_state_code }}</td>
                        <td>{{ eachlocation.fk_city_code }}</td>
                        <td>{{ eachlocation.location_name }}</td>
                        <td>{{ eachlocation.location_code }}</td>

                        
                        <td class="action-col">
                            <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachlocation.pk }}" name="view_id" id="selected_id"><input type="submit" value="view" id="view" formaction="{% url 'csp_app:view_location' %}"> | <input type="submit" value="edit" formaction="{% url 'csp_app:edit_location' %}"> | <input value="delete" readonly onclick="showDelete('{{ eachlocation.pk }}', 'delete_location_form')"> </form>
                        </td>
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachlocation in l_list %}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>