{% load static %}


<link rel="shortcut icon" href="{% static 'csp_app/images/udaanredlogo.png' %}" crossorigin="use-credentials"/>
<link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/login.css' %}" crossorigin="use-credentials">
<link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/alertmsgcss.css' %}" crossorigin="use-credentials">
<link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/admin_dashboard.css' %}" crossorigin="use-credentials">
<link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/salarystructure.css' %}" crossorigin="use-credentials">
<link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/dashboard.css' %}" crossorigin="use-credentials">
<link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/forms.css' %}" crossorigin="use-credentials">
<link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/organization.css' %}" crossorigin="use-credentials">
<link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/media.css' %}" crossorigin="use-credentials">
<link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/imports/animate.css' %}" crossorigin="use-credentials">
<link rel="stylesheet" type="text/css" href="{% static 'csp_app/css/tables.css' %}" crossorigin="use-credentials">
