{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} New Candidate {% endblock %}

{% block bodyblock %} 
{% if request.user.groups.all %}
          {% for eachgroup in request.user.groups.all %}
            {% if eachgroup.name == 'Candidate' %}
            <div class="tabs">
                <a href="{% url 'csp_app:candidate_profile' %}" class="tab-btns">Profile</a>   
                <a href="" class="tab-btns active-tab">Documents</a>  
        
            </div>
   

    {% else %}

    <div class="tabs">
        <a href="{% url 'csp_app:candidate' %}" class="tab-btns active-tab"> Candidates</a>   
    </div>
    {% endif %}
    {% endfor %}       
          {% endif %}


{% endblock %}

{% block tabcontentblock %}
{% if view_candidate %}
    {% for eachc in  view_candidate %}
        <div class="crumbs" style="z-index: unset;"><span><a href="{% url 'csp_app:candidate' %}">Candidates</a></span>
            <span><i class="fas fa-chevron-right"></i></span>
            <span>Upload Documents</span>
            <span><i class="fas fa-chevron-right"></i></span>
            <span>{{ eachc.pk }} | {{ eachc.First_Name }} {{ eachc.Middle_Name }} {{ eachc.Last_Name }}</span>                
      
        </div>
<div class="tab-container" style="margin-top: 55px;">
    <button id="new_document" class="add-new-btn">Add Document</button>

</div>

<div class="table-container">
  
    <table id="document-table" class="dataTable">
        <thead>
            <tr>
                <th>Catogory</th>
                <th>Document Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if document_list %}
                {% for eachdocument in document_list %}

                    <tr>
                        <td>{{ eachdocument.document_catagory }}</td>
                        <td>{{ eachdocument.file_name }}</td>
                        <td class="action-col">
                            <form action="" method="POST">{% csrf_token %}
                                <a href="{{ eachdocument.file_upload  }}" target="_blank">View</a>
                                <input type="hidden" value="{{ eachdocument.pk }}" name="view_id" id="selected_id">
                                {% if request.user.groups.all %}
                                {% for eachgroup in request.user.groups.all %}
                                    {% if eachgroup.name != 'Candidate' %}
                                <input value="Remove" readonly onclick="showDelete('{{ eachdocument.pk }}', 'delete_document_form')"> 
                                {% endif %}
                                {% endfor %}       
                                      {% endif %}
                            </form>
                        </td>
                    
                    </tr>

                {% endfor %}                

            {% else %}
                {% for eachdocument in document_list %}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>   
    </table>
  
</div>

<div id="document_form" class="form_modal" style="padding-top: 10%;">
    <div class="form_header">
        <div class="forms-heading">
            <h2>Add New Document</h2>
        </div>
        <div class="hr_line">&nbsp;</div>
     
    </div>
    <div class="form_content">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="forms-input-holder">
                <label for="">Document Catogory</label>
                <select  id="c_catogory" name="c_catogory" required="true">
                    <option value="" disabled selected>Select Document Catogory</option>
                    {% if mandatory_list %}
                        {% for eachmandatory in mandatory_list %}
                            <option value="{{ eachmandatory.pk }}" label="{{ eachmandatory.document_name }}">{{ eachmandatory.document_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>

            <div class="forms-input-holder">
                <label for="">File Name</label>
                <input type="text" placeholder="File Name" name="c_filename" id="c_filename" required="true" autofocus="true" tabindex="1"  >
            </div>
            <div class="forms-input-holder">
                <label for="">Choose File</label>
                <input type="file" placeholder="File" name="file" id="c_file" required="true" tabindex="2">
            </div>         
              
    </div>
    <div class="form_footer">
            <button type="submit" formaction="{% url 'csp_app:document_upload' eachc.pk  %}" class="forms-save-btn">Save document</button>
        </form>
    </div>
  
  </div>

<div id="delete_document_form" class="form_modal" style="padding-top: 15%;">
    <div class="delete_form_header">
        <div class="forms-heading">
            <h2>Delete This document?</h2>
        </div>     
    </div>
    <div class="delete_form_footer">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" formaction="{% url 'csp_app:candidate_delete_document' %}" value="" id="delete_me" name="delete_id" class="forms-delete-btn">Delete</button>
            <button id="close_delete" class="delete-forms-close-btn">Cancel</button>        
        </form>
    </div>
</div>
    {% endfor %}
{% endif %} 

<script>
    $(document).ready(function(){
        $(document).keyup(function(){
            if (event.keyCode === 27){
            $("#document_form").css("display", "none");
            $("#delete_document_form").css("display", "none");
            }
        });
        $(window).click(function(e) {
        if (e.target.id === 'document_form' || e.target.id === 'delete_document_form') {
            $("#document_form").css("display", "none");
            $("#delete_document_form").css("display", "none");
        }   
        });  
        $('#new_document').click(function(){
            $("#document_form").css("display", "block");
        });
        $('#close_delete').click(function(){
            $("#delete_document_form").css("display", "none");
        });      
    })
</script>
<script>
    function showDelete(itemid, formid){
        document.getElementById(formid).style.display = "block";
        document.getElementById("delete_me").setAttribute("value", itemid);
    }
</script>

{% endblock %}