{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Candidates {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:candidate_profile' %}" class="tab-btns active-tab">Profile</a>   
        <a href="{% url 'csp_app:document_upload' me.pk %}" class="tab-btns">Documents</a>   
         

    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="candidate_form">
    <div class="candidate_form_header">
        <div class="forms-heading">
            <h2>Candidate Profile</h2>
        </div>
        <div class="hr_line" style="margin-bottom: 10px;">&nbsp;</div>
     
    </div>
    <div class="candidate_form_content">
            <div class="view-candidate-forms-input-holder">
                <div>
                <label class="move-out" for="c_firstname">Candidate Code</label>

                <input readonly value="{{ me.pk }}" class="no-right" style="background: #f5f5fa;    margin-right: 80px;" type="text" maxlength="30" placeholder="Candidate Code" name="c_id" >
                </div>
               
            </div>
            <div class="view-candidate-forms-input-holder">
                <div>
                <label class="move-out" for="c_firstname">First Name</label>

                <input readonly tabindex="1" class="input-text" value="{{ me.First_Name }}" type="text" maxlength="30" placeholder="First Name" name="c_firstname" id="c_firstname" required="true" autocapitalize="on" autofocus="true" tabindex="1"  >
                </div>
                <div class="margin-left">
                    <label for="">Middle Name</label>
                    <input readonly tabindex="2" type="text" value="{{ me.Middle_Name }}" maxlength="30" placeholder="Middle Name" name="c_middlename" id="c_middlename" autocapitalize="on" tabindex="2">
                </div>
            </div>
            <div class="view-candidate-forms-input-holder">
                <div>
                <label for="">Last Name</label>
                <input readonly tabindex="3" type="text" value="{{ me.Last_Name }}" maxlength="30" placeholder="Last Name" name="c_lastname" id="c_lastname"  autocapitalize="on" tabindex="3">
            
                </div>
                <div class="margin-left">
                    <label for="" >Candidate Date of Birth</label>
                    <input readonly tabindex="4" type="date" value="{{ me.Date_of_Birth }}" placeholder="Date Of Birth" name="c_dob" id="c_dob" required="true" tabindex="6" >
                </div>
            </div>
               <div class="view-candidate-forms-input-holder">
                <div>
                <label for="">Contact Number</label>
                <input readonly tabindex="5" type="text" value="{{ me.Contact_Number }}" placeholder="Contact Number" name="c_contact" id="c_contact" required="true" pattern="[6-9]{1}[0-9]{9}" minlength="10" maxlength="10">
                 </div>
                <div class="margin-left">
                <label for="" >Emergency Number</label>
                <input readonly tabindex="6" type="text" value="{{ me.Emergency_Contact_Number }}" placeholder="Emergency Contact Number" name="c_emergency" id="c_emergency" onblur="sameNumber('c_contact', 'c_emergency', this)" title="Emergency No. Cannot Be Same As Contact No." required="true" pattern="[6-9]{1}[0-9]{9}" minlength="10" maxlength="10">
                <span id='message'></span>    
            </div>
            </div>
               <div class="view-candidate-forms-input-holder">
                <div>
                <label for="">Email ID</label>
                <input readonly tabindex="7" type="email" value="{{ me.Personal_Email_Id }}" maxlength="50" name="c_email" tabindex="7" id="email" placeholder="Email Id">
                 </div>
                <div class="margin-left">
                <label for="" >Gender</label>

                <select tabindex="8" name="c_gender" id="c_gender" required="true">
                    <!-- <option value="" disabled selected>Select Gender</option> -->
                    <option value="{{ me.Gender_id }}" label="{{ me.Gender }}" selected>{{ me.Gender }}</option>

                    {% if gender_list %}
                        {% for eachgender in gender_list %}                            
                            {% if eachgender.pk != me.Gender_id %}
                                <option value="{{ eachgender.pk }}" label="{{ eachgender.gender_name }}">{{ eachgender.gender_name }}</option>
                            {% endif %}
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
        </div>
           
               <div class="view-candidate-forms-input-holder">
                <div>
                <label for="">Father Name</label>
                <input readonly tabindex="9" type="text" value="{{ me.Father_Name }}" placeholder="Father Name" name="c_fathername" id="c_fathername" required="true" tabindex="5">
                 </div>
                <div class="margin-left">
                <label for="" >Father Date of Birth</label>
                <input readonly tabindex="10" type="date" value="{{ me.Father_Date_of_Birth }}" name="c_father_dob" id="c_father_dob" required="true" tabindex="4" >
       
            </div>
        </div>
            
               <div class="view-candidate-forms-input-holder">
                <div>
                <label for="">Aadhaar Number</label>
                <input readonly tabindex="11" type="text" value="{{ me.Aadhaar_Number }}" placeholder="Aadhaar Number" name="c_aadhaar" id="c_aadhaar" required="true" maxlength="12" minlength="12" pattern="[0-9]{12}">
                 </div>
                <div class="margin-left">
                <label for="" >PAN Number</label>
                <input readonly tabindex="12" type="text" value="{{ me.PAN_Number }}" placeholder="PAN Number" name="c_pan" id="c_pan" required="true" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" minlength="10" maxlength="10">
      
            </div>
        </div>
               <div class="view-candidate-forms-input-holder">
                <div>               
                <label for="">Type Of Hiring</label>
                <select tabindex="13" name="c_hiring_type" id="hiring" >
                    <option value="{{ me.Type_of_Hiring_id }}" selected label="{{ me.Type_of_Hiring }}">{{ me.Type_of_Hiring }}</option>
                    {% if hiring_type_list %}
                        {% for eachhiring_type in hiring_type_list %}
                            {% if eachhiring_type.pk !=  me.Type_of_Hiring_id %}
                                <option value="{{ eachhiring_type.pk }}" label="{{ eachhiring_type.hiring_type_name }}">{{ eachhiring_type.hiring_type_name }}</option>
                            {% endif %}
                        {% endfor %}                
                    {% endif %}
                </select>
                 </div>
                 <div class="margin-left">
                    <label for="">Replacement UID </label>
                    <input readonly tabindex="14" type="text"  value="{{ me.Replacement }}" placeholder="Replacement UID" name="c_replace" id = "c_replacement" pattern="[U]{1}[0-9]{2,5}" maxlength="6" autocapitalize="on">
                </div>
        </div>

               <div class="view-candidate-forms-input-holder">
                <div>
                    <label for="">Sub Source</label>
                    <select tabindex="15" name="c_sub_source" id="referral" >
                        <option value="{{ me.Sub_Source_id }}" label="{{ me.Sub_Source }}" selected>{{ me.Sub_Source }}</option>
                        {% if sub_source_list %}
                            {% for eachsub_source in sub_source_list %}
                                {% if eachsub_source.pk != me.Sub_Source_id %}
                                <option value="{{ eachsub_source.pk }}" label="{{ eachsub_source.sub_source_name }}">{{ eachsub_source.sub_source_name }}</option>
                                {% endif %}                       
                            {% endfor %}                
                        {% endif %}
                    </select>
                     </div>
               
                <div class="margin-left">
                <label for="" >Referal UID</label>
                <input readonly tabindex="16" type="text" disabled value="{{ me.Referral }}" placeholder="Referral" name="c_referral" id="c_referral" pattern="[U]{1}[0-9]{2,5}" maxlength="6" autocapitalize="on">
          
            </div>
        </div>
               <div class="view-candidate-forms-input-holder">
               
                 <div>
                    <label for="" >Date of Joining</label>
                    <input readonly tabindex="17" type="date" value="{{ me.Date_of_Joining }}" placeholder="Date Of Joining" name="c_doj" required="true" tabindex="4" id="{{ request.user.is_staff }}">
               
                </div>
                <div class="margin-left">
                <label for="" >Company</label>

                <select tabindex="18" name="c_entity" id="c_entity" required="true">
                    <option value="{{ me.fk_entity_code_id }}" label="{{ me.fk_entity_code }}" selected>{{me.fk_entity_code}}</option>
                    {% if entity_list %}
                        {% for eachentity in entity_list %}
                            {% if eachentity.pk != me.fk_entity_code_id %}
                                <option value="{{ eachentity.pk }}" label="{{ eachentity.entity_name }}">{{ eachentity.entity_name }}</option>
                            {% endif %}                        
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
        </div>

            <div class="view-candidate-forms-input-holder">
                <div>
                    <label for="">Vendor</label>

                    <select tabindex="19" name="c_vendor" id="c_vendor" required="true">
                        <option value="{{ me.fk_vendor_code_id }}" label="{{ me.fk_vendor_code }}" selected>{{me.fk_vendor_code}}</option>

                        <option value="" label="" class="empty">Select Vendor</option>

                        {% if vendor_list %}
                            {% for eachvendor in vendor_list %}
                            {% if eachvendor.pk != me.fk_vendor_code_id %}

                                <option value="{{ eachvendor.pk }}" label="{{ eachvendor.vendor_name }}">{{ eachvendor.fk_entity_code_id }}</option>
                        {% endif %}
                            
                                {% endfor %}                
                        {% endif %}
                    </select>
                 </div>
                <div class="margin-left">
                <label for="" >Department</label>

                <select tabindex="20" name="c_dept" id="c_dept" required="true">
                    <option value="{{ me.fk_department_code_id }}" label="{{ me.fk_department_code }}" selected>{{me.fk_department_code}}</option>

                    <option value="" label="" class="empty">Select Department</option>

                    {% if department_list %}
                        {% for eachdepartment in department_list %}
                        {% if eachdepartment.pk != me.fk_department_code_id %}

                            <option value="{{ eachdepartment.pk }}" label="{{ eachdepartment.department_name }}">{{ eachdepartment.fk_entity_code_id }}</option>
                            {% endif %}                
                        
                            {% endfor %}                
                    {% endif %}
                </select>
            </div>
        </div>
               <div class="view-candidate-forms-input-holder">
                <div>
            <label for="">Function</label>

                <select tabindex="21" name="c_function" id="c_function" required="true">
                    <option value="{{ me.fk_function_code_id }}" label="{{ me.fk_function_code }}" selected>{{ me.fk_function_code.fk_department_code_id }}</option>
                    <option value="" label="" class="empty">Select Function</option>

                    {% if function_list %}
                        {% for eachfunction in function_list %}
                        {% if eachfunction.pk != me.fk_function_code_id %}

                            <option value="{{ eachfunction.pk }}" label="{{ eachfunction.function_name }}">{{ eachfunction.fk_department_code_id }}</option>
                    {% endif %}
                        
                            {% endfor %}                
                    {% endif %}
                </select>
                 </div>
                <div class="margin-left">
                <label for="" >Team</label>

                <select tabindex="22" name="c_team" id="c_team" required="true">
                    <option value="{{ me.fk_team_code_id }}" label="{{ me.fk_team_code }}" selected>{{ me.fk_team_code.fk_function_code_id }}</option>
                    <option value="" label="" class="empty">Select Team</option>

                    {% if team_list %}
                        {% for eachteam in team_list %}
                        {% if eachteam.pk != me.fk_team_code_id %}

                            <option value="{{ eachteam.pk }}" label="{{ eachteam.team_name }}">{{ eachteam.fk_function_code_id }}</option>
                    {% endif %}
                        
                            {% endfor %}                
                    {% endif %}
                </select>
            </div>
        </div>
               <div class="view-candidate-forms-input-holder">
                <div>
            <label for="">Sub Team</label>

                <select tabindex="23" name="c_subteam" id="c_subteam" required="true">
                    <option value="{{ me.fk_subteam_code_id }}" label="{{ me.fk_subteam_code }}" selected>{{ me.fk_subteam_code.fk_team_code_id }}</option>
                    <option value="" label="" class="empty">Select Sub Team</option>

                    {% if sub_team_list %}
                        {% for eachsubteam in sub_team_list %}
                        {% if eachsubteam.pk != me.fk_subteam_code_id %}

                            <option value="{{ eachsubteam.pk }}" label="{{ eachsubteam.sub_team_name }}">{{ eachsubteam.fk_team_code_id }}</option>
                    {% endif %}
                        
                            {% endfor %}                
                    {% endif %}
                </select>
                 </div>
                <div class="margin-left">
                <label for="" >Designation</label>

                <select tabindex="24" name="c_desg" id="c_desg" required="true">
                    <option value="{{ me.fk_designation_code_id }}" label="{{ me.fk_designation_code }}" selected>{{ me.fk_designation_code.fk_sub_team_code_id }}</option>
                    <option value="" label="" class="empty">Select Designation</option>

                    {% if designation_list %}
                        {% for eachdesignation in designation_list %}
                        {% if eachdesignation.pk != me.fk_designation_code_id %}

                        <option value="{{ eachdesignation.pk }}" label="{{ eachdesignation.designation_name }}">{{ eachdesignation.fk_sub_team_code_id }}</option>
                        {% endif %}
                        
                            {% endfor %}                
                    {% endif %}
                </select>
            </div>
        </div>
               <div class="view-candidate-forms-input-holder">
                <div>
            <label for="">Region</label>

                <select tabindex="25" name="c_region" id="c_region" required="true">
                    <option value="{{ me.fk_region_code_id }}" label="{{ me.fk_region_code }}" selected>{{ me.fk_region_code.fk_entity_code_id }}</option>

                    <option value="" label="" class="empty">Select Region</option>

                    {% if region_list %}
                        {% for eachregion in region_list %}
                        {% if eachregion.pk != me.fk_region_code_id %}

                            <option value="{{ eachregion.pk }}" label="{{ eachregion.region_name }}">{{ eachregion.fk_entity_code_id }}</option>
                    {% endif %}
                       
                            {% endfor %}                
                    {% endif %}
                </select>
                 </div>
                <div class="margin-left">
                <label for="" >State</label>

                <select tabindex="26" name="c_state" id="c_state" required="true">
                    <option value="{{ me.fk_state_code_id }}" label="{{ me.fk_state_code }}" selected>{{ me.fk_state_code.fk_region_code_id }}</option>

                    <option value="" label="" class="empty">Select State</option>

                    {% if state_list %}
                        {% for eachstate in state_list %}
                        {% if eachstate.pk != me.fk_state_code_id %}

                            <option value="{{ eachstate.pk }}" label="{{ eachstate.state_name }}">{{ eachstate.fk_region_code_id }}</option>
                    {% endif %}
                       
                            {% endfor %}                
                    {% endif %}
                </select>
            </div>
        </div>
               <div class="view-candidate-forms-input-holder">
                <div>
            <label for="">City</label>

                <select tabindex="27" name="c_city" id="c_city" required="true">
                    <option value="{{ me.fk_city_code_id }}" label="{{ me.fk_city_code }}" selected>{{ me.fk_city_code.fk_state_code_id }}</option>

                    <option value="" label="" class="empty">Select City</option>

                    {% if city_list %}
                        {% for eachcity in city_list %}
                        {% if eachcity.pk != me.fk_city_code_id %}

                            <option value="{{ eachcity.pk }}" label="{{ eachcity.city_name }}">{{ eachcity.fk_state_code_id }}</option>
                    {% endif %}
                        
                            {% endfor %}                
                    {% endif %}
                </select>
                 </div>
                <div class="margin-left">
                <label for="" >Location</label>

                <select tabindex="28" name="c_location" id="c_location" required="true">
                    <option value="{{ me.fk_location_code_id }}" label="{{ me.fk_location_code }}" selected>{{ me.fk_location_code.fk_city_code_id }}</option>

                    <option value="" label="" class="empty">Select Location</option>

                    {% if location_list %}
                        {% for eachlocation in location_list %}
                        {% if eachlocation.pk != me.fk_location_code_id %}

                            <option value="{{ eachlocation.pk }}" label="{{ eachlocation.location_name }}">{{ eachlocation.fk_city_code_id }}</option>
                    {% endif %}
                        
                            {% endfor %}                
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="view-candidate-forms-input-holder">
            <div>
                <label for="" >TA SPOC Email ID</label>
                <input readonly tabindex="29" type="email" readonly value="{{ me.TA_Spoc_Email_Id }}" placeholder="TA SPOC Email ID" name="c_ta_spoc" required="true">
            </div>
            <div class="margin-left">
                <label for="" >Onboarding SPOC Email ID</label>
                <input readonly tabindex="30" type="email" readonly value="{{ me.Onboarding_Spoc_Email_Id }}" placeholder="Onboarding SPOC Email ID" name="c_onboarding_spoc" required="true">         
            </div>
        </div>
        <div class="view-candidate-forms-input-holder">
            <div>
                <label for="">Reporting / Hiring Manager Name</label>
                <input readonly type="text" tabindex="31" value="{{ me.Reporting_Manager }}" placeholder="Reporting Manager" name="c_reporting_manager" id="reporting_manager" required="true" maxlength="50" autocapitalize="on">
                 </div>
                <div class="margin-left">
                <label for="" >Reporting / Hiring Manager Email ID</label>

                <input readonly type="email" tabindex="32" value="{{ me.Reporting_Manager_E_Mail_ID }}" placeholder="Reporting Manager Email ID" id="reporting_manager_email" name="c_reporting_manager_email" required="true">
         
            </div>
        </div>
            
               <div class="view-candidate-forms-input-holder">
                <div>
            <label for="">Email ID Creation</label>

                <select tabindex="33" name="c_email_creation" id="c_email_creation" required="true">
                    <option value="{{ me.E_Mail_ID_Creation }}" label="{{ me.E_Mail_ID_Creation }}" selected>{{ me.E_Mail_ID_Creation }}</option>
                    <option value="Yes" >Yes</option>
                    <option value="No" >No</option>                    
                </select>
                 </div>
                <div class="margin-left">
                <label for="" >Laptop Allocation</label>

                <select tabindex="34" name="c_laptop_allocation" id="c_laptop_allocation" required="true">
                    <option value="{{ me.Laptop_Allocation_id }}" label="{{ me.Laptop_Allocation }}" selected>{{ me.Laptop_Allocation }}</option>
                    {% if laptop_allocation_list %}
                        {% for eachlaptop_allocation in laptop_allocation_list %}
                        {% if eachlaptop_allocation.pk != me.Laptop_Allocation_id %}

                            <option value="{{ eachlaptop_allocation.pk }}" label="{{ eachlaptop_allocation.option_name }}">{{ eachlaptop_allocation.option_name }}</option>
                    {% endif %}                    
                       
                            {% endfor %}                
                    {% endif %}                    
                </select>
            </div>
        </div>
               <div class="view-candidate-forms-input-holder">
                <div>
            <label for="">Salary Type</label>

                <select tabindex="35" name="c_salary_type" id="c_salary_type" required="true">
                    <option value="{{ me.Salary_Type_id }}" label="{{ me.Salary_Type }}" selected>{{ me.Salary_Type }}</option>

                    {% if salary_type_list %}
                        {% for eachsalary_type in salary_type_list %}
                        {% if eachsalary_type.pk != me.Salary_Type_id %}

                            <option value="{{ eachsalary_type.pk }}" label="{{ eachsalary_type.salary_type_name }}">{{ eachsalary_type.salary_type_name }}</option>
                    {% endif %}                   
                       
                            {% endfor %}                
                    {% endif %}                   
                </select>
                 </div>
                <div class="margin-left">
                <label for="" >Gross Salary</label>
                <input readonly tabindex="36" type="text" value="{{ me.Gross_Salary_Amount }}" placeholder="Gross Salary Amount" name="c_gross_salary" id="c_salary" required="true" maxlength="10" minlength="1">
                <span id="wage_result" style="color: #bf0711;"></span>
            </div>

        </div>
        <div class="view-candidate-forms-input-holder">
            <div>
                <label for="" >Onboarding Status</label>
                <input readonly tabindex="37" type="text" value="{{ me.onboarding_status }}" placeholder="Onboarding Status" disabled="true">
            </div>
            <div class="margin-left">
                <label for="" >Vendor Status</label>
                <input readonly tabindex="38" type="text" value="{{ me.vendor_status }}" placeholder="Vendor Status" disabled="true">
            </div>
        </div>
              
    </div>
  
  </div>
{% endblock %}