{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Candidates {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:candidate' %}" class="tab-btns active-tab"> Candidates</a>   
        {% if request.user.groups.all %}
            {% for eachgroup in request.user.groups.all %}
                {% if eachgroup.name != 'Recruiter' %}
                    <a href="{% url 'csp_app:pending_request' %}" class="tab-btns">Pending Requests <button disabled id="request_count" >{{ count }}</button> </a>   
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}

{% block tabcontentblock %}
    {% if request.user.groups.all %}
        {% for eachgroup in request.user.groups.all %}
            {% if eachgroup.name == 'Admin' or eachgroup.name == 'Recruiter' %}
            <div class="tab-container">
                <button id="new_candidate" class="add-new-btn" onclick="location.href = '/csp_candidates/new_candidate/'" >New Candidate</button>
            
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}


    <div class="table-container">
        <a href="{% url 'csp_app:export_candidate' %}" class="export-btn">Export <i class="fas fa-file-export"></i></a>
            
        <table id="candidate-table" class="dataTable">
            <thead>
                <tr>
                    <th>Candidate ID</th>
                    <th>Candidate Name</th>
                    <th>Contact Details</th>
                    <th>Vendor</th>
                    <th>Designation</th>                            
                    <th>Vendor Status</th>
                    <th>Onboarding Status</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% if request.user.groups.all %}
                    {% for eachgroup in request.user.groups.all %}
                        {% if eachgroup.name == 'Vendor' %}
                            {% if candidate_list %}
                                {% for eachcandidate in candidate_list %}
                                
                                    <tr>
                                        <td class="action-col">
                                            <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachcandidate.pk }}" name="view_id"><input type="submit" value="{{ eachcandidate.pk }}" id="view" formaction="{% url 'csp_app:view_edit_candidate' %}"></form> 
                                        
                                            </td>
                                        <td class="action-col" style="text-align: left;">
                                            {{ eachcandidate.First_Name }} {{ eachcandidate.Middle_Name }} {{ eachcandidate.Last_Name }}    
                                        </td>
                                        <td style="text-align: center;">
                                            <div>{{ eachcandidate.Personal_Email_Id }}</div>
                                            <div>{{ eachcandidate.Contact_Number }}</div>
                                        </td>
                                        <td>{{ eachcandidate.fk_vendor_code }}</td>

                                        <td>{{ eachcandidate.fk_designation_code }}</td>
                                        <td class="action-col">{{ eachcandidate.vendor_status }}</td>
                                        <td class="action-col">{{ eachcandidate.onboarding_status }}</td>
                                        <td class="action-col">
                                            {{ eachcandidate.status }}
                                        </td>
                                    </tr>

                                {% endfor %} 
                            {% else %}
                                {% for eachcandidate in candidate_list %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}

                        {% else %}
                            {% if candidate_list %}
                                {% for eachcandidate in candidate_list %}
                                    
                                    <tr>
                                        <td class="action-col">
                                            {% if request.user.groups.all %}
                                                {% for eachgroup in request.user.groups.all %}
                                                    {% if eachgroup.name == 'Admin' %}                                                        
                                                        <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachcandidate.pk }}" name="view_id"><input type="submit" value="{{ eachcandidate.pk }}" id="view" formaction="{% url 'csp_app:view_edit_candidate' %}"></form> 
                                                    {% else %}
                                                        <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachcandidate.pk }}" name="view_id"><input type="submit" value="{{ eachcandidate.pk }}" id="view" formaction="{% url 'csp_app:view_candidate' %}"></form> 
                                                        
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td >
                                        
                                            {{ eachcandidate.First_Name }} {{ eachcandidate.Last_Name }}
                                                    
                                        </td>
                                        <td style="text-align: center;">
                                            <div>{{ eachcandidate.Personal_Email_Id }}</div>
                                            <div>{{ eachcandidate.Contact_Number }}</div>
                                        </td>
                                        <td>{{ eachcandidate.fk_vendor_code }}</td>
                                        <td>{{ eachcandidate.fk_designation_code }}</td>                                
                                        <td class="action-col">{{ eachcandidate.vendor_status }}</td>
                                        <td class="action-col">{{ eachcandidate.onboarding_status }}</td>
                                        <td class="action-col">
                                            {{ eachcandidate.status }}
                                        </td>
                                        
                                    </tr>

                                {% endfor %}                

                            {% else %}
                                {% for eachcandidate in candidate_list %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tbody>   
        </table>
            
    </div>

            


<script>
    $(document).ready(function(){
        showMe('Candidate', 'can-expand');
    }); 
</script>
{% endblock %}