{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Candidates {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:candidate' %}" class="tab-btns active-tab"> Candidates</a>   
        {% if request.user.groups.all %}
            {% for eachgroup in request.user.groups.all %}
                {% if eachgroup.name != 'Recruiter' %}
                    <a href="{% url 'csp_app:pending_request' %}" class="tab-btns">Pending Requests <button disabled id="request_count" >{{ count }}</button> </a>   
                {% endif %}
                {% if eachgroup.name == 'Admin' or eachgroup.name == 'Onboarding SPOC' %}
                    <a href="{% url 'csp_app:future_joining_request' %}" class="tab-btns">Future Joining Requests <button disabled id="request_count" >{{ dojcount }}</button> </a>   

                {% endif %}
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}

{% block tabcontentblock %}
    {% if request.user.groups.all %}
        {% for eachgroup in request.user.groups.all %}
            {% if eachgroup.name == 'Admin' or eachgroup.name == 'Recruiter' or eachgroup.name == 'Onboarding SPOC' %}
            <div class="tab-container">
                <button id="new_candidate" class="add-new-btn" onclick="location.href = '/csp_candidates/new_candidate/'" >New Candidate</button>
            
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}


    <div class="table-container">
        <a href="{% url 'csp_app:export_candidate' %}" class="export-btn">Export <i class="fas fa-file-export"></i></a>

        
        {% if candidate_list %}
            
            <table id="candidate-table" class="dataTable">
                <thead>
                    <tr>
                        <th>Candidate ID</th>
                        <th>Name</th>
                        <th>E Mail ID</th>
                        <th>Mobile Number</th>
                        <th>Department</th>
                        <th>Function</th>
                        <th>Designation</th>  
                        <th>Reporting Manager</th>                            
                        <th>State</th>                            

                        
                        <th>Onboarding Status</th>
                        <th>Vendor</th>
                        <th>Vendor Status</th>
                        <th>Gross Salary Considered</th>
                        <th>LOI</th>
                        <th>Documentation</th>
                        <th>Offer Letter</th>
                        <th>IT Intimation E Mail</th>
                        <th>Joining Status</th>
                        <th>E Code Generation</th>
                        <th>E Mail ID Creation Request</th>
                        <th>Laptop Request</th>
                        <th>Final Status</th>
                    
                    
                    
                    </tr>
                </thead>
                <tbody>
                    {% for eachcandidate in candidate_list %}
                    {% if request.user.groups.all %}
                        {% for eachgroup in request.user.groups.all %}
                            {% if eachgroup.name == 'Vendor' %}
                                    
                                <tr>
                                    <td class="action-col">
                                        <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachcandidate.pk }}" name="view_id"><input type="submit" value="{{ eachcandidate.pk }}" id="view" formaction="{% url 'csp_app:view_candidate' %}"></form> 
                                    
                                        </td>
                                    <td class="action-col" style="text-align: left;">
                                        {{ eachcandidate.First_Name }} {{ eachcandidate.Middle_Name }} {{ eachcandidate.Last_Name }}    
                                    </td>
                                    <td>{{ eachcandidate.Personal_Email_Id }}</td>
                                    <td>{{ eachcandidate.Contact_Number }}</td>
                                    <td>{{ eachcandidate.fk_department_code }}</td>
                                    <td>{{ eachcandidate.fk_function_code }}</td>
                                    <td>{{ eachcandidate.fk_designation_code }}</td>
                                    <td>{{ eachcandidate.Reporting_Manager }}</td>
                                    <td>{{ eachcandidate.fk_state_code }}</td>                                        
                        
                                    <td class="action-col">{{ eachcandidate.onboarding_status }}</td>
                                    <td>{{ eachcandidate.fk_vendor_code }}</td>
                                    <td class="action-col">{{ eachcandidate.vendor_status }}</td>
                                    <td class="action-col"><a href="/view_salary_structure/{{ eachcandidate.pk }}/" target="_blank">{{ eachcandidate.Gross_Salary_Amount }} </a>
                                    </td>
                                   
                                    <td class="action-col">{{ eachcandidate.loi_status }}
                                        {% if eachcandidate.documentation_status_id == 1 %}
                                            | <a href="{% url 'csp_app:resend_loi' eachcandidate.pk  %}">Resend</a>

                                        {% endif %}
                                    </td>
                                    <td>{{ eachcandidate.documentation_status }}</td>
                                    <td>{{ eachcandidate.offer_letter_status }}</td>
                                    <td>{{ eachcandidate.it_intimation_status }}</td>
                                    <td>{{ eachcandidate.joining_status }}</td>
                                    <td>{{ eachcandidate.ecode_status }}</td>
                                    <td>{{ eachcandidate.email_creation_status }}</td>
                                    <td>{{ eachcandidate.laptop_status }}</td>

                                    <td class="action-col">
                                        {{ eachcandidate.candidate_status }}
                                    </td>
                                </tr>

                            {% else %}                          
                                        
                                <tr>
                                    <td class="action-col">
                                        {% if request.user.groups.all %}
                                            {% for eachgroup in request.user.groups.all %}
                                                {% if eachgroup.name == 'Admin' %}   
                                                    {% if eachcandidate.onboarding_status_id == 2 %}                                                     
                                                        <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachcandidate.pk }}" name="view_id"><input type="submit" value="{{ eachcandidate.pk }}" id="view" formaction="{% url 'csp_app:view_edit_candidate' %}"></form> 
                                                    {% else %}
                                                        <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachcandidate.pk }}" name="view_id"><input type="submit" value="{{ eachcandidate.pk }}" id="view" formaction="{% url 'csp_app:view_candidate' %}"></form> 
                                                    {% endif %}
                                                {% else %}
                                                    <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachcandidate.pk }}" name="view_id"><input type="submit" value="{{ eachcandidate.pk }}" id="view" formaction="{% url 'csp_app:view_candidate' %}"></form> 
                                                    
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td >
                                    
                                        {{ eachcandidate.First_Name }} {{ eachcandidate.Middle_Name }} {{ eachcandidate.Last_Name }}
                                                
                                    </td>
                                    <td>{{ eachcandidate.Personal_Email_Id }}</td>
                                    <td>{{ eachcandidate.Contact_Number }}</td>
                                    <td>{{ eachcandidate.fk_department_code }}</td>
                                    <td>{{ eachcandidate.fk_function_code }}</td>
                                    <td>{{ eachcandidate.fk_designation_code }}</td>
                                    <td>{{ eachcandidate.Reporting_Manager }}</td>
                                    <td>{{ eachcandidate.fk_state_code }}</td>                                        
                                    <td class="action-col">{{ eachcandidate.onboarding_status }}</td>
                                    <td>{{ eachcandidate.fk_vendor_code }}</td>

                                    <td class="action-col">{{ eachcandidate.vendor_status }}</td>
                                    <td class="action-col"><a href="/view_salary_structure/{{ eachcandidate.pk }}/" target="_blank">{{ eachcandidate.Gross_Salary_Amount }} </a>
                                    </td>
                                    <td>{{ eachcandidate.loi_status }}
                                        {% if eachcandidate.documentation_status_id == 1 %}
                                            | <a href="{% url 'csp_app:resend_loi' eachcandidate.pk  %}">Resend</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ eachcandidate.documentation_status }}</td>
                                    <td>{{ eachcandidate.offer_letter_status }}</td>
                                    <td>{{ eachcandidate.it_intimation_status }}</td>
                                    <td>{{ eachcandidate.joining_status }}</td>
                                    <td>{{ eachcandidate.ecode_status }}</td>
                                    <td>{{ eachcandidate.email_creation_status }}</td>
                                    <td>{{ eachcandidate.laptop_status }}</td>

                                    <td class="action-col">
                                        {{ eachcandidate.candidate_status }}
                                    </td>
                                    
                                    
                                </tr>

                            {% endif %}                

                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                </tbody>   
            </table>
            
        {% else %}
            
            <table id="nocandidate-table" class="dataTable">
                <thead>
                    <tr>
                        <th>Candidate ID</th>
                        <th>Name</th>
                        <th>E Mail ID</th>
                        <th>Mobile Number</th>
                        <th>Department</th>
                        <th>Function</th>
                        <th>Designation</th>  
                        <th>Reporting Manager</th>                            
                        <th>State</th>                            

                        
                        <th>Onboarding Status</th>
                        <th>Vendor</th>
                        <th>Vendor Status</th>
                        <th>Gross Salary Considered</th>
                        <th>LOI</th>
                        <th>Documentation</th>
                        <th>Offer Letter</th>
                        <th>IT Intimation E Mail</th>
                        <th>Joining Status</th>
                        <th>E Code Generation</th>
                        <th>E Mail ID Creation Request</th>
                        <th>Laptop Request</th>
                        <th>Final Status</th>
                    
                    
                    
                    </tr>
                </thead>
                <tbody>
                    {% for eachcandidate in candidate_list %}
                    <tr>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        {% endif %}

            
    </div>

            


<script>
    $(document).ready(function(){
        showMe('Candidate', 'can-expand');
    }); 
</script>
{% endblock %}