{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Candidates {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:candidate' %}" class="tab-btns active-tab"> Candidates</a>   
        {% if request.user.groups.all %}
            {% for eachgroup in request.user.groups.all %}
                {% if eachgroup.name != 'Recruiter' %}
                    <a href="{% url 'csp_app:pending_request' %}" class="tab-btns">Pending Requests <button disabled id="request_count" >{{ count }}</button> </a>   
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}

{% block tabcontentblock %}
    {% if request.user.groups.all %}
        {% for eachgroup in request.user.groups.all %}
            {% if eachgroup.name == 'Admin' or eachgroup.name == 'Recruiter' %}
            <div class="tab-container">
                <button id="new_candidate" class="add-new-btn" onclick="location.href = '/csp_candidates/new_candidate/'" >New Candidate</button>
            
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}


            <div class="table-container">
            
                <table id="candidate-table" class="dataTable">
                    <thead>
                        <tr>
                            <th>Candidate ID</th>
                            <th>Candidate Name</th>
                            <th>Contact Details</th>
                            <th>Designation</th>
                            <th>Vendor</th>
                            <th>Vendor Status</th>
                            <th>Onboarding Status</th>
                            <th>Status</th>
                            <!-- <th>Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% if request.user.groups.all %}
                        {% for eachgroup in request.user.groups.all %}
                            {% if eachgroup.name == 'Vendor' %}
                        {% if candidate_list %}
                            {% for eachcandidate in candidate_list %}
                            
                                    <tr>
                                        <td class="action-col">
                                            <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachcandidate.pk }}" name="view_id"><input type="submit" value="{{ eachcandidate.pk }}" id="view" formaction="{% url 'csp_app:view_edit_candidate' %}"></form> 
                                      
                                            </td>
                                        <td class="action-col" style="text-align: left;">
                                            {{ eachcandidate.First_Name }} {{ eachcandidate.Middle_Name }} {{ eachcandidate.Last_Name }}    
                                        </td>
                                        <td style="text-align: center;">
                                            <div>{{ eachcandidate.Personal_Email_Id }}</div>
                                            <div>{{ eachcandidate.Contact_Number }}</div>
                                        </td>
                                        <td>{{ eachcandidate.fk_designation_code }}</td>
                                        <td>{{ eachcandidate.fk_vendor_code }}</td>
                                        <td class="action-col">{{ eachcandidate.vendor_status }}</td>
                                        <td class="action-col">{{ eachcandidate.onboarding_status }}</td>
                                        <td class="action-col">
                                            {{ eachcandidate.status }}
                                        </td>
                                    </tr>

                            {% endfor %} 
                        {% else %}
                            {% for eachcandidate in candidate_list %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        {% endif %}

                        {% else %}
                        {% if candidate_list %}
                        {% for eachcandidate in candidate_list %}
                           
                            <tr>
                                <td class="action-col">
                                    {% if request.user.groups.all %}
                                        {% for eachgroup in request.user.groups.all %}
                                            {% if eachgroup.name == 'Admin' %}
                                                <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachcandidate.pk }}" name="view_id"><input type="submit" value="{{ eachcandidate.pk }}" id="view" formaction="{% url 'csp_app:view_edit_candidate' %}"></form> 
                                            {% else %}
                                                {{ eachcandidate.pk }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td >
                              
                                                {{ eachcandidate.First_Name }} {{ eachcandidate.Last_Name }}
                                           
                                </td>
                                <td style="text-align: center;">
                                    <div>{{ eachcandidate.Personal_Email_Id }}</div>
                                    <div>{{ eachcandidate.Contact_Number }}</div>
                                </td>
                                <td>{{ eachcandidate.fk_designation_code }}</td>
                                <td>{{ eachcandidate.fk_vendor_code }}</td>
                                <td class="action-col">{{ eachcandidate.vendor_status }}</td>
                                <td class="action-col">{{ eachcandidate.onboarding_status }}</td>
                                <td class="action-col">
                                    {{ eachcandidate.status }}
                                </td>
                                <!-- <td class="action-col">
                                    <input type="hidden" value="{{ eachcandidate.pk }}" name="view_id" id="selected_id">
                                    {% if request.user.groups.all %}
                                        {% for eachgroup in request.user.groups.all %}
                                            {% if eachgroup.name == 'Admin' %}
                                                <select name="c_status" id="c_status" onchange="statusAdmin('{{ eachcandidate.pk }}', 'change_candidate_status', 'change_me')">
                                                    <option value="{{ eachcandidate.candidate_status_id }}" label="{{ eachcandidate.candidate_status }}" selected="True">{{ eachcandidate.candidate_status }}</option>
                                                    {% if c_status_list %}
                                                        {% for eachstatus in c_status_list %}
                                                            {% if eachstatus.pk != eachcandidate.candidate_status_id %}
                                                                <option value="{{ eachstatus.pk }}" label="{{ eachstatus.status_name }}">{{ eachstatus.status_name }}</option>
                                                            {% endif %}                                        
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>                                    
                                            {% endif %}   
                                            {% if eachgroup.name == 'Vendor' %}
                                                <select name="v_status" id="v_status" onchange="statusVendor('{{ eachcandidate.pk }}', 'change_candidate_status_vendor', 'v_change_me')">
                                                    <option value="{{ eachcandidate.vendor_status_id }}" label="{{ eachcandidate.vendor_status }}" selected="True">{{ eachcandidate.vendor_status }}</option>
                                                    {% if v_status_list %}
                                                        {% for eachstatus in v_status_list %}
                                                            {% if eachstatus.pk != eachcandidate.vendor_status_id %}
                                                                <option value="{{ eachstatus.pk }}" label="{{ eachstatus.status_name }}">{{ eachstatus.status_name }}</option>
                                                            {% endif %}                                        
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>                                    
                                            {% endif %}                                          
                                        {% endfor %}
                                    {% endif %}
                                </td> -->
                                
                            </tr>
        
                        {% endfor %}                
        
                    {% else %}
                        {% for eachcandidate in candidate_list %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    {% endif %}
    {% endfor %}
{% endif %}
                    </tbody>   
                </table>
            
            </div>

            
          
         





<div id="candidates_form" class="form_modal" style="padding-top: 1%;">
    <div class="form_header">
        <div class="forms-heading">
            <h2>Create New candidate</h2>
        </div>
        <div class="hr_line" style="margin-bottom: 10px;">&nbsp;</div>
     
    </div>
    <div class="form_content" style="height: 75vh;">
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="forms-input-holder">
                <input type="text" placeholder="First Name" name="c_firstname" id="c_firstname" required="true" autocapitalize="on" autofocus="true" tabindex="1"  >
            </div>
            <div class="forms-input-holder">
                <input type="text" placeholder="Middle Name" name="c_middlename" id="c_middlename" required="true" autocapitalize="on" tabindex="2">
            </div>
            <div class="forms-input-holder">
                <input type="text" placeholder="Last Name" name="c_lastname" id="c_lastname" required="true" autocapitalize="on" tabindex="3">
            </div>
            <div class="forms-input-holder">
                <input type="date" placeholder="Date Of Birth" name="c_dob" id="c_dob" required="true" tabindex="6" >
            </div>
            <div class="forms-input-holder">
                <input type="date" placeholder="Date Of Joining" name="c_doj" required="true" tabindex="4" id="{{ request.user.is_staff }}">
            </div>
            <div class="forms-input-holder">
                <input type="text" placeholder="Father Name" name="c_fathername" id="c_fathername" required="true" tabindex="5">
            </div>
            
            <div class="forms-input-holder">
                <input type="text" placeholder="Aadhaar Number" name="c_aadhaar" id="c_aadhaar" required="true" maxlength="12" minlength="12" pattern="[0-9]{12}">
            </div>
            <div class="forms-input-holder">
                <input type="text" placeholder="PAN Number" name="c_pan" id="c_pan" required="true" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" minlength="10" maxlength="10">
            </div>
            <div class="forms-input-holder">
                <input type="text" placeholder="Contact Number" name="c_contact" id="c_contact" required="true" pattern="[6-9]{1}[0-9]{9}" minlength="10" maxlength="10">
            </div>
            <div class="forms-input-holder">
                <input type="text" placeholder="Emergency Contact Number" name="c_emergency" id="c_emergency" onblur="sameNumber('c_contact', 'c_emergency', this)" title="Emergency No. Cannot Be Same As Contact No." required="true" pattern="[6-9]{1}[0-9]{9}" minlength="10" maxlength="10">
            </div>
            <div class="forms-input-holder">
                <select name="c_hiring_type" id="" >
                    <option value="" disabled selected>Type Of Hiring</option>
                    {% if hiring_type_list %}
                        {% for eachhiring_type in hiring_type_list %}
                            <option value="{{ eachhiring_type.pk }}" label="{{ eachhiring_type.hiring_type_name }}">{{ eachhiring_type.hiring_type_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>

            <div class="forms-input-holder">
                <input type="text" placeholder="Replacement UID" name="c_replacement" pattern="[U]{1}[A-Za-z0-9]{,5}" autocapitalize="on">
            </div>
            <div class="forms-input-holder">
                <select name="c_sub_source" id="" >
                    <option value="" disabled selected>Sub Source</option>
                    {% if sub_source_list %}
                        {% for eachsub_source in sub_source_list %}
                            <option value="{{ eachsub_source.pk }}" label="{{ eachsub_source.sub_source_name }}">{{ eachsub_source.sub_source_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="forms-input-holder" >
                <input type="text" placeholder="Referral" name="c_referral" pattern="[U]{1}[A-Za-z0-9]{,5}" autocapitalize="on">
            </div>
            <label for="">Company</label>
            <div class="forms-input-holder">
                <select name="c_entity" id="c_entity" required="true">
                    <option value="" disabled selected>Select Company</option>
                    {% if entity_list %}
                        {% for eachentity in entity_list %}
                            <option value="{{ eachentity.pk }}" label="{{ eachentity.entity_name }}">{{ eachentity.entity_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>

            <label for="">Vendor</label>
            <div class="forms-input-holder">
                <select name="c_vendor" id="c_vendor" required="true">
                    <option value="" disabled selected>Select vendor</option>
                    {% if vendor_list %}
                        {% for eachvendor in vendor_list %}
                            <option value="{{ eachvendor.pk }}" label="{{ eachvendor.vendor_name }}">{{ eachvendor.fk_entity_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
        
            <label for="">Department</label>
            <div class="forms-input-holder">
                <select name="c_dept" id="c_dept" required="true" disabled="true">
                    <option value="" disabled selected>Select department</option>
                    {% if department_list %}
                        {% for eachdepartment in department_list %}
                            <option value="{{ eachdepartment.pk }}" label="{{ eachdepartment.department_name }}">{{ eachdepartment.fk_entity_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">Function</label>
            <div class="forms-input-holder">
                <select name="c_function" id="c_function" required="true" disabled="true">
                    <option value="" disabled selected>Select Function</option>
                    {% if function_list %}
                        {% for eachfunction in function_list %}
                            <option value="{{ eachfunction.pk }}" label="{{ eachfunction.function_name }}">{{ eachfunction.fk_department_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">Team</label>
            <div class="forms-input-holder">
                <select name="c_team" id="c_team" required="true"  disabled="true">
                    <option value="" disabled selected>Select Team</option>
                    {% if team_list %}
                        {% for eachteam in team_list %}
                            <option value="{{ eachteam.pk }}" label="{{ eachteam.team_name }}">{{ eachteam.fk_function_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">Sub Team</label>
            <div class="forms-input-holder">
                <select name="c_subteam" id="c_subteam" required="true" disabled="true">
                    <option value="" disabled selected>Select Sub Team</option>
                    {% if sub_team_list %}
                        {% for eachsubteam in sub_team_list %}
                            <option value="{{ eachsubteam.pk }}" label="{{ eachsubteam.sub_team_name }}">{{ eachsubteam.fk_team_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">Designation</label>
            <div class="forms-input-holder">
                <select name="c_desg" id="c_desg" required="true" disabled="true">
                    <option value="" disabled selected>Select Designation</option>
                    {% if designation_list %}
                        {% for eachdesignation in designation_list %}
                            <option value="{{ eachdesignation.pk }}" label="{{ eachdesignation.fk_designation_code_name }}">{{ eachdesignation.fk_sub_team_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">Region</label>
            <div class="forms-input-holder">
                <select name="c_region" id="c_region" required="true" disabled="true">
                    <option value="" disabled selected>Select Region</option>
                    {% if region_list %}
                        {% for eachregion in region_list %}
                            <option value="{{ eachregion.pk }}" label="{{ eachregion.region_name }}">{{ eachregion.fk_designation_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">State</label>
            <div class="forms-input-holder">
                <select name="c_state" id="c_state" required="true" disabled="true">
                    <option value="" disabled selected>Select State</option>
                    {% if state_list %}
                        {% for eachstate in state_list %}
                            <option value="{{ eachstate.pk }}" label="{{ eachstate.state_name }}">{{ eachstate.fk_region_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">City</label>
            <div class="forms-input-holder">
                <select name="c_city" id="c_city" required="true" disabled="true">
                    <option value="" disabled selected>Select City</option>
                    {% if city_list %}
                        {% for eachcity in city_list %}
                            <option value="{{ eachcity.pk }}" label="{{ eachcity.city_name }}">{{ eachcity.fk_state_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">Location</label>
            <div class="forms-input-holder">
                <select name="c_location" id="c_location" required="true" disabled="true">
                    <option value="" disabled selected>Select Location</option>
                    {% if location_list %}
                        {% for eachlocation in location_list %}
                            <option value="{{ eachlocation.pk }}" label="{{ eachlocation.location_name }}">{{ eachlocation.fk_city_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>

            <div class="forms-input-holder">
                <input type="text" placeholder="Reporting Manager" name="c_reporting_manager" required="true" pattern="[U]{1}[A-Za-z0-9]{,5}" autocapitalize="on">
            </div>
            <div class="forms-input-holder">
                <input type="email" placeholder="Reporting Manager Email ID" name="c_reporting_manager_email" required="true">
            </div>
           
            <label for="">Gender</label>
            <div class="forms-input-holder">
                <select name="c_gender" id="c_gender" required="true">
                    <option value="" disabled selected>Select Gender</option>
                    {% if gender_list %}
                        {% for eachgender in gender_list %}
                            <option value="{{ eachgender.pk }}" label="{{ eachgender.gender_name }}">{{ eachgender.gender_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <label for="">Email ID Creation</label>
            <div class="forms-input-holder">
                <select name="c_email_creation" id="c_email_creation" required="true">
                    <option value="" disabled selected>Email ID Creation</option>
                    <option value="Yes" >Yes</option>
                    <option value="No" >No</option>                    
                </select>
            </div>
            <label for="">Laptop Allocation</label>
            <div class="forms-input-holder">
                <select name="c_laptop_allocation" id="c_laptop_allocation" required="true">
                    <option value="" disabled selected>Laptop Allocation</option>
                    {% if laptop_allocation_list %}
                        {% for eachlaptop_allocation in laptop_allocation_list %}
                            <option value="{{ eachlaptop_allocation.pk }}" label="{{ eachlaptop_allocation.option_name }}">{{ eachlaptop_allocation.option_name }}</option>
                        {% endfor %}                
                    {% endif %}                    
                </select>
            </div>
            <label for="">Salary Type</label>
            <div class="forms-input-holder">
                <select name="c_salary_type" id="c_salary_type" required="true">
                    <option value="" disabled selected>Select Salary Type</option>
                    {% if salary_type_list %}
                        {% for eachsalary_type in salary_type_list %}
                            <option value="{{ eachsalary_type.pk }}" label="{{ eachsalary_type.salary_type_name }}">{{ eachsalary_type.salary_type_name }}</option>
                        {% endfor %}                
                    {% endif %}                   
                </select>
            </div>
            <div class="forms-input-holder">
                <input type="text" placeholder="Gross Salary Amount" name="c_gross_salary" id="c_salary" required="true" maxlength="10" minlength="1">
            </div>
        
              
    </div>
    <div class="form_footer">
            <button class="forms-save-btn" formaction="{% url 'csp_app:create_candidate' %}" type="submit">Save Candidate</button>
 </form>
    </div>
  
  </div>

  <div id="change_candidate_status" class="form_modal" style="padding-top: 15%;">
    <div class="delete_form_header">
        <div class="forms-heading">
            <h2>Are You Sure?</h2>
        </div>     
    </div>
    <div class="delete_form_footer">
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" id="c_id" value="" name="c_id">
            <button type="submit" formaction="{% url 'csp_app:change_candidate_status' %}" value="" id="change_me" name="change_id" class="forms-delete-btn">Confirm</button>
            <button id="close_delete" class="delete-forms-close-btn">Cancel</button>        
        </form> 
        <!-- <br>
        <p class="modal-msg">
            If confirmed, this user will not be able to login to this site. 
        </p>    -->
    </div>    
</div>

<div id="change_candidate_status_vendor" class="form_modal" style="padding-top: 15%;">
    <div class="delete_form_header">
        <div class="forms-heading">
            <h2>Are You Sure?</h2>
        </div>     
    </div>
    <div class="delete_form_footer">
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" id="v_c_id" value="" name="v_c_id">
            <button type="submit" formaction="{% url 'csp_app:change_candidate_status_vendor' %}" value="" id="v_change_me" name="v_change_id" class="forms-delete-btn">Confirm</button>
            <button id="close_delete" class="delete-forms-close-btn">Cancel</button>        
        </form> 
       
    </div>    
</div>

<script>
    $(document).ready(function(){
        showMe('Candidate', 'can-expand');
        // $(document).keyup(function(){
        //     if (event.keyCode === 27){
        //     $("#candidates_form").css("display", "none");
        //     }
        // });
        // $(window).click(function(e) {
        // if (e.target.id === 'candidates_form'){
        //     $("#candidates_form").css("display", "none");
        // }   
        // });  
        // $('#new_candidate').click(function(){
        //     alert("1");
        //     $("#candidates_form").css("display", "block");
        // });

        $('#c_entity').change(function() {
            var filter = $(this).val();
            var total = $('#c_dept option').length;
            var count = 0;
            $('#c_dept option').each(function() {
            if ($(this).text() == filter) {
            $('#c_dept').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#c_dept').val(filter);
            });
            if (count === total){
                $('#c_dept').attr("disabled", true)
            }
        });

        $('#c_entity').change(function() {
            var filter = $(this).val();
            var total = $('#c_vendor option').length;
            var count = 0;
            $('#c_vendor option').each(function() {
            if ($(this).text() == filter) {
            $('#c_vendor').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#c_vendor').val(filter);
            });
            if (count === total){
                $('#c_vendor').attr("disabled", true)
            }
        });

        $('#c_dept').change(function() {
            var filter = $(this).val();
            var total = $('#c_function option').length;
            var count = 0;
            $('#c_function option').each(function() {
            if ($(this).text() == filter) {
            $('#c_function').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#c_function').val(filter);
            });
            if (count === total){
                $('#c_function').attr("disabled", true)
            }
        });
        $('#c_function').change(function() {
            var filter = $(this).val();
            var total = $('#c_team option').length;
            var count = 0;
            $('#c_team option').each(function() {
            if ($(this).text() == filter) {
            $('#c_team').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#c_team').val(filter);
            });
            if (count === total){
                $('#c_team').attr("disabled", true)
            }
        });

        $('#c_team').change(function() {
            var filter = $(this).val();
            var total = $('#c_subteam option').length;
            var count = 0;
            $('#c_subteam option').each(function() {
            if ($(this).text() == filter) {
            $('#c_subteam').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#c_subteam').val(filter);
            });
            if (count === total){
                $('#c_subteam').attr("disabled", true)
            }
        });

        
        $('#c_subteam').change(function() {
            var filter = $(this).val();
            var total = $('#c_desg option').length;
            var count = 0;
            $('#c_desg option').each(function() {
            if ($(this).text() == filter) {
            $('#c_desg').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#c_desg').val(filter);
            });
            if (count === total){
                $('#c_desg').attr("disabled", true)
            }
        });

        $('#c_desg').change(function() {
            var filter = $(this).val();
            var total = $('#c_region option').length;
            var count = 0;
            $('#c_region option').each(function() {
            if ($(this).text() == filter) {
            $('#c_region').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#c_region').val(filter);
            });
            if (count === total){
                $('#c_region').attr("disabled", true)
            }
        });

        $('#c_region').change(function() {
            var filter = $(this).val();
            var total = $('#c_state option').length;
            var count = 0;
            $('#c_state option').each(function() {
            if ($(this).text() == filter) {
            $('#c_state').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#c_state').val(filter);
            });
            if (count === total){
                $('#c_state').attr("disabled", true)
            }
        });

        $('#c_state').change(function() {
            var filter = $(this).val();
            var total = $('#c_city option').length;
            var count = 0;
            $('#c_city option').each(function() {
            if ($(this).text() == filter) {
            $('#c_city').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#c_city').val(filter);
            });
            if (count === total){
                $('#c_city').attr("disabled", true)
            }
        });

        $('#c_city').change(function() {
            var filter = $(this).val();
            var total = $('#c_location option').length;
            var count = 0;
            $('#c_location option').each(function() {
            if ($(this).text() == filter) {
            $('#c_location').attr("disabled", false);
                $(this).show();
            } else {
                $(this).hide();
                count += 1;
            }
            $('#c_location').val(filter);
            });
            if (count === total){
                $('#c_location').attr("disabled", true)
            }
        });
    })
</script>
<script>
    function statusAdmin(itemid, formid, inputid){
        // console.log("in here");
        var status_id = document.getElementById('c_status').value;
        var sel = document.getElementById('c_status');
        var text= sel.options[sel.selectedIndex].text;
        // var status = document.getElementById("c_status");
        
        // console.log(status_id);
        // console.log(text);
        document.getElementById(formid).style.display = "block";
        document.getElementById(inputid).setAttribute("value", status_id);
        document.getElementById("c_id").setAttribute("value", itemid);   


      
    }

    function statusVendor(itemid, formid, inputid){
        console.log("called");
        console.log(formid);
        var status_id = document.getElementById('v_status').value;
        var sel = document.getElementById('v_status');
        var text= sel.options[sel.selectedIndex].text;
        document.getElementById(formid).style.display = "block";
        document.getElementById(inputid).setAttribute("value", status_id);
        document.getElementById("v_c_id").setAttribute("value", itemid);  
    }
</script>
{% endblock %}