{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Pending Requests {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:candidate' %}" class="tab-btns"> Candidates</a>   
        <a href="{% url 'csp_app:pending_request' %}" class="tab-btns">Pending Requests <button disabled id="request_count" >{{ count }}</button> </a>   
        <a href="{% url 'csp_app:future_joining_request' %}" class="tab-btns  active-tab">Change In DOJ Requests <button disabled id="request_count" >{{ dojcount }}</button> </a>   
        <a href="{% url 'csp_app:approved_candidates' %}" class="tab-btns">Approved Candidates</button> </a>   

    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="table-container">
    <a href="{% url 'csp_app:export_candidate' %}" class="export-btn">Export <i class="fas fa-file-export"></i></a>

    
    {% if future_requests %}
        
        <table id="future-table" class="dataTable">
            <thead>
                <tr>
                    <th>Candidate ID</th>
                    <th>Name</th>
                    <th>E Mail ID</th>
                    <th>Mobile Number</th>                    
                    <th>Designation</th>  
                    <th>Expected Date Of Joining</th>
                    <th>Requested Date Of Joining</th>               
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for eachcandidate in future_requests %}
                                        
                                    
                    <tr>
                        <td class="action-col">
                            <a href="/csp_candidates/view_candidate/{{ eachcandidate.pk }}/">{{ eachcandidate.pk }}</a>   

                            <!-- <form action="" method="POST">{% csrf_token %}<input type="hidden" value="{{ eachcandidate.pk }}" name="view_id"><input type="submit" value="{{ eachcandidate.pk }}" id="view" formaction="{% url 'csp_app:view_candidate' %}"></form>  -->
                        </td>
                        <td >
                        
                            {{ eachcandidate.First_Name }} {{ eachcandidate.Middle_Name }} {{ eachcandidate.Last_Name }}
                                    
                        </td>
                        <td>{{ eachcandidate.Personal_Email_Id }}</td>
                        <td>{{ eachcandidate.Contact_Number }}</td>
                        <td>{{ eachcandidate.fk_designation_code }}</td> 
                        <td>{{ eachcandidate.Date_of_Joining | date:"M d, Y" }}</td>
                        <td>{{ eachcandidate.delay_date | date:"M d, Y" }}</td>
                        <td><a style="color: blue;cursor: pointer;" onclick="showConfirm('{{eachcandidate.pk}}','confirm_form')">Approve</a> | <a style="color: blue;cursor: pointer;" onclick="showReject('{{eachcandidate.pk}}','reject_form')">Reject</a></td>
                    </tr>

                 {% endfor %}
            </tbody>   
        </table>
        
    {% else %}
        
        <table id="nocandidate-table" class="dataTable">
            <thead>
                <tr>
                    <th>Candidate ID</th>
                    <th>Name</th>
                    <th>E Mail ID</th>
                    <th>Mobile Number</th>
                    <th>Department</th>
                    <th>Function</th>
                    <th>Designation</th>  
                    <th>Reporting Manager</th>                            
                    <th>State</th>                            

                    
                    <th>Onboarding Status</th>
                    <th>Vendor</th>
                    <th>Vendor Status</th>
                    <th>LOI</th>
                    <th>Documentation</th>
                    <th>Offer Letter</th>
                    <th>IT Intimation E Mail</th>
                    <th>Joining Status</th>
                    <th>E Code Generation</th>
                    <th>E Mail ID Creation Request</th>
                    <th>Laptop Request</th>
                    <th>Final Status</th>
                
                
                
                </tr>
            </thead>
            <tbody>
                {% for eachcandidate in future_requests %}
                <tr>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    {% endif %}

        
</div>

<div id="confirm_form" class="form_modal" style="padding-top: 15%;">
    <div class="delete_form_header">
        <div class="forms-heading">
            <h2>Confirm New Joining Date?</h2>
        </div>     
    </div>
    <div class="delete_form_footer" style="display: flex;justify-content: space-around;">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" formaction="{% url 'csp_app:future_joining_request' %}" value="" id="confirm_me" name="confirm_cid" class="forms-delete-btn">Confirm</button>
                   
        </form>
        <button id="close_confirm" class="delete-forms-close-btn" type="button">Cancel</button> 
    </div>
</div>

<div id="reject_form" class="form_modal" style="padding-top: 15%;">
    <div class="delete_form_header">
        <div class="forms-heading">
            <h2>Reject New Joining Date?</h2>
        </div>     
    </div>
    <div class="delete_form_footer" style="display: flex;justify-content: space-around;">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" formaction="{% url 'csp_app:future_joining_request' %}" value="" id="reject_me" name="reject_cid" class="forms-delete-btn">Confirm</button>
                  
        </form>
        <button id="close_reject" class="delete-forms-close-btn" type="button">Cancel</button>  
    </div>
</div>
<input type="hidden" id="name">
<input type="hidden" id="email">
<input type="hidden" id="spocemail">
<input type="hidden" id="phone_no">
<script>
$(document).ready(function(){
    $('#future-table').dataTable();
    
    $(document).keyup(function(){
        if (event.keyCode === 27){
            $("#confirm_form").css("display", "none");
            $("#reject_form").css("display", "none");

            }
        });
        $(window).click(function(e) {
        if (e.target.id === 'confirm_form' || e.target.id === 'reject_form') {
            $("#confirm_form").css("display", "none");
            $("#reject_form").css("display", "none");
        }   
        }); 

        $('#close_reject').click(function(){
            $("#reject_form").css("display", "none");
        });
        $('#close_confirm').click(function(){
            $("#confirm_form").css("display", "none");
        });
}); 
</script>
<script>
    function showConfirm(itemid, formid){
        document.getElementById(formid).style.display = "block";
        document.getElementById("confirm_me").setAttribute("value", itemid);
    }
    function showReject(itemid, formid){
        document.getElementById(formid).style.display = "block";
        document.getElementById("reject_me").setAttribute("value", itemid);
    }
    
</script>
{% endblock %}