{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} New Candidate {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:candidate' %}" class="tab-btns active-tab"> Candidates</a>   
    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="crumbs" id="crumbs"><span><a href="{% url 'csp_app:candidate' %}">Candidates</a></span>
    <span><i class="fas fa-chevron-right"></i></span>
    <span style="color: dimgray;">New Candidate</span>
</div>
{% if request.user.groups.all %}
    {% for eachgroup in request.user.groups.all %}
        <input type="hidden" name="" value="{{ eachgroup.name }}" id="user_group">
    {% endfor %}
{% endif %}
<div class="candidate_form">
    <div class="candidate_form_header">
        <div class="forms-heading">
            <h2>Create New Candidate</h2>
        </div>
        <div class="hr_line" style="margin-bottom: 10px;">&nbsp;</div>
     
    </div>
    <div class="candidate_form_content">
        <form method="POST" autocomplete="off" id="new-candidate">
            {% csrf_token %}
            {% include 'headings/personal.html' %}
          
           
            <div class="candidate-forms-input-holder">
                <div>
                <label class="move-out" for="c_firstname">First Name</label>

                <input class="input-text" type="text" maxlength="30" placeholder="First Name" name="c_firstname" id="c_firstname" required="true" autocapitalize="on" autofocus="true" tabindex="1"  >
                </div>
                <div class="margin-left">
                    <label for="">Middle Name</label>
                    <input type="text" maxlength="30" placeholder="Middle Name" name="c_middlename" id="c_middlename"  autocapitalize="on" tabindex="2">
                </div>
            </div>
            <div class="candidate-forms-input-holder">
                <div>
                <label for="">Last Name</label>
                <input type="text" maxlength="30" placeholder="Last Name" name="c_lastname" id="c_lastname" tabindex="3">
            
                </div>
                <div class="margin-left">
                    <label for="" >Candidate Date of Birth</label>
                    <input type="date" placeholder="Date Of Birth" name="c_dob" id="c_dob" required="true" tabindex="4" >
                </div>
            </div>
            <div class="candidate-forms-input-holder">
                <div> 
                    <label for="">Contact Number</label>
                    <input type="text" tabindex="5" placeholder="Contact Number" name="c_contact" id="c_contact" required="true" pattern="[6-9]{1}[0-9]{9}" minlength="10" maxlength="10" >
                    <small id="contactmsg"></small>    
                </div>
                <div class="margin-left">
                <label for="" >Emergency Number</label>
                <input type="text" tabindex="6" placeholder="Emergency Contact Number" name="c_emergency" id="c_emergency" title="Emergency No. Cannot Be Same As Contact No." required="true" pattern="[6-9]{1}[0-9]{9}" minlength="10" maxlength="10">
                <span id='message'></span>
            </div>
            </div>
            <div class="candidate-forms-input-holder">
                <div>
                    <label for="">Email ID</label>
                    <input type="text" pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,6})" tabindex="7" name="c_email" id="email" placeholder="Email Id">
                    <small id="emailmsg"></small>     
                </div>
                <div class="margin-left">
                <label for="" >Gender</label>

                <select name="c_gender" id="c_gender" required="true" tabindex="8">
                    <option value="" disabled selected>Select Gender</option>
                    {% if gender_list %}
                        {% for eachgender in gender_list %}
                            <option value="{{ eachgender.pk }}" label="{{ eachgender.gender_name }}">{{ eachgender.gender_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            </div>
           
            <div class="candidate-forms-input-holder">
                <div>
                <label for="">Father Name</label>
                <input type="text" tabindex="9" placeholder="Father Name" name="c_fathername" id="c_fathername" required="true" tabindex="5">
                 </div>
                <div class="margin-left">
                <label for="" >Mother Name</label>
                <input type="text" tabindex="10" name="c_mothername" id="c_mothername" required="true" placeholder="Mother Name" >
       
                </div>
            </div>
            
               <div class="candidate-forms-input-holder">
                <div>
                    <label for="">Aadhaar Number</label>
                    <input type="text" tabindex="11" placeholder="Aadhaar Number" name="c_aadhaar" id="c_aadhaar" required="true" maxlength="12" minlength="12" pattern="[0-9]{12}">
                    <small id="adhaarmsg"></small>
                </div>
                <div class="margin-left">
                <label for="" >PAN Number</label>
                <input type="text" tabindex="12" placeholder="PAN Number" name="c_pan" id="c_pan" required="true" pattern="[A-Z]{3}[P]{1}[A-Z]{1}[0-9]{4}[A-Z]{1}" minlength="10" maxlength="10">
                <small id="panmsg"></small>
            </div>
        </div>
        <div class="candidate-forms-input-holder">
            <div>               
                <label for="">Type Of Hiring</label>
                <select name="c_hiring_type" id="hiring" tabindex="13" >
                    <option value="" disabled selected>Type Of Hiring</option>
                    {% if hiring_type_list %}
                        {% for eachhiring_type in hiring_type_list %}
                            <option value="{{ eachhiring_type.pk }}" label="{{ eachhiring_type.hiring_type_name }}">{{ eachhiring_type.hiring_type_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="margin-left">
                <label for="">Replacement UID </label>
                <input type="text" disabled="true" tabindex="14" placeholder="Replacement UID" name="c_replacement" id="c_replacement" pattern="[U]{1}[0-9]{2,5}" maxlength="6" autocapitalize="on">
            </div>
                
        </div>

        <div class="candidate-forms-input-holder">
             
            <div>
                <label for="">Sub Source</label>
                <select name="c_sub_source" id="referral" tabindex="15" >
                    <option value="" disabled selected>Select Sub Source</option>
                    {% if sub_source_list %}
                        {% for eachsub_source in sub_source_list %}
                            <option value="{{ eachsub_source.pk }}" label="{{ eachsub_source.sub_source_name }}">{{ eachsub_source.sub_source_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="margin-left">
                <label for="" >Referal UID</label>
                <input type="text" tabindex="16" disabled placeholder="Referral" name="c_referral" id="c_referral" pattern="[U]{1}[0-9]{2,5}" maxlength="6" autocapitalize="on">
          
            </div>
        </div>
        <div class="candidate-forms-input-holder">
                {% if request.user.groups.all %}
                    {% for eachgroup in request.user.groups.all %}
                        {% if eachgroup.name == 'Recruiter' %}
                            <div>
                                <label for="" >Date of Joining</label>
                                <input type="date" tabindex="17" placeholder="Date Of Joining" name="c_doj" required="true" tabindex="4" id="False">
                        
                            </div>
                        {% else %}
                            <div>
                                <label for="" >Date of Joining</label>
                                <input type="date" tabindex="17" placeholder="Date Of Joining" name="c_doj" required="true" tabindex="4" id="True">
                        
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="margin-left">
                    <label for="">Physically Challenged</label>
                    <select name="challenged" id="" required="true" tabindex="18">
                        <option value="" disabled selected></option>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                      
                        
                    </select>
                </div>
              
        </div>
        <!-- <div class="candidate-forms-input-holder" style=" text-align: left;">
            <div class="forms-heading">
                <h3>Organization & Position Details</h3>
                <div class="hr_line">&nbsp;</div>
            </div>
           <div class="margin-left">

           </div>
            

        </div> -->
        {% include 'headings/organization.html' %}
        
        
        <div class="candidate-forms-input-holder">
            <div>
                <label for="" >Company</label>

                <select name="c_entity" id="c_entity" required="true" tabindex="19">
                    <option value="" disabled selected class="empty">Select Company</option>
                    {% if entity_list %}
                        {% for eachentity in entity_list %}
                            <option value="{{ eachentity.pk }}" label="{{ eachentity.entity_name }}">{{ eachentity.entity_name }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="margin-left">
                <label for="">Vendor</label>

                <select name="c_vendor" id="c_vendor" required="true" disabled="true" tabindex="20">
                    <option value="" disabled selected label=" " class="empty">Select vendor</option>

                    {% if vendor_list %}
                        {% for eachvendor in vendor_list %}
                            <option value="{{ eachvendor.pk }}" label="{{ eachvendor.vendor_name }}">{{ eachvendor.fk_entity_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
               
        </div>
        <div class="candidate-forms-input-holder">
            <div >
                <label for="" >Department</label>

                <select name="c_dept" id="c_dept" required="true" disabled="true" tabindex="21">
                    <option value="" disabled selected label=" " class="empty">Select Department</option>

                    {% if department_list %}
                        {% for eachdepartment in department_list %}
                            <option value="{{ eachdepartment.pk }}" label="{{ eachdepartment.department_name }}">{{ eachdepartment.fk_entity_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="margin-left">
                <label for="">Function</label>

                <select name="c_function" id="c_function" required="true" disabled="true" tabindex="22">
                    <option value="" disabled selected label=" " class="empty">Select Function</option>

                    {% if function_list %}
                        {% for eachfunction in function_list %}
                            <option value="{{ eachfunction.pk }}" label="{{ eachfunction.function_name }}">{{ eachfunction.fk_department_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
               
        </div>
        <div class="candidate-forms-input-holder">
            <div>
                <label for="" >Team</label>

                <select name="c_team" id="c_team" required="true"  disabled="true" tabindex="23">
                    <option value="" disabled selected label=" " class="empty">Select Team</option>

                    {% if team_list %}
                        {% for eachteam in team_list %}
                            <option value="{{ eachteam.pk }}" label="{{ eachteam.team_name }}">{{ eachteam.fk_function_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div  class="margin-left">
            <label for="">Sub Team</label>

                <select name="c_subteam" id="c_subteam" required="true" disabled="true" tabindex="24">
                    <option value="" disabled selected label=" " class="empty">Select Sub Team</option>

                    {% if sub_team_list %}
                        {% for eachsubteam in sub_team_list %}
                            <option value="{{ eachsubteam.pk }}" label="{{ eachsubteam.sub_team_name }}">{{ eachsubteam.fk_team_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
                 </div>
                
        </div>
        <div class="candidate-forms-input-holder">
            <div>
                <label for="" >Designation</label>

                <select name="c_desg" id="c_desg" required="true" disabled="true" tabindex="25">
                    <option value="" disabled selected label=" " class="empty">Select Designation</option>

                    {% if designation_list %}
                        {% for eachdesignation in designation_list %}
                            <option value="{{ eachdesignation.pk }}" label="{{ eachdesignation.designation_name }}">{{ eachdesignation.fk_sub_team_code_id }}</option>
                        
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="margin-left">
            <label for="">Region</label>

                <select name="c_region" id="c_region" required="true" disabled="true" tabindex="26">
                    <option value="" disabled selected label=" " class="empty" >Select Region</option>

                    {% if region_list %}
                        {% for eachregion in region_list %}
                            <option value="{{ eachregion.pk }}" label="{{ eachregion.region_name }}">{{ eachregion.fk_entity_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
                
        </div>
        <div class="candidate-forms-input-holder">
            <div>
                <label for="" >State</label>

                <select name="c_state" id="c_state" required="true" disabled="true" tabindex="27">
                    <option value="" disabled selected label=" " class="empty">Select State</option>

                    {% if state_list %}
                        {% for eachstate in state_list %}
                            <option value="{{ eachstate.pk }}" label="{{ eachstate.state_name }}">{{ eachstate.fk_region_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="margin-left">
                <label for="">City</label>

                <select name="c_city" id="c_city" required="true" disabled="true" tabindex="28">
                    <option value="" disabled selected label=" " class="empty">Select City</option>

                    {% if city_list %}
                        {% for eachcity in city_list %}
                            <option value="{{ eachcity.pk }}" label="{{ eachcity.city_name }}">{{ eachcity.fk_state_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
           
        </div>
   
        <div class="candidate-forms-input-holder">
            <div>
                <label for="" >Location</label>

                <select name="c_location" id="c_location" required="true" disabled="true" tabindex="29">
                    <option value="" disabled selected label=" " class="empty">Select Location</option>

                    {% if location_list %}
                        {% for eachlocation in location_list %}
                            <option value="{{ eachlocation.pk }}" label="{{ eachlocation.location_name }}">{{ eachlocation.fk_city_code_id }}</option>
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            <div class="margin-left">
                
            </div>
           
          
        </div>
        {% include 'headings/asset.html' %}
        
            
        <div class="candidate-forms-input-holder">
            <div>
                <label for="">Reporting / Hiring Manager Name</label>
                <input type="text" tabindex="30" placeholder="Reporting Manager" name="c_reporting_manager" id="reporting_manager" required="true" maxlength="50">
            </div  class="margin-left">
            <div>
                <label for="" >Reporting / Hiring Manager Email ID</label>

                <input type="text" pattern="([a-zA-Z0-9_\-\.]+)@udaan.com" tabindex="31" placeholder="Reporting Manager Email ID" name="c_reporting_manager_email" id="reporting_manager_email" required="true">
                <small id="rmemailmsg"></small>
            </div>
            
        
        </div>
        <div class="candidate-forms-input-holder">
            <div>
                <label for="" >Laptop Allocation</label>

                <select name="c_laptop_allocation" id="c_laptop_allocation" required="true" tabindex="32">
                    <option value="" disabled selected>Laptop Allocation</option>
                    {% if laptop_allocation_list %}
                        {% for eachlaptop_allocation in laptop_allocation_list %}
                            <option value="{{ eachlaptop_allocation.pk }}" label="{{ eachlaptop_allocation.option_name }}">{{ eachlaptop_allocation.option_name }}</option>
                        {% endfor %}                
                    {% endif %}                    
                </select>
            </div>
            <div class="margin-left">
                <label for="">Email ID Creation</label>

                <select name="c_email_creation" id="c_email_creation" required="true" tabindex="33">
                    <option value="" disabled selected>Email ID Creation</option>
                    <option value="Yes" >Yes</option>
                    <option value="No" >No</option>                    
                </select>
                
            </div>
            
          
        </div>
        <div class="candidate-forms-input-holder">
            <div>
                <label for="">Salary Type</label>
                <select name="c_salary_type" id="c_salary_type" required="true" tabindex="34">
                    <option value="" disabled selected>Select Salary Type</option>
                    {% if salary_type_list %}
                        {% for eachsalary_type in salary_type_list %}
                            <option value="{{ eachsalary_type.pk }}" label="{{ eachsalary_type.salary_type_name }}">{{ eachsalary_type.salary_type_name }}</option>
                        {% endfor %}                
                    {% endif %}                   
                </select>
                
            </div>
            <div class="margin-left">
                <label for="" >Monthly Gross Salary (Fixed Salary + Variable [If Any])</label>
                <input type="number" title="Monthly Gross Salary" tabindex="35" placeholder="Gross Salary Amount" name="c_gross_salary" id="c_salary" required="true" maxlength="10" minlength="1"  max="100000">
                <span id="wage_result" style="color: #bf0711;"></span>
            </div>
        </div>
              
    </div>

    <div class="candidate_form_footer">

        <!-- <button class="forms-save-btn" style="width: auto;" onclick="showDelete('salary_structure')">Show Salary Structure</button> -->
        <a href="{% url 'csp_app:candidate' %}" class="delete-forms-close-btn">Cancel</a>
        <button id="calculate" title="Please Fill Out All The Fields" disabled="true" class="forms-save-btn" formaction="{% url 'csp_app:create_candidate' %}" type="submit" style="width: auto;">Show Salary Structure</button>
    </form>
    <div>
        <small id="detailsmsg"></small>    
    
     </div> 
    </div>
      

        <input type="hidden" id="name">
        <input type="hidden" id="phone_no">
        <input type="hidden" id="spocemail">
    </div>

    <div id="salary_structure" class="form_modal" style="padding-top: 2%;">
        <div class="form_header">
            <div class="forms-heading">
                <h2>Salary Salary Structure</h2>
            </div>
        </div>
        <div class="form_content" style="height: 72vh;">
            
            <table>
                <thead>
                    <tr>
                        <th>Particulars</th>
                        <th>Monthly</th>
                        <th>Annual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Basic</td>
                        <td><input type="text" name="" id="basic" readonly></td>
                    </tr>
                    <tr>
                        <td>House Rent Allowance</td>
                        <td><input type="text" name="" id="hra" readonly></td>
                    </tr>
                    <tr>
                        <td>Statutory Bonus</td>
                        <td ><input type="text" name="" id="sb" readonly></td>
                    </tr>
                    <tr>
                        <td>Special Allowance</td>
                        <td ><input type="text" name="" id="sa" readonly></td>
                    </tr>
                    <tr>
                        <td>Gross Salary</td>
                        <td ><input type="text" name="" id="gs" readonly></td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <th>Particulars</th>
                        <th>Monthly</th>
                        <th>Annual</th>
                    </tr>
                </thead>
                <tbody>
                    {% if s_particulars %}
                        {% for eachp in s_particulars %}
                            <tr>
                                <td>{{ eachp.particulars }}</td>
                                <td id="">0.0</td>
                                <td>0.0</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

            <div class="forms-heading">
                <h2>Employee Contributions</h2>
            </div> 
            <table>
                <thead>
                    <tr>
                        <th>Particulars</th>
                        <th>Monthly</th>
                        <th>Annual</th>
                    </tr>
                </thead>
                <tbody>
                    {% if e_particulars %}
                        {% for eachp in e_particulars %}
                            <tr>
                                <td>{{ eachp.particulars }}</td>
                                <td>0.0</td>
                                <td>0.0</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

            <div class="forms-heading">
                <h2>Employer Contributions</h2>
            </div> 
            <table>
                <thead>
                    <tr>
                        <th>Particulars</th>
                        <th>Monthly</th>
                        <th>Annual</th>
                    </tr>
                </thead>
                <tbody>
                    {% if er_particulars %}
                        {% for eachp in er_particulars %}
                            <tr>
                                <td>{{ eachp.particulars }}</td>
                                <td>0.0</td>
                                <td>0.0</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="form_footer">
                <button id="close_delete" class="delete-forms-close-btn">Cancel</button>        
                <button class="forms-save-btn" formaction="{% url 'csp_app:create_candidate' %}" type="submit">Save Candidate</button>
            </form>
        </div>
    </div>

    <script src="{% static 'csp_app/js/candidateajax.js' %}"></script>

<script src="{% static 'csp_app/js/candidatedropdowns.js' %}"></script>

<script src="{% static 'csp_app/js/candidatedom.js' %}"></script>

<script>
    function showDelete(formid){
        document.getElementById(formid).style.display = "block";
        console.log(document.getElementById('crumbs').style.zIndex = 0);
    }
</script>

    
  {% endblock %}
