{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} Pending Requests {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:candidate' %}" class="tab-btns"> Candidates</a>   
        <a href="{% url 'csp_app:pending_request' %}" class="tab-btns active-tab">Pending Requests <button disabled id="request_count" >{{ count }}</button> </a>   
        {% if request.user.groups.all %}
        {% for eachgroup in request.user.groups.all %}
           
            {% if eachgroup.name == 'Admin' or eachgroup.name == 'Onboarding SPOC' %}
                <a href="{% url 'csp_app:future_joining_request' %}" class="tab-btns">Future Joining Requests <button disabled id="request_count" >{{ dojcount }}</button> </a>   
                <a href="{% url 'csp_app:approved_candidates' %}" class="tab-btns">Approved Candidates</button> </a>   

            {% endif %}
        {% endfor %}
        {% endif %}
    </div>


{% endblock %}

{% block tabcontentblock %}


<div class="table-container">

    <table id="pending-candidate-table" class="dataTable">
        <thead>
            <tr>
                <th>Candidate ID</th>
                <th>Candidate Name</th>
                <th>Phone Number</th>
                <th>Email ID</th>
                <th>Designation</th>
                <th>Vendor</th>
                <th>Onboarding Status</th>
                <th>Vendor Status</th>
            </tr>
        </thead>
        <tbody>
            {% if request.user.groups.all %}
                {% for eachgroup in request.user.groups.all %}
                    {% if eachgroup.name == 'Onboarding SPOC' %}
                        {% if pending_candidate_list %}
                            {% for eachcandidate in pending_candidate_list %}                   
                                <tr>
                                    <td class="action-col"><a href="{% url 'csp_app:process_request' eachcandidate.pk %}">{{ eachcandidate.pk }}</a></td>
                                    <td class="action-col" style="text-align: left;">
                                        {{ eachcandidate.First_Name }} {{ eachcandidate.Middle_Name }} {{ eachcandidate.Last_Name }}    
                                    </td>
                                    <td style="text-align: center;">{{ eachcandidate.Personal_Email_Id }}</td>
                                    <td style="text-align: center;">{{ eachcandidate.Contact_Number }}</td>
                                    <td>{{ eachcandidate.fk_designation_code }}</td>
                                    <td>{{ eachcandidate.fk_vendor_code }}</td>
                                    <td class="action-col">{{ eachcandidate.onboarding_status }}</td>
                                    <td class="action-col">{{ eachcandidate.vendor_status }}</td>
                                </tr>

                            {% endfor %} 
                        {% else %}
                            {% for eachcandidate in pending_candidate_lis %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% endif %}   
                    {% else %}
                        {% if pending_candidate_list %}
                            {% for eachcandidate in pending_candidate_list %}        
                                    
                                <tr>
                                    <td class="action-col"><a href="{% url 'csp_app:process_request' eachcandidate.pk %}">{{ eachcandidate.pk }}</a></td>
                                    <td class="action-col" style="text-align: left;">
                                        {{ eachcandidate.First_Name }} {{ eachcandidate.Middle_Name }} {{ eachcandidate.Last_Name }}    
                                    </td>
                                    <td style="text-align: center;">{{ eachcandidate.Personal_Email_Id }}</td>
                                    <td style="text-align: center;">{{ eachcandidate.Contact_Number }}</td>
                                    <td>{{ eachcandidate.fk_designation_code }}</td>
                                    <td>{{ eachcandidate.fk_vendor_code }}</td>
                                    <td class="action-col">{{ eachcandidate.onboarding_status }}</td>
                                    <td class="action-col">{{ eachcandidate.vendor_status }}</td>
                                </tr>
                           
                            {% endfor %} 
                        {% else %}
            
                            {% for eachcandidate in pending_candidate_lis %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}                   
                        {% endif %}

                    {% endif %}            
                
                {% endfor %}
            {% endif %}
                    
        </tbody>   
    </table>

</div>
        
    


<script type="text/javascript">
    function hidediv(){
                $( '#alerts' ).removeClass( 'animate__animated animate__slideOutRight animate__fast' ).show().addClass( 'animate__animated animate__slideInRight animate__fast' );

                $( '#alerts' ).removeClass( 'animate__animated animate__slideInRight animate__fast' ).addClass( 'animate__animated animate__slideOutRight animate__fast' );
            }
    setTimeout("hidediv()", 2000);    
</script>
{% endblock %}
