{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% load humanize %} 
{% block titleblock %} New Candidate {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:candidate' %}" class="tab-btns active-tab"> Candidates</a>   
    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="crumbs" id="crumbs" style="z-index: 0;"><span><a href="{% url 'csp_app:candidate' %}">Candidates</a></span>
    <span><i class="fas fa-chevron-right"></i></span>
    <span style="color: dimgray;">New Candidate</span>
</div>
<div class="candidate_form">
    <div class="candidate_form_header">
        <div class="forms-heading">
            <h2>Create New Candidate</h2>
        </div>
        <div class="hr_line" style="margin-bottom: 10px;">&nbsp;</div>
     
    </div>
    <div class="candidate_form_content">
        <form method="POST" autocomplete="off" id="new-candidate">
            {% csrf_token %}
            <div class="candidate-forms-input-holder">
                <div>
                <label class="move-out" for="c_firstname">First Name</label>

                <input class="input-text" value="{{ dummy.First_Name }}" type="text" maxlength="30" placeholder="First Name" name="c_firstname" id="c_firstname" required="true" autocapitalize="on" autofocus="true" tabindex="1"  >
                </div>
                <div class="margin-left">
                    <label for="">Middle Name</label>
                    <input type="text" value="{{ dummy.Middle_Name }}" maxlength="30" placeholder="Middle Name" name="c_middlename" id="c_middlename" autocapitalize="on" tabindex="2">
                </div>
            </div>
            <div class="candidate-forms-input-holder">
                <div>
                <label for="">Last Name</label>
                <input type="text" maxlength="30" value="{{ dummy.Last_Name }}" placeholder="Last Name" name="c_lastname" id="c_lastname" autocapitalize="on" tabindex="3">
            
                </div>
                <div class="margin-left">
                    <label for="" >Candidate Date of Birth</label>
                    <input type="date" value="{{ dummy.Date_of_Birth }}" placeholder="Date Of Birth" name="c_dob" id="c_dob" required="true" tabindex="4" >
                </div>
            </div>
            <div class="candidate-forms-input-holder">
                <div> 
                <label for="">Contact Number</label>
                <input type="text" value="{{ dummy.Contact_Number }}" tabindex="5" placeholder="Contact Number" name="c_contact" id="c_contact" required="true" pattern="[6-9]{1}[0-9]{9}" minlength="10" maxlength="10" >
                <small id="contactmsg"></small>        
                </div>
                <div class="margin-left">
                <label for="" >Emergency Number</label>
                <input type="text" value="{{ dummy.Emergency_Contact_Number }}" tabindex="6" placeholder="Emergency Contact Number" name="c_emergency" id="c_emergency" title="Emergency No. Cannot Be Same As Contact No." required="true" pattern="[6-9]{1}[0-9]{9}" minlength="10" maxlength="10">
                <span id='message'></span>
            </div>
            </div>
            <div class="candidate-forms-input-holder">
                <div>
                <label for="">Email ID</label>
                <input type="text" pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,6})" value="{{ dummy.Personal_Email_Id }}" tabindex="7" name="c_email" id="email" placeholder="Email Id">
                <small id="emailmsg"></small>    
                </div>
                <div class="margin-left">
                <label for="" >Gender</label>

                <select name="c_gender" id="c_gender" required="true" tabindex="8">
                    <option value="{{ dummy.Gender_id }}" label="{{ dummy.Gender }}" selected>{{ dummy.Gender }}</option>

                    {% if gender_list %}
                        {% for eachgender in gender_list %}                            
                            {% if eachgender.pk != dummy.Gender_id %}
                                <option value="{{ eachgender.pk }}" label="{{ eachgender.gender_name }}">{{ eachgender.gender_name }}</option>
                            {% endif %}
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
            </div>
           
            <div class="candidate-forms-input-holder">
                <div>
                <label for="">Father Name</label>
                <input type="text" value="{{ dummy.Father_Name }}" tabindex="9" placeholder="Father Name" name="c_fathername" id="c_fathername" required="true" tabindex="4">
                 </div>
                <div class="margin-left">
                <label for="" >Mother</label>
                <input type="text" value="{{ dummy.Mother_Name }}" tabindex="10" placeholder="Mother Name" name="c_mothername" id="c_mothername" required="true"  >
       
                </div>
            </div>
            
               <div class="candidate-forms-input-holder">
                <div>
                <label for="">Aadhaar Number</label>
                <input type="text" value="{{ dummy.Aadhaar_Number }}" tabindex="11" placeholder="Aadhaar Number" name="c_aadhaar" id="c_aadhaar" required="true" maxlength="12" minlength="12" pattern="[0-9]{12}">
                <small id="adhaarmsg"></small>    
                </div>
                <div class="margin-left">
                <label for="" >PAN Number</label>
                <input type="text" value="{{ dummy.PAN_Number }}" tabindex="12" placeholder="PAN Number" name="c_pan" id="c_pan" required="true" pattern="[A-Z]{3}[P]{1}[A-Z]{1}[0-9]{4}[A-Z]{1}" minlength="10" maxlength="10">
                <small id="panmsg"></small>    
            </div>
        </div>
            <div class="candidate-forms-input-holder">
                <div>               
                <label for="">Type Of Hiring</label>
                <select name="c_hiring_type" id="hiring" tabindex="13" >
                    <option value="{{ dummy.Type_of_Hiring_id }}" selected label="{{ dummy.Type_of_Hiring }}">{{ dummy.Type_of_Hiring }}</option>
                    {% if hiring_type_list %}
                        {% for eachhiring_type in hiring_type_list %}
                            {% if eachhiring_type.pk !=  dummy.Type_of_Hiring_id %}
                                <option value="{{ eachhiring_type.pk }}" label="{{ eachhiring_type.hiring_type_name }}">{{ eachhiring_type.hiring_type_name }}</option>
                            {% endif %}
                        {% endfor %}                
                    {% endif %}
                </select>
                 </div>
                <div class="margin-left">
                    <label for="">Replacement UID </label>
                    <input type="text" value="{{ dummy.Replacement }}" tabindex="14" placeholder="Replacement UID" name="c_replacement" id="c_replacement" pattern="[U]{1}[0-9]{2,5}" maxlength="6" autocapitalize="on">
                </div>
                
        </div>

        <div class="candidate-forms-input-holder">
             
                 <div>
                    <label for="">Sub Source</label>
                    <select name="c_sub_source" id="referral" tabindex="15" >
                        <option value="{{ dummy.Sub_Source_id }}" label="{{ dummy.Sub_Source }}" selected>{{ dummy.Sub_Source }}</option>
                        {% if sub_source_list %}
                            {% for eachsub_source in sub_source_list %}
                                {% if eachsub_source.pk != dummy.Sub_Source_id %}
                                <option value="{{ eachsub_source.pk }}" label="{{ eachsub_source.sub_source_name }}">{{ eachsub_source.sub_source_name }}</option>
                                {% endif %}                       
                            {% endfor %}                
                        {% endif %}
                    </select>
                     </div>
                <div class="margin-left">
                <label for="" >Referal UID</label>
                <input type="text" value="{{ dummy.Referral }}" tabindex="16" placeholder="Referral" name="c_referral" id="c_referral" pattern="[U]{1}[0-9]{2,5}" maxlength="6" autocapitalize="on">
          
            </div>
        </div>
        <div class="candidate-forms-input-holder">
                
                 <div >
                    <label for="" >Date of Joining</label>
                    <input type="date" value="{{ dummy.Date_of_Joining|date:'Y-m-d' }}" tabindex="17" placeholder="Date Of Joining" name="c_doj" required="true" tabindex="4" id="{{ request.user.is_staff }}">
               
                </div>
                <div class="margin-left">
                <label for="" >Company</label>

                <select name="c_entity" id="c_entity" required="true" tabindex="18">
                    <option value="{{ dummy.fk_entity_code_id }}" label="{{ dummy.fk_entity_code }}" selected>{{dummy.fk_entity_code}}</option>
                    {% if entity_list %}
                        {% for eachentity in entity_list %}
                            {% if eachentity.pk != dummy.fk_entity_code_id %}
                                <option value="{{ eachentity.pk }}" label="{{ eachentity.entity_name }}">{{ eachentity.entity_name }}</option>
                            {% endif %}                        
                        {% endfor %}                
                    {% endif %}
                </select>
            </div>
        </div>

            <div class="candidate-forms-input-holder">
                <div>
                    <label for="">Vendor</label>

                    <select name="c_vendor" id="c_vendor" required="true"   tabindex="19">
                        <option value="{{ dummy.fk_vendor_code_id }}" label="{{ dummy.fk_vendor_code }}" selected>{{dummy.fk_vendor_code}}</option>

                        <option value="" label="" class="empty">Select Vendor</option>

                        {% if vendor_list %}
                            {% for eachvendor in vendor_list %}
                            {% if eachvendor.pk != dummy.fk_vendor_code_id %}

                                <option value="{{ eachvendor.pk }}" label="{{ eachvendor.vendor_name }}">{{ eachvendor.fk_entity_code_id }}</option>
                        {% endif %}
                            
                                {% endfor %}                
                        {% endif %}
                    </select>
                 </div>
                <div class="margin-left">
                <label for="" >Department</label>

                <select name="c_dept" id="c_dept" required="true"   tabindex="20">
                    <option value="{{ dummy.fk_department_code_id }}" label="{{ dummy.fk_department_code }}" selected>{{dummy.fk_department_code}}</option>

                    <option value="" label="" class="empty">Select Department</option>

                    {% if department_list %}
                        {% for eachdepartment in department_list %}
                        {% if eachdepartment.pk != dummy.fk_department_code_id %}

                            <option value="{{ eachdepartment.pk }}" label="{{ eachdepartment.department_name }}">{{ eachdepartment.fk_entity_code_id }}</option>
                            {% endif %}                
                        
                            {% endfor %}                
                    {% endif %}
                </select>
            </div>
        </div>
               <div class="candidate-forms-input-holder">
                <div>
            <label for="">Function</label>

                <select name="c_function" id="c_function" required="true"   tabindex="21">
                    <option value="{{ dummy.fk_function_code_id }}" label="{{ dummy.fk_function_code }}" selected>{{ dummy.fk_function_code.fk_department_code_id }}</option>
                    <option value="" label="" class="empty">Select Function</option>

                    {% if function_list %}
                        {% for eachfunction in function_list %}
                        {% if eachfunction.pk != dummy.fk_function_code_id %}

                            <option value="{{ eachfunction.pk }}" label="{{ eachfunction.function_name }}">{{ eachfunction.fk_department_code_id }}</option>
                    {% endif %}
                        
                            {% endfor %}                
                    {% endif %}
                </select>
                 </div>
                <div class="margin-left">
                <label for="" >Team</label>

                <select name="c_team" id="c_team" required="true"    tabindex="22">
                    <option value="{{ dummy.fk_team_code_id }}" label="{{ dummy.fk_team_code }}" selected>{{ dummy.fk_team_code.fk_function_code_id }}</option>
                    <option value="" label="" class="empty">Select Team</option>

                    {% if team_list %}
                        {% for eachteam in team_list %}
                        {% if eachteam.pk != dummy.fk_team_code_id %}

                            <option value="{{ eachteam.pk }}" label="{{ eachteam.team_name }}">{{ eachteam.fk_function_code_id }}</option>
                    {% endif %}
                        
                            {% endfor %}                
                    {% endif %}
                </select>
            </div>
        </div>
               <div class="candidate-forms-input-holder">
                <div>
            <label for="">Sub Team</label>

                <select name="c_subteam" id="c_subteam" required="true"   tabindex="23">
                    <option value="{{ dummy.fk_subteam_code_id }}" label="{{ dummy.fk_subteam_code }}" selected>{{ dummy.fk_subteam_code.fk_team_code_id }}</option>
                    <option value="" label="" class="empty">Select Sub Team</option>

                    {% if sub_team_list %}
                        {% for eachsubteam in sub_team_list %}
                        {% if eachsubteam.pk != dummy.fk_subteam_code_id %}

                            <option value="{{ eachsubteam.pk }}" label="{{ eachsubteam.sub_team_name }}">{{ eachsubteam.fk_team_code_id }}</option>
                    {% endif %}
                        
                            {% endfor %}                
                    {% endif %}
                </select>
                 </div>
                <div class="margin-left">
                <label for="" >Designation</label>

                <select name="c_desg" id="c_desg" required="true"   tabindex="24">
                    <option value="{{ dummy.fk_designation_code_id }}" label="{{ dummy.fk_designation_code }}" selected>{{ dummy.fk_designation_code.fk_sub_team_code_id }}</option>
                    <option value="" label="" class="empty">Select Designation</option>

                    {% if designation_list %}
                        {% for eachdesignation in designation_list %}
                        {% if eachdesignation.pk != dummy.fk_designation_code_id %}

                        <option value="{{ eachdesignation.pk }}" label="{{ eachdesignation.designation_name }}">{{ eachdesignation.fk_sub_team_code_id }}</option>
                        {% endif %}
                        
                            {% endfor %}                
                    {% endif %}
                </select>
            </div>
        </div>
               <div class="candidate-forms-input-holder">
                <div>
            <label for="">Region</label>

                <select name="c_region" id="c_region" required="true"   tabindex="25">
                    <option value="{{ dummy.fk_region_code_id }}" label="{{ dummy.fk_region_code }}" selected>{{ dummy.fk_region_code.fk_entity_code_id }}</option>

                    <option value="" label="" class="empty">Select Region</option>

                    {% if region_list %}
                        {% for eachregion in region_list %}
                        {% if eachregion.pk != dummy.fk_region_code_id %}

                            <option value="{{ eachregion.pk }}" label="{{ eachregion.region_name }}">{{ eachregion.fk_entity_code_id }}</option>
                    {% endif %}
                       
                            {% endfor %}                
                    {% endif %}
                </select>
                 </div>
                <div class="margin-left">
                <label for="" >State</label>

                <select name="c_state" id="c_state" required="true" tabindex="26">
                    <option value="{{ dummy.fk_state_code_id }}" label="{{ dummy.fk_state_code }}" selected>{{ dummy.fk_state_code.fk_region_code_id }}</option>

                    <option value="" label="" class="empty">Select State</option>

                    {% if state_list %}
                        {% for eachstate in state_list %}
                        {% if eachstate.pk != dummy.fk_state_code_id %}

                            <option value="{{ eachstate.pk }}" label="{{ eachstate.state_name }}">{{ eachstate.fk_region_code_id }}</option>
                    {% endif %}
                       
                            {% endfor %}                
                    {% endif %}
                </select>
            </div>
        </div>
               <div class="candidate-forms-input-holder">
                <div>
            <label for="">City</label>

                <select name="c_city" id="c_city" required="true"   tabindex="27">
                    <option value="{{ dummy.fk_city_code_id }}" label="{{ dummy.fk_city_code }}" selected>{{ dummy.fk_city_code.fk_state_code_id }}</option>

                    <option value="" label="" class="empty">Select City</option>

                    {% if city_list %}
                        {% for eachcity in city_list %}
                        {% if eachcity.pk != dummy.fk_city_code_id %}

                            <option value="{{ eachcity.pk }}" label="{{ eachcity.city_name }}">{{ eachcity.fk_state_code_id }}</option>
                    {% endif %}
                        
                            {% endfor %}                
                    {% endif %}
                </select>
                 </div>
                <div class="margin-left">
                <label for="" >Location</label>

                <select name="c_location" id="c_location" required="true"   tabindex="28">
                    <option value="{{ dummy.fk_location_code_id }}" label="{{ dummy.fk_location_code }}" selected>{{ dummy.fk_location_code.fk_city_code_id }}</option>

                    <option value="" label="" class="empty">Select Location</option>

                    {% if location_list %}
                        {% for eachlocation in location_list %}
                        {% if eachlocation.pk != dummy.fk_location_code_id %}

                            <option value="{{ eachlocation.pk }}" label="{{ eachlocation.location_name }}">{{ eachlocation.fk_city_code_id }}</option>
                    {% endif %}
                        
                            {% endfor %}                
                    {% endif %}
                </select>
            </div>
        </div>
        <!-- <div class="candidate-forms-input-holder">
            <div>
                <label for="" >TA SPOC Email ID</label>
                <input type="email" placeholder="TA SPOC Email ID" name="c_ta_spoc" id="c_ta_spoc" required="true" tabindex="29">
            </div>
            <div class="margin-left">
                <label for="" >Onboarding SPOC Email ID</label>
                <input type="email" tabindex="30" placeholder="Onboarding SPOC Email ID" name="c_onboarding_spoc" id="c_onboarding_spoc" required="true">         
            </div>
        </div> -->
        <div class="candidate-forms-input-holder">
            <div>
                <label for="">Reporting / Hiring Manager Name</label>
                <input type="text" value="{{ dummy.Reporting_Manager }}" tabindex="31" placeholder="Reporting Manager" name="c_reporting_manager" id="reporting_manager" required="true" autocapitalize="on">
                 </div>
                <div class="margin-left">
                <label for="" >Reporting / Hiring Manager Email ID</label>

                <input type="text" pattern="([a-zA-Z0-9_\-\.]+)@udaan.com" value="{{ dummy.Reporting_Manager_E_Mail_ID }}" tabindex="32" placeholder="Reporting Manager Email ID" name="c_reporting_manager_email" id="reporting_manager_email" required="true">
                <small id="rmemailmsg"></small>
                
            </div>
        </div>
            
               <div class="candidate-forms-input-holder">
                <div>
            <label for="">Email ID Creation</label>

                <select name="c_email_creation" id="c_email_creation" required="true" tabindex="33">
                    <option value="{{ dummy.E_Mail_ID_Creation }}" label="{{ dummy.E_Mail_ID_Creation }}" selected>{{ dummy.E_Mail_ID_Creation }}</option>
                    <option value="Yes" >Yes</option>
                    <option value="No" >No</option>                    
                </select>
                 </div>
                <div class="margin-left">
                <label for="" >Laptop Allocation</label>

                <select name="c_laptop_allocation" id="c_laptop_allocation" required="true" tabindex="34">
                    <option value="{{ dummy.Laptop_Allocation_id }}" label="{{ dummy.Laptop_Allocation }}" selected>{{ dummy.Laptop_Allocation }}</option>
                    {% if laptop_allocation_list %}
                        {% for eachlaptop_allocation in laptop_allocation_list %}
                        {% if eachlaptop_allocation.pk != dummy.Laptop_Allocation_id %}

                            <option value="{{ eachlaptop_allocation.pk }}" label="{{ eachlaptop_allocation.option_name }}">{{ eachlaptop_allocation.option_name }}</option>
                    {% endif %}                    
                       
                            {% endfor %}                
                    {% endif %}                     
                </select>
            </div>
        </div>
               <div class="candidate-forms-input-holder">
                <div>
                    <label for="">Salary Type</label>
                    <select name="c_salary_type" id="c_salary_type" required="true" tabindex="35">
                        <option value="{{ dummy.Salary_Type_id }}" label="{{ dummy.Salary_Type }}" selected>{{ dummy.Salary_Type }}</option>

                        {% if salary_type_list %}
                            {% for eachsalary_type in salary_type_list %}
                            {% if eachsalary_type.pk != dummy.Salary_Type_id %}
    
                                <option value="{{ eachsalary_type.pk }}" label="{{ eachsalary_type.salary_type_name }}">{{ eachsalary_type.salary_type_name }}</option>
                        {% endif %}                   
                           
                                {% endfor %}                
                        {% endif %}                                   
                    </select>
                </div>
                <div class="margin-left">
                <label for="" >Monthly Gross Salary (Fixed Salary + Variable [If Any])</label>
                <input type="number" value="{{ dummy.Gross_Salary_Amount }}" tabindex="36" placeholder="Gross Salary Amount" name="c_gross_salary" id="c_salary" required="true" maxlength="10" minlength="1" max="100000">
                <span id="wage_result" style="color: #bf0711;"></span>
            </div>
        </div>

              
    </div>
    <div class="candidate_form_footer">
        <a href="{% url 'csp_app:candidate' %}" class="delete-forms-close-btn">Cancel</a>
        <button class="forms-save-btn" id="calculate" title="Please Fill Out All The Fields" style="width: auto;" onclick="showDelete('salary_structure')">Show Salary Structure</button>
 
            <!-- <button class="forms-save-btn" formaction="{% url 'csp_app:create_candidate' %}" type="submit">Save Candidate</button>
    </form> -->
    <div>
        <small id="detailsmsg"></small> 

    </div>
    </div>
       

        <input type="hidden" id="name">
        <input type="hidden" id="phone_no">
        <input type="hidden" id="spocemail">
    </div>

    <div id="salary_structure" class="form_modal" style="padding-top: 2%;display: block;">
        
               
        <div class="form_header" style="width: 80vw;background: #fff;">
            <div class="forms-heading" style="background: #fff;">
                <h2>Candidate Salary Structure</h2>
                
            </div>
            <div class="hr_line" style="margin-bottom: 10px;">&nbsp;</div>
        </div>
        <div class="form_content" id="s-wrapper" style="width: 80vw;">
            
            <div class="ss canvas_div_pdf"> 
                <div>
                    <div style="font-size: 16px;"> <strong> Name : </strong> {{ dummy.First_Name }} {{ dummy.Middle_Name }} {{ dummy.Last_Name }}</div> 
                    <div style="font-size: 16px;"><strong> Email : </strong> {{ dummy.Personal_Email_Id}} </div> 
                    <div style="font-size: 16px;"><strong>  Phone : </strong> {{ dummy.Contact_Number }}</div>
                </div>
        
                <div class="salary-heading-one">
                    <h3>Salary Structure</h3>
                </div>

                <table class="ss-table">
                    <thead>
                        <tr class="ss-table-heading-one">
                            <th>Particulars</th>
                            <th>Monthly</th>
                            <th>Annual</th>
                        </tr>
                    </thead>
                    {% if fs != '₹0.00' %}
                        <tbody>
                            {% if basic != '₹0.00' %}
                            <tr>
                                <td>Basic</td>
                                <td><input type="text" name="basic"  readonly value="{{ basic  }}"></td>
                                <td><input type="text" name="annualbasic" value=" {{ annualbasic   }}" readonly></td>
                            </tr>
                            {% endif %}
                            {% if hra != '₹0.00' %}
                            <tr>
                                <td>House Rent Allowance</td>
                                <td><input type="text" name="hra"  readonly value="{{ hra   }}"></td>
                                <td><input type="text" name="annualhra"  readonly value="{{ annualhra   }}"></td>
                            </tr>
                            {% endif %}
                            {% if sb != '₹0.00' %}
                            <tr>
                                <td>Statutory Bonus</td>
                                <td ><input type="text" name="sb"  readonly value="{{ sb }}"></td>
                                <td><input type="text" name="annualsb"  readonly value="{{ annualsb }}"></td>
                            </tr>
                            {% endif %}
                            {% if sa != '₹0.00' %}
                            
                            <tr>
                                <td>Special Allowance</td>
                                <td ><input type="text" name="sa"  readonly value="{{ sa }}"></td>
                                <td><input type="text" name="annualsa"  readonly value="{{ annualsa }}"></td>
                            </tr>
                            {% endif %}
                            
                            {% if fs != '₹0.00' %}
                            <tr class="ss-table-fixed-salary">
                                <td>Fixed Salary (A)</td>
                                <td ><input type="text" name="fs"  readonly value="{{ fs   }}"></td>
                                <td><input type="text" name="annualfs"  readonly value="{{ annual_fs   }}"></td>
                            </tr>
                            
                            <tr class="ss-table-variable">
                                <td>Variable (B)</td>
                                <td ><input type="text" name="var"  readonly value="{{ variable   }}"></td>
                                <td><input type="text" name="annualvar"  readonly value="{{ annual_var   }}"></td>
                            </tr>
                            {% endif %}
                            {% if gross_salary != '₹0.00' %}
                            <tr class="ss-table-total-one">
                                <td>Gross Salary (C) = (A + B)</td>
                                <td ><input type="text" name="gs"  readonly value="{{ gross_salary   }}"></td>
                                <td><input type="text" name="annualgs"  readonly value="{{ annualgs   }}"></td>
                            </tr>
                            {% endif %}
                            
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr class="salary-heading-two">
                                <td colspan="3" style="text-align: center;"><h3>Employee Contributions</h3></td>
                            </tr>
                            <tr class="ss-table-heading-two">
                                <th>Particulars</th>
                                <th>Monthly</th>
                                <th>Annual</th>
                            </tr>
                            {% if epf != '₹0.00' %}
                            <tr>
                                <td>Employee PF</td>
                                <td><input type="text" name="epf"  readonly value="{{ epf   }}"></td>
                                <td><input type="text" name="annualepf"  readonly value="{{ annualepf   }}"></td>
                            </tr>
                            {% endif %}
                            {% if esic != '₹0.00' %}
                            <tr>
                                <td>Employee ESIC</td>
                                <td><input type="text" name="esic"  readonly value="{{ esic   }}"></td>
                                <td><input type="text" name="annualesic"  readonly value="{{ annualesic   }}"></td>
                            </tr>
                            {% endif %}
                            {% if td != '₹0.00' %}
                            <tr class="ss-table-total-three1">
                                <td>Total Contribution (D) </td>
                                <td ><input type="text" name="tc"  readonly value="{{ td   }}"></td>
                                <td><input type="text" name="annualtc"  readonly value="{{ annualtd   }}"></td>
                            </tr>
                            {% endif %}
                            {% if ths != '₹0.00' %}
                                                    
                            <tr class="ss-table-total-two">
                                <td>Take Home Salary (E) = (A - D) </td>
                                <td ><input type="text" name="ths"  readonly value="{{ ths   }}"></td>
                                <td><input type="text" name="annualths"  readonly value="{{ annualths   }}"></td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr class="salary-heading-three">
                                <td colspan="3" style="text-align: center;"><h3>Employer Contributions</h3></td>
                            </tr>
                            <tr class="ss-table-heading-three">
                                <th>Particulars</th>
                                <th>Monthly</th>
                                <th>Annual</th>
                            </tr>
                            {% if erpf != '₹0.00' %}
                            <tr>
                                <td>Employer PF</td>
                                <td><input type="text" name="erpf"  readonly value="{{ erpf   }}"></td>
                                <td><input type="text" name="annualerpf"  readonly value="{{ annualerpf   }}"></td>
                            </tr>
                            {% endif %}
                            {% if erpf_admin != '₹0.00' %}
                            <tr>
                                <td>Employer PF Admin</td>
                                <td><input type="text" name="erpfadmin"  readonly value="{{ erpf_admin   }}"></td>
                                <td><input type="text" name="annualerpfadmin"  readonly value="{{ annualerpf_admin   }}"></td>
                            </tr>
                            {% endif %}
                            {% if ersic != '₹0.00' %}
                            <tr>
                                <td>Employer ESIC</td>
                                <td><input type="text" name="ersic"  readonly value="{{ ersic   }}"></td>
                                <td><input type="text" name="annualersic"  readonly value="{{ annualersic   }}"></td>
                            </tr>
                            {% endif %}
                            {% if gpa != '₹0.00' %}
                            <tr>
                                <td>Group Personal Accident</td>
                                <td ><input type="text" name="gpa"  readonly value="{{ gpa   }}"></td>
                                <td><input type="text" name="annualgpa"  readonly value="{{ annualgpa   }}"></td>
                            </tr>
                            {% endif %}
                            {% if gmi != '₹0.00' %}
    
                            <tr>
                                <td>Group Mediclaim Insurance</td>
                                <td ><input type="text" name="gmi"  readonly value="{{ gmi   }}"></td>
                                <td><input type="text" name="annualgmi"  readonly value="{{ annualgmi   }}"></td>
                            </tr>
                            {% endif %}
                            {% if tec != '₹0.00' %}
                            <tr class="ss-table-total-three">
                                <td>Total Employer Contribution (F) </td>
                                <td ><input type="text" name="tec"  readonly value="{{ tec   }}"></td>
                                <td><input type="text" name="annualtec"  readonly value="{{ annual_tec   }}"></td>
                            </tr>
                            {% endif %}
                            {% if ctc != '₹0.00' %}
                            <tr class="ctc-row">
                                <td>Cost To Company (CTC) (G) = (C + F)</td>
                                <td ><input type="text" name="ctc"  readonly value="{{ ctc   }}"></td>
                                <td><input type="text" name="annualctc"  readonly value="{{ annual_ctc   }}"></td>                            
                            </tr>
                            {% endif %}
                            
                        </tbody>
                    {% else %}
                        <tbody>
                            {% if basic != '₹0.00' %}
                            <tr>
                                <td>Basic</td>
                                <td><input type="text" name="basic"  readonly value="{{ basic  }}"></td>
                                <td><input type="text" name="annualbasic" value=" {{ annualbasic   }}" readonly></td>
                            </tr>
                            {% endif %}
                            {% if hra != '₹0.00' %}
                            <tr>
                                <td>House Rent Allowance</td>
                                <td><input type="text" name="hra"  readonly value="{{ hra   }}"></td>
                                <td><input type="text" name="annualhra"  readonly value="{{ annualhra   }}"></td>
                            </tr>
                            {% endif %}
                            {% if sb != '₹0.00' %}
                            <tr>
                                <td>Statutory Bonus</td>
                                <td ><input type="text" name="sb"  readonly value="{{ sb }}"></td>
                                <td><input type="text" name="annualsb"  readonly value="{{ annualsb }}"></td>
                            </tr>
                            {% endif %}
                            {% if sa != '₹0.00' %}
                            
                            <tr>
                                <td>Special Allowance</td>
                                <td ><input type="text" name="sa"  readonly value="{{ sa }}"></td>
                                <td><input type="text" name="annualsa"  readonly value="{{ annualsa }}"></td>
                            </tr>
                            {% endif %}
                            
                    
                            {% if gross_salary != '₹0.00' %}
                            <tr class="ss-table-total-one">
                                <td>Gross Salary (A)</td>
                                <td ><input type="text" name="gs"  readonly value="{{ gross_salary   }}"></td>
                                <td><input type="text" name="annualgs"  readonly value="{{ annualgs   }}"></td>
                            </tr>
                            {% endif %}
                            
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr class="salary-heading-two">
                                <td colspan="3" style="text-align: center;"><h3>Employee Contributions</h3></td>
                            </tr>
                            <tr class="ss-table-heading-two">
                                <th>Particulars</th>
                                <th>Monthly</th>
                                <th>Annual</th>
                            </tr>
                            {% if epf != '₹0.00' %}
                            <tr>
                                <td>Employee PF</td>
                                <td><input type="text" name="epf"  readonly value="{{ epf   }}"></td>
                                <td><input type="text" name="annualepf"  readonly value="{{ annualepf   }}"></td>
                            </tr>
                            {% endif %}
                            {% if esic != '₹0.00' %}
                            <tr>
                                <td>Employee ESIC</td>
                                <td><input type="text" name="esic"  readonly value="{{ esic   }}"></td>
                                <td><input type="text" name="annualesic"  readonly value="{{ annualesic   }}"></td>
                            </tr>
                            {% endif %}
                            {% if td != '₹0.00' %}
                            <tr class="ss-table-total-three1">
                                <td>Total Contribution (B) </td>
                                <td ><input type="text" name="tc"  readonly value="{{ td   }}"></td>
                                <td><input type="text" name="annualtc"  readonly value="{{ annualtd   }}"></td>
                            </tr>
                            {% endif %}
                            {% if ths != '₹0.00' %}
                                                    
                            <tr class="ss-table-total-two">
                                <td>Take Home Salary (C) = (A - B) </td>
                                <td ><input type="text" name="ths"  readonly value="{{ ths   }}"></td>
                                <td><input type="text" name="annualths"  readonly value="{{ annualths   }}"></td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr class="salary-heading-three">
                                <td colspan="3" style="text-align: center;"><h3>Employer Contributions</h3></td>
                            </tr>
                            <tr class="ss-table-heading-three">
                                <th>Particulars</th>
                                <th>Monthly</th>
                                <th>Annual</th>
                            </tr>
                            {% if erpf != '₹0.00' %}
                            <tr>
                                <td>Employer PF</td>
                                <td><input type="text" name="erpf"  readonly value="{{ erpf   }}"></td>
                                <td><input type="text" name="annualerpf"  readonly value="{{ annualerpf   }}"></td>
                            </tr>
                            {% endif %}
                            {% if erpf_admin != '₹0.00' %}
                            <tr>
                                <td>Employer PF Admin</td>
                                <td><input type="text" name="erpfadmin"  readonly value="{{ erpf_admin   }}"></td>
                                <td><input type="text" name="annualerpfadmin"  readonly value="{{ annualerpf_admin   }}"></td>
                            </tr>
                            {% endif %}
                            {% if ersic != '₹0.00' %}
                            <tr>
                                <td>Employer ESIC</td>
                                <td><input type="text" name="ersic"  readonly value="{{ ersic   }}"></td>
                                <td><input type="text" name="annualersic"  readonly value="{{ annualersic   }}"></td>
                            </tr>
                            {% endif %}
                            {% if gpa != '₹0.00' %}
                            <tr>
                                <td>Group Personal Accident</td>
                                <td ><input type="text" name="gpa"  readonly value="{{ gpa   }}"></td>
                                <td><input type="text" name="annualgpa"  readonly value="{{ annualgpa   }}"></td>
                            </tr>
                            {% endif %}
                            {% if gmi != '₹0.00' %}
    
                            <tr>
                                <td>Group Mediclaim Insurance</td>
                                <td ><input type="text" name="gmi"  readonly value="{{ gmi   }}"></td>
                                <td><input type="text" name="annualgmi"  readonly value="{{ annualgmi   }}"></td>
                            </tr>
                            {% endif %}
                            {% if tec != '₹0.00' %}
                            <tr class="ss-table-total-three">
                                <td>Total Employer Contribution (D) </td>
                                <td ><input type="text" name="tec"  readonly value="{{ tec   }}"></td>
                                <td><input type="text" name="annualtec"  readonly value="{{ annual_tec   }}"></td>
                            </tr>
                            {% endif %}
                            {% if ctc != '₹0.00' %}
                            <tr class="ctc-row">
                                <td>Cost To Company (CTC) (E) = (A + D)</td>
                                <td ><input type="text" name="ctc"  readonly value="{{ ctc   }}"></td>
                                <td><input type="text" name="annualctc"  readonly value="{{ annual_ctc   }}"></td>                            
                            </tr>
                            {% endif %}
                            
                        </tbody>
                    {% endif %}
                </table>
                
                
                <p> * The above salary structure doesn't contains Professional Tax Calculation.</p>
                
            </div>




            <div class="ssc">
                <p>&nbsp;</p>
                <br>
                <p>&nbsp;</p>
                <div class="ssc-heading-one">
                    <h3>Salary Structure Calculation : Consideration</h3>
                </div>

                <table class="ss-table">
                    <thead>
                        <tr class="ssc-heading-four">
                            <th style="text-align: left;">State</th>
                            <th style="text-align: right;">{{ dummy.fk_state_code }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if minimum_wage_list %}
                            {% for eachwage in minimum_wage_list %}
                            <tr>
                                <td>{{ eachwage.fk_skill_code }}</td>
                                <td>₹{{ eachwage.wages|floatformat:2|intcomma }}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}

                        <tr>
                            <td colspan="2"></td>
                        </tr>
                    
                        <tr>
                            <td>Designation</td>
                            <td>{{ dummy.fk_designation_code }}</td>
                        </tr>
                        <tr>
                            <td>Skill Type</td>
                            <td>{{ dummy.fk_designation_code.fk_skill_code }}</td>
                        </tr>
                        <tr>
                            <td>Minimum Wage Considered</td>
                            <td>{{ mwc }}</td>
                        </tr>
                        <tr>
                            <td>Gross Salary Entered</td>
                            <td>{{ gsa }}</td>
                        </tr>
                        <tr>
                            <td>Gross Salary Calculated</td>
                            <td>{{ gross_salary }}</td>
                        </tr>
                        <tr>
                            <td>Difference</td>
                            <td>{{ difference }}</td>
                        </tr>
                        
                        <tr>
                            <td>Salary Type Selected</td>
                            <td>{{ dummy.Salary_Type }}</td>
                        </tr>

                        <tr class="ssc-heading-four">
                            <td>Final Gross Salary Considered</td>
                            <td>{{ gross_salary}}</td>
                        </tr>

                        <tr class="ssc-heading-three">
                            <td>Final Net Salary</td>
                            <td>{{ ths }}</td>
                        </tr>

                        <tr class="ssc-heading-two">
                            <td>Final Employer Contribution</td>
                            <td>{{ tec }}</td>
                        </tr>
                        
                        <tr class="ssc-heading-one">
                            <td>Final CTC</td>
                            <td>{{ ctc }}</td>
                        </tr>

                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td>Group Personal Accident Coverage</td>
                            <td>{{ gpac }}</td>
                        </tr>
                        
                        
                        
                        
                    </tbody>
                </table>
            </div>
    
        </div>
        
       
        <div class="form_footer" style="width: 80vw;background: #fff;">
            
                <button onclick="getPDF()" class="delete-forms-close-btn" style="width: auto;">Save as PDF</button>        
                <button class="forms-save-btn" formaction="{% url 'csp_app:save_new_candidate' %}" type="submit">Save Candidate</button>
            </form>
        </div>
    </div>

    <script src="{% static 'csp_app/js/candidateajax.js' %}"></script>
    <script src="{% static 'csp_app/js/candidatedropdowns.js' %}"></script>

    <script src="{% static 'csp_app/js/candidatedom.js' %}"></script>
    <script src="{% static 'csp_app/js/salarypdf.js' %}"></script>
    <script>
        function showDelete(formid){
            document.getElementById(formid).style.display = "block";
            console.log(document.getElementById('crumbs').style.zIndex = 0);
        }
     </script>
     <script>
        $(document).ready(function(){
            
            $(document).keyup(function(){
                if (event.keyCode === 27){
                $("#salary_structure").css("display", "none");
                }
            });
            $(window).click(function(e) {
            if (e.target.id === 'salary_structure') {
                $("#salary_structure").css("display", "none");
            }   
            });  
                 
        });
    </script>
    
    
{% endblock %}
