{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% load humanize %} 
{% block titleblock %} New Candidate {% endblock %}

{% block bodyblock %} 

{% endblock %}

{% block tabcontentblock %}
{% if salaryst %}
    {% for s in salaryst %}
        <div id="salary_structure" class="form_modal" style="padding-top: 2%;display: block;">
                
                    
            <div class="form_header" style="width: 80vw;background: #fff;">
                <div class="forms-heading" style="background: #fff;">
                    <h2>Candidate Salary Structure</h2>
                    
                </div>
                <div class="hr_line" style="margin-bottom: 10px;">&nbsp;</div>
            </div>
            <div class="form_content" id="s-wrapper" style="width: 80vw;">
                
                <div class="ss canvas_div_pdf"> 
                    Name : {{ candidate.First_Name }} {{ candidate.Middle_Name }} {{ candidate.Last_Name }} 
                    Email : {{ candidate.Personal_Email_Id}} 
                    Phone Number : {{ candidate.Contact_Number }}
                    <div class="salary-heading-one">
                        <h3>Salary Structure</h3>
                    </div>

                    <table class="ss-table">
                        <thead>
                            <tr class="ss-table-heading-one">
                                <th>Particulars</th>
                                <th>Monthly</th>
                                <th>Annual</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Basic</td>
                                <td><input type="text" name="basic"  readonly value="{{ s.basic|intcomma }}"></td>
                                <td><input type="text" name="annualbasic" value=" {{ s.annual_basic|floatformat:2|intcomma }}" readonly></td>
                            </tr>
                            <tr>
                                <td>House Rent Allowance</td>
                                <td><input type="text" name="hra"  readonly value="{{ s.house_rent_allowance|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualhra"  readonly value="{{ s.annual_house_rent_allowance|floatformat:2|intcomma }}"></td>
                            </tr>
                            <tr>
                                <td>Statutory Bonus</td>
                                <td ><input type="text" name="sb"  readonly value="{{ s.statutory_bonus|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualsb"  readonly value="{{ s.annual_statutory_bonus|floatformat:2|intcomma }}"></td>
                            </tr>
                            <tr>
                                <td>Special Allowance</td>
                                <td ><input type="text" name="sa"  readonly value="{{ s.special_allowance|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualsa"  readonly value="{{ s.annual_special_allowance|floatformat:2|intcomma }}"></td>
                            </tr>
                        
                            <tr class="ss-table-total-one">
                                <td>Gross Salary (A)</td>
                                <td ><input type="text" name="gs"  readonly value="{{ s.gross_salary|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualgs"  readonly value="{{ s.annual_gross_salary|floatformat:2|intcomma }}"></td>
                            </tr>
                            {% if variable != 'infinity' %}
                            <tr>
                                <td>Variable </td>
                                <td ><input type="text" name="var"  readonly value="{{ s.variable|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualvar"  readonly value="{{ s.annual_var|floatformat:2|intcomma }}"></td>
                            </tr>
                            {% endif %}
                        
                        
                        </tbody>
                    </table>
                    <div>
                        &nbsp;
                    </div>
                    <div class="salary-heading-two">
                        <h3>Employee Contributions</h3>
                    </div> 
                    <table class="ss-table">
                        <thead>
                            <tr class="ss-table-heading-two">
                                <th>Particulars</th>
                                <th>Monthly</th>
                                <th>Annual</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Employee PF</td>
                                <td><input type="text" name="epf"  readonly value="{{ s.employee_pf|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualepf"  readonly value="{{ s.annuale_employee_pf|floatformat:2|intcomma }}"></td>
                            </tr>
                            <tr>
                                <td>Employee ESIC</td>
                                <td><input type="text" name="esic"  readonly value="{{ s.employee_esic|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualesic"  readonly value="{{ s.annual_employee_esic|floatformat:2|intcomma }}"></td>
                            </tr>
                            <tr class="ss-table-total-three1">
                                <td>Total Contribution (B) <div><small>*Excl Professional Tax Contribution</small></div> </td>
                                <td ><input type="text" name="tc"  readonly value="{{ s.employee_total_contribution|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualtc"  readonly value="{{ s.annual_employee_total_contribution|floatformat:2|intcomma }}"></td>
                            </tr>
                            <!-- <tr>
                                <td colspan="3"><small>*Excl Professional Tax Contribution</small></td>
                            </tr>  -->
                        
                            <tr class="ss-table-total-two">
                                <td>Take Home Salary (C) = (A - B) <div><small>*Excl Professional Tax Contribution</small></div> </td>
                                <td ><input type="text" name="ths"  readonly value="{{ s.ths|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualths"  readonly value="{{ s.annualths|floatformat:2|intcomma }}"></td>
                            </tr>
                            <!-- <tr>
                                <td colspan="3"><small>*Excl Professional Tax Contribution</small></td>
                            </tr>  -->
                        </tbody>
                    </table>
                    <div>
                        &nbsp;
                    </div>
                    <div class="salary-heading-three">
                        <h3>Employer Contributions</h3>
                    </div> 
                    <table class="ss-table">
                        <thead>
                            <tr class="ss-table-heading-three">
                                <th>Particulars</th>
                                <th>Monthly</th>
                                <th>Annual</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Employer PF</td>
                                <td><input type="text" name="erpf"  readonly value="{{ s.employer_pf|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualerpf"  readonly value="{{ s.annual_employer_pf|floatformat:2|intcomma }}"></td>
                            </tr>
                            <tr>
                                <td>Employer PF Admin</td>
                                <td><input type="text" name="erpfadmin"  readonly value="{{ s.employer_pf_admin|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualerpfadmin"  readonly value="{{ s.annual_employer_pf_admin|floatformat:2|intcomma }}"></td>
                            </tr>
                            <tr>
                                <td>Employer ESIC</td>
                                <td><input type="text" name="ersic"  readonly value="{{ s.employer_esic|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualersic"  readonly value="{{ s.annual_employer_esic|floatformat:2|intcomma }}"></td>
                            </tr>
                            <tr>
                                <td>Group Personal Accident</td>
                                <td ><input type="text" name="gpa"  readonly value="{{ s.group_personal_accident|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualgpa"  readonly value="{{ s.annual_group_personal_accident|floatformat:2|intcomma }}"></td>
                            </tr>
                            <tr>
                                <td>Group Mediclaim Insurance</td>
                                <td ><input type="text" name="gmi"  readonly value="{{ s.group_mediclaim_insurance|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualgmi"  readonly value="{{ s.annual_group_mediclaim_insurance|floatformat:2|intcomma }}"></td>
                            </tr>
                            <tr class="ss-table-total-three">
                                <td>Total Employer Contribution (D) </td>
                                <td ><input type="text" name="tec"  readonly value="{{ s.employer_total_contribution|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualtec"  readonly value="{{ s.annual_employer_total_contribution|floatformat:2|intcomma }}"></td>
                            </tr>
                            <tr class="ctc-row">
                                <td>Cost To Company (CTC) (E) = (A + D) <div><small>*Excl Professional Tax Contribution</small></div>  </td>
                                <td ><input type="text" name="ctc"  readonly value="{{ s.cost_to_company|floatformat:2|intcomma }}"></td>
                                <td><input type="text" name="annualctc"  readonly value="{{ s.annual_cost_to_company|floatformat:2|intcomma }}"></td>                            
                            </tr>
                            <!-- <tr>
                                <td colspan="3"><small>*Excl Professional Tax Contribution</small></td>
                            </tr>  -->
                        </tbody>
                    </table>
                </div>




                <div class="ssc">
                    <p>&nbsp;</p>
                    <div class="ssc-heading-one">
                        <h3>Salary Structure Calculation : Consideration</h3>
                    </div>

                    <table class="ss-table">
                        <thead>
                            <tr class="ssc-heading-four">
                                <th style="text-align: left;">State</th>
                                <th style="text-align: right;">{{ candidate.fk_state_code }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if minimum_wage_list %}
                                {% for eachwage in minimum_wage_list %}
                                <tr>
                                    <td>{{ eachwage.fk_skill_code }}</td>
                                    <td>{{ eachwage.wages }}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}

                            <tr>
                                <td colspan="2"></td>
                            </tr>
                        
                            <tr>
                                <td>Designation</td>
                                <td>{{ candidate.fk_designation_code }}</td>
                            </tr>
                            <tr>
                                <td>Skill Type</td>
                                <td>{{ candidate.fk_designation_code.fk_skill_code }}</td>
                            </tr>
                            <tr>
                                <td>Minimum Wage Considered</td>
                                <td>{{ minimum_wage.wages }}</td>
                            </tr>
                            <tr>
                                <td>Gross Salary Entered</td>
                                <td>{{ candidate.Gross_Salary_Amount }}</td>
                            </tr>
                            <tr>
                                <td>Gross Salary Calculated</td>
                                <td>{{ gross_salary }}</td>
                            </tr>
                            <tr>
                                <td>Difference</td>
                                <td>{{ difference }}</td>
                            </tr>
                            
                            <tr>
                                <td>Salary Type Selected</td>
                                <td>{{ candidate.Salary_Type }}</td>
                            </tr>

                            <tr class="ssc-heading-four">
                                <td>Final Gross Salary Considered</td>
                                <td>{{ gross_salary}}</td>
                            </tr>

                            <tr class="ssc-heading-three">
                                <td>Final Net Salary</td>
                                <td>{{ ths }}</td>
                            </tr>

                            <tr class="ssc-heading-two">
                                <td>Final Employer Contribution</td>
                                <td>{{ erpf }}</td>
                            </tr>
                            
                            <tr class="ssc-heading-one">
                                <td>Final CTC</td>
                                <td>{{ ctc }}</td>
                            </tr>

                            <tr>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td>Group Personal Accident Coverage</td>
                                <td>{{ gpa }}</td>
                            </tr>
                            
                            
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>


        <div class="form_footer" style="width: 80vw;background: #fff;">
                <button onclick="getPDF()" class="delete-forms-close-btn" style="width: auto;">Save as PDF</button>        
               
        </div>
        </div>
    {% endfor %}
{% endif %}
<script src="{% static 'csp_app/js/salarypdf.js' %}"></script>
{% endblock %}