{% extends 'csp_app/admindashboard.html' %}
{% load static %}
{% block titleblock %} View Candidate {% endblock %}

{% block bodyblock %} 

    <div class="tabs">
        <a href="{% url 'csp_app:candidate' %}" class="tab-btns active-tab"> Candidates</a>  
        {% if request.user.groups.all %}
            {% for eachgroup in request.user.groups.all %}
                {% if eachgroup.name == 'Vendor' %}
                    <a href="{% url 'csp_app:document_upload' me.pk %}" class="tab-btns">Documents</a> 

                {% endif %}
            {% endfor %}
        {% endif %} 
    </div>

{% endblock %}

{% block tabcontentblock %}
<div class="crumbs"><span><a href="{% url 'csp_app:candidate' %}">Candidates</a></span>
    <span><i class="fas fa-chevron-right"></i></span>
    <span >View Candidate</span>
    <span><i class="fas fa-chevron-right"></i></span>
    <span style="color: dimgray;">{{ me.pk }} | {{ me.First_Name }} {{ me.Middle_Name }} {{ me.Last_Name }}</span>
</div>
<div class="candidate_form">
    <div class="candidate_form_header">
        <div class="forms-heading">
            <h2>View Candidate Profile</h2>
        </div>
        <div class="hr_line" style="margin-bottom: 10px;">&nbsp;</div>
     
    </div>
    <div class="candidate_form_content">
        <div class="view-candidate-forms-input-holder">
            <div>
            <label class="move-out" for="c_firstname">Candidate Code</label>

            <input readonly value="{{ me.pk }}" class="no-right" style="background: #f5f5fa;    margin-right: 80px;" type="text" maxlength="30" placeholder="Candidate Code" name="c_id" >
            </div>
           
        </div>
        <div class="view-candidate-forms-input-holder">
            <div>
            <label class="move-out" for="c_firstname">First Name</label>

            <input readonly tabindex="1" class="input-text" value="{{ me.First_Name }}" type="text" maxlength="30" placeholder="First Name" name="c_firstname" id="c_firstname" required="true" autocapitalize="on" autofocus="true" tabindex="1"  >
            </div>
            <div class="margin-left">
                <label for="">Middle Name</label>
                <input readonly tabindex="2" type="text" value="{{ me.Middle_Name }}" maxlength="30" placeholder="Middle Name" name="c_middlename" id="c_middlename" autocapitalize="on" tabindex="2">
            </div>
        </div>
        <div class="view-candidate-forms-input-holder">
            <div>
            <label for="">Last Name</label>
            <input readonly tabindex="3" type="text" value="{{ me.Last_Name }}" maxlength="30" placeholder="Last Name" name="c_lastname" id="c_lastname"  autocapitalize="on" tabindex="3">
        
            </div>
            <div class="margin-left">
                <label for="" >Candidate Date of Birth</label>
                <input readonly tabindex="4" type="date" value="{{ me.Date_of_Birth }}" placeholder="Date Of Birth" name="c_dob" id="c_dob" required="true" tabindex="6" >
            </div>
        </div>
           <div class="view-candidate-forms-input-holder">
            <div>
            <label for="">Contact Number</label>
            <input readonly tabindex="5" type="text" value="{{ me.Contact_Number }}" placeholder="Contact Number" name="c_contact" id="c_contact" required="true" pattern="[6-9]{1}[0-9]{9}" minlength="10" maxlength="10">
             </div>
            <div class="margin-left">
            <label for="" >Emergency Number</label>
            <input readonly tabindex="6" type="text" value="{{ me.Emergency_Contact_Number }}" placeholder="Emergency Contact Number" name="c_emergency" id="c_emergency" onblur="sameNumber('c_contact', 'c_emergency', this)" title="Emergency No. Cannot Be Same As Contact No." required="true" pattern="[6-9]{1}[0-9]{9}" minlength="10" maxlength="10">
            <span id='message'></span>    
        </div>
        </div>
           <div class="view-candidate-forms-input-holder">
            <div>
            <label for="">Email ID</label>
            <input readonly tabindex="7" type="email" value="{{ me.Personal_Email_Id }}" maxlength="50" name="c_email" tabindex="7" id="email" placeholder="Email Id">
             </div>
            <div class="margin-left">
            <label for="" >Gender</label>
            <input readonly type="text" value="{{ me.Gender }}">
            
        
        </div>
    </div>
       
           <div class="view-candidate-forms-input-holder">
            <div>
            <label for="">Father Name</label>
            <input readonly tabindex="9" type="text" value="{{ me.Father_Name }}" placeholder="Father Name" name="c_fathername" id="c_fathername" required="true" tabindex="5">
             </div>
            <div class="margin-left">
            <label for="" >Mother Name</label>
            <input readonly tabindex="10" type="text" value="{{ me.Mother_Name }}" name="c_father_dob" id="c_father_dob" required="true" tabindex="4" >
   
            </div>
    </div>
        
           <div class="view-candidate-forms-input-holder">
            <div>
            <label for="">Aadhaar Number</label>
            <input readonly tabindex="11" type="text" value="{{ me.Aadhaar_Number }}" placeholder="Aadhaar Number" name="c_aadhaar" id="c_aadhaar" required="true" maxlength="12" minlength="12" pattern="[0-9]{12}">
             </div>
            <div class="margin-left">
            <label for="" >PAN Number</label>
            <input readonly tabindex="12" type="text" value="{{ me.PAN_Number }}" placeholder="PAN Number" name="c_pan" id="c_pan" required="true" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" minlength="10" maxlength="10">
  
        </div>
    </div>
           <div class="view-candidate-forms-input-holder">
            <div>               
            <label for="">Type Of Hiring</label>
            <input readonly type="text" value="{{ me.Type_of_Hiring  }}">
          
             </div>
             <div class="margin-left">
                <label for="">Replacement UID </label>
                <input readonly tabindex="14" type="text"  value="{{ me.Replacement }}" placeholder="Replacement UID" name="c_replace" id = "c_replacement" pattern="[U]{1}[0-9]{2,5}" maxlength="6" autocapitalize="on">
            </div>
    </div>

        <div class="view-candidate-forms-input-holder">
            <div>
                <label for="">Sub Source</label>
                <input readonly type="text" value="{{ me.Sub_Source  }}">

            </div>
           
            <div class="margin-left">
                <label for="" >Referal UID</label>
                <input readonly tabindex="16" type="text" value="{{ me.Referral }}" placeholder="Referral" name="c_referral" id="c_referral" pattern="[U]{1}[0-9]{2,5}" maxlength="6" autocapitalize="on">
      
            </div>
        </div>
           <div class="view-candidate-forms-input-holder">
           
             <div>
                <label for="" >Date of Joining</label>
                <input readonly tabindex="17" type="date" value="{{ me.Date_of_Joining|date:'Y-m-d' }}" placeholder="Date Of Joining" name="c_doj" required="true" tabindex="4" id="{{ request.user.is_staff }}">
           
            </div>
            <div class="margin-left">
                <label for="">Physically Challenged</label>
                <input type="text" readonly disabled="true" value="{{ me.physically_challenged }}">
                
            </div>
            
    </div>

    <div class="view-candidate-forms-input-holder">
        <div>
            <label for="" >Company</label>
            <input readonly type="text" value="{{ me.fk_entity_code }}">
        
        </div>
        <div class="margin-left">
                <label for="">Vendor</label>
                <input readonly type="text" value="{{ me.fk_vendor_code }}">

        </div>
        
    </div>
    <div class="view-candidate-forms-input-holder">
        <div>
            <label for="" >Department</label>
            <input readonly type="text" value="{{ me.fk_department_code }}">

     
        </div>
        <div class="margin-left">
            <label for="">Function</label>
            <input readonly type="text" value="{{ me.fk_function_code }}">

            
        </div>
       
    </div>
    <div class="view-candidate-forms-input-holder">
        <div>
            <label for="" >Team</label>
            <input readonly type="text" value="{{ me.fk_team_code }}">

        </div>
        <div class="margin-left">
            <label for="">Sub Team</label>
            <input readonly type="text" value="{{ me.fk_subteam_code }}">

        </div>
       
    </div>
    <div class="view-candidate-forms-input-holder">
        <div>
            <label for="" >Designation</label>
            <input readonly type="text" value="{{ me.fk_designation_code }}">

        </div>
        <div class="margin-left">
            <label for="">Region</label>

            <input readonly type="text" value="{{ me.fk_region_code }}">
        
        </div>
               
    </div>
    <div class="view-candidate-forms-input-holder">
        <div>
            <label for="">City</label>
            <input readonly type="text" value="{{ me.fk_city_code }}">

          
        </div>
        <div class="margin-left">
            <label for="" >State</label>
            <input readonly type="text" value="{{ me.fk_state_code }}">

        </div>
    </div>
    <div class="view-candidate-forms-input-holder">
        <div>
            <label for="" >Location</label>
            <input readonly type="text" value="{{ me.fk_location_code }}">

          
        </div>
        <div class="margin-left">
           
                    
                    

        </div>
    </div>
    <div class="view-candidate-forms-input-holder">
        <div>
            <label for="" >TA SPOC Email ID</label>
            <input readonly tabindex="29" type="email" readonly value="{{ me.TA_Spoc_Email_Id }}" placeholder="TA SPOC Email ID" name="c_ta_spoc" required="true">
        </div>
        <div class="margin-left">
            <label for="" >Onboarding SPOC Email ID</label>
            <input readonly tabindex="30" type="email" readonly value="{{ me.Onboarding_Spoc_Email_Id }}" placeholder="Onboarding SPOC Email ID" name="c_onboarding_spoc" required="true">         
        </div>
    </div>
    <div class="view-candidate-forms-input-holder">
        <div>
            <label for="">Reporting / Hiring Manager Name</label>
            <input readonly type="text" tabindex="31" value="{{ me.Reporting_Manager }}" placeholder="Reporting Manager" name="c_reporting_manager" id="reporting_manager" required="true" maxlength="50" autocapitalize="on">
             </div>
            <div class="margin-left">
            <label for="" >Reporting / Hiring Manager Email ID</label>

            <input readonly type="email" tabindex="32" value="{{ me.Reporting_Manager_E_Mail_ID }}" placeholder="Reporting Manager Email ID" id="reporting_manager_email" name="c_reporting_manager_email" required="true">
     
        </div>
    </div>
        
    <div class="view-candidate-forms-input-holder">
           
        <div>
            <label for="" >Laptop Allocation</label>
            <input readonly type="text" value="{{ me.Laptop_Allocation }}" id="">
           
        </div>
        <div class="margin-left">
              
            <label for="">Email ID Creation</label>
            <input readonly type="text" value="{{ me.E_Mail_ID_Creation }}" id="">
           
                
        </div>
    </div>
    <div class="view-candidate-forms-input-holder">
        <div>
            <label for="">Salary Type</label>
            <input readonly type="text" value="{{ me.Salary_Type }}" id="">
            
        </div>
        <div class="margin-left">
            <label for="" >Gross Salary</label>
            <input readonly tabindex="36" type="text" value="{{ me.Gross_Salary_Amount }}" placeholder="Gross Salary Amount" name="c_gross_salary" id="c_salary" required="true" maxlength="10" minlength="1">
            <span id="wage_result" style="color: #bf0711;"></span>
        </div>

    </div>
  
    <div class="view-candidate-forms-input-holder">
        <div>
            <label for="" >Onboarding Status</label>
            <input readonly tabindex="37" type="text" value="{{ me.onboarding_status }}" placeholder="Onboarding Status" disabled="true">
        </div>
        <div class="margin-left">
            <label for="" >Vendor Status</label>
            <input readonly tabindex="38" type="text" value="{{ me.vendor_status }}" placeholder="Vendor Status" disabled="true">
        </div>
    </div>
    <a href="/view_salary_structure/{{ me.pk }}/" target="_blank">View Salary Structure</a>
                
</div>
  
  </div>

{% endblock %}
